<template>
	<div>
		<section class="parallax">
	      <div class="container">
	        <div class="row">
	          <div class="col-md-12">
	            <h1>Home details</h1>            
	          </div>
	        </div>
	      </div>
	    </section>
	    
	    <section>
	      <div class="container tight">
	        <div class="row">
            <div class="col-md-12">
              <form>
                <div class="bottom-border-block">
									<div class="form-group">
										<label for="kpa_pin">Enter your KRA PIN number</label>
										<div class="form-inline form-horizontal">
											<input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'personal_identification_number', policies[0].profiles[0].personal_identification_number)" ref="kra_pin" :class="{'input': true, 'is-danger': errors.has('kra pin') }" type="text" name="kra pin" id="personal_identification_number" v-model="policies[0].profiles[0].personal_identification_number" maxlength="32">
											<span v-show="errors.has('kra pin')" class="help is-danger">{{ errors.first('kra pin') }}</span>
										</div>
									</div>

	                <div class="form-group">
	                  <label for="plot_no">Specify the Plot No., where your house is</label>                
	                  <input type="text" v-validate="'required'" class="form-control" name="house apartment plot number" v-model="policies[0].profiles[0].house_apartment_plot_number" @blur="updatePolicyProfile(0, 0, 'house_apartment_plot_number', policies[0].profiles[0].house_apartment_plot_number)">                     
                    <span v-show="errors.has('house apartment plot number')" class="help is-danger">{{ errors.first('house apartment plot number') }}</span>
	                </div>
	              </div>

								<div class="bottom-border-block">
									<div class="form-group">
										<label for="">Does a value of any household item that you want to insure exceed a value of 50,000 KES? Except furniture, household appliances, pianos and organs.</label>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-xs-6">
												<div class="radio">
													<label>
														<input type="radio" v-validate="'required'" name="household items exceed 50,000 KES" v-model="policies[0].profiles[0].household_items_exceed" @click="updatePolicyProfile(0, 0, 'household_items_exceed', policies[0].profiles[0].household_items_exceed)" :value="true">
														<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
														<span class="label-text">Yes</span>
													</label>
												</div>
											</div>

											<div class="col-xs-6">
												<div class="radio">
													<label>
														<input type="radio" v-validate="'required'" name="household items exceed 50,000 KES" v-model="policies[0].profiles[0].household_items_exceed" @click="updatePolicyProfile(0, 0, 'household_items_exceed', policies[0].profiles[0].household_items_exceed)" :value="false">
														<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
														<span class="label-text">No</span>
													</label>
												</div>
											</div>
										</div>

										<span v-show="errors.has('household items exceed 50,000 KES')" class="help is-danger">{{ errors.first('household items exceed 50,000 KES') }}</span> 
									</div>             
								</div>

								<div class="bottom-border-block" v-if="policies[0].profiles[0].household_items_exceed">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Enter the item's name</label>
												<input type="text" class="form-control" v-model="household_item.item">                    
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Enter the item's value</label>
												<input type="text" class="form-control" v-model="household_item.value">
											</div>
										</div>
									</div>            

									<div class="row form">
										<div class="col-md-12">
											<div class="form-group">
												<a class="circle-link" @click.prevent="addHouseHoldItems">
													<span class="icon-wrapper">
														<i class="fa fa-plus"></i>
													</span>
													ADD ITEM
												</a>
											</div>
										</div>
									</div>

									<div class="form-group file-upload">
											<label for="">Upload a copy of your national ID</label>
											<upload></upload>
									</div>
								</div>

								<div class="bottom-border-block">
									<div class="form-group">
										<label for="">
											Does a value of any portable item that you want to insure exceed a value of 50,000 KES?
											For example jewelry, watch or related. Except devices.
										</label>
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-xs-6">
												<div class="radio">
													<label>
														<input type="radio" name="portable items exceed 50,000 KES" v-model="policies[0].profiles[0].portable_items_exceed" @click="updatePolicyProfile(0, 0, 'portable_items_exceed', policies[0].profiles[0].portable_items_exceed)" :value="true">
														<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
														<span class="label-text">Yes</span>
													</label>
												</div>
											</div>

											<div class="col-xs-6">
												<div class="radio">
													<label>
														<input type="radio" name="portable items exceed 50,000 KES" v-model="policies[0].profiles[0].portable_items_exceed" @click="updatePolicyProfile(0, 0, 'portable_items_exceed', policies[0].profiles[0].portable_items_exceed)" :value="false">
														<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
														<span class="label-text">No</span>
													</label>
												</div>
											</div>

											<span v-show="errors.has('portable items exceed 50,000 KES')" class="help is-danger">{{ errors.first('portable items exceed 50,000 KES') }}</span> 
										</div>
									</div>             
								</div>

								<div class="bottom-border-block" v-if="policies[0].profiles[0].portable_items_exceed">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Enter the item's name</label>
												<input type="text" class="form-control">                    
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Enter the item's value</label>
												<input type="text" class="form-control">
											</div>
										</div>
									</div>            

									<div class="row form">
										<div class="col-md-12">
											<div class="form-group">
												<a class="circle-link">
													<span class="icon-wrapper">
														<i class="fa fa-plus"></i>
													</span>
													ADD ITEM
												</a>
											</div>
										</div>
									</div>

									<div class="form-group file-upload">
											<label for="">Upload a copy of your national ID</label>
											<upload></upload>
									</div>
								</div>

								<div class="title">
									<a href="#" class="ghost-link" @click.prevent="back">Back</a>
									<a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
								</div>
							</form>
						</div>
	        </div>
	      </div>
	    </section>
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Personal_primary",

  data() {
    return {
      // policies: this.$lodash.cloneDeep(this.$store.state.policies)
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      household_item: "householdItem",
      policies: "policies",
    })
  },

  methods: {
    addHouseHoldItems() {
      this.$store.dispatch("postHouseholdItems", this.household_item);
    },
    moment: function(date, format) {
      return this.$moment(date, format);
    },

    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    getBiometrics() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store
            .dispatch(
              "getBiometrics",
              this.policies[0].profiles[0].next_of_kin_national_id
            )
            .then(response => {
              if (this.biometrics.FULL_NAMES) {
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_first_name",
                  this.biometrics.FULL_NAMES.split(" ")[0]
                );
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_middle_name",
                  this.biometrics.FULL_NAMES.split(" ").length > 2
                    ? this.biometrics.FULL_NAMES.split(" ")[1]
                    : null
                );
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_last_name",
                  this.biometrics.FULL_NAMES.split(" ").length > 2
                    ? this.biometrics.FULL_NAMES.split(" ")[2]
                    : this.biometrics.FULL_NAMES.split(" ")[1]
                );
              }

              if (this.biometrics.DATE_OF_BIRTH) {
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_date_of_birth",
                  this.biometrics.DATE_OF_BIRTH
                );
              }

              if (this.biometrics.GENDER) {
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_gender",
                  this.biometrics.GENDER
                );
              }

              if (
                !this.biometrics.FULL_NAMES &&
                !this.biometrics.DATE_OF_BIRTH &&
                !this.biometrics.GENDER
              ) {
                this.$modal.show("biometrics-status-verify-later");
              }
            });
        }
      });
    },

    submit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postPolicySync").then(response => {
            this.$router.push(
              "/policies/" +
                response.data.data.policies[0].id +
                "/profiles/" +
                response.data.data.policies[0].profiles[0].id +
                "/" +
                response.data.data.policies[0].profiles[0].sections.next_section
            );

            this.$store.commit("updatePolicyProfile", {
              policyIndex: 0,
              profileIndex: 0,
              field: "current_section",
              value: response.data.data.policies[0].profiles[0].sections.next_section
            });

            this.$store.dispatch("postPolicySync");
          });
        }
      });
    }
  }
};
</script>

<style lang="scss">
.disable_option {
  color: #ccc;
}
</style>
