<template>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="bottom-border-block">
                    <div class="form-group">
                        <label ref="home_selected">
                            Would you like to insure the building structure ?
                        </label>
                        <br>
                        <span>
                            This covers all the following:
                            <br>
                            a. The building structure of a private dwelling house or apartment and all the domestic premises.
                            <br>
                            b. Garage and outbuildings on the same premises and used in connection therewith.
                            <br>
                            c. The walls gates and fences etc.
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" v-model="profiles[0].building" :value="true" @click="updateProfiles('building', profiles[0].building)">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        <span class="label-text">Yes</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" v-model="profiles[0].building" :value="false" @click="updateProfiles('building', profiles[0].building)">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        <span class="label-text">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bottom-border-block" v-if="profiles[0].building">
                    <div class="form-group">
                        <label for="sum_insured_on_building">Enter the total value of the building to be insured, KES</label>
                        <input v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('sum insured on building') }" v-model="profiles[0].sum_insured_on_building" @blur="updateProfiles('sum_insured_on_building', profiles[0].sum_insured_on_building)" class="form-control" name="sum insured on building">
                        <span v-show="errors.has('sum insured on building')" class="help is-danger">{{ errors.first('sum insured on building') }}</span>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group">
                        <label for="household_items">
                            Would you like to insure your household items?
                        </label>
                        <br>
                        <span>
                            This covers household items that are confined to the premises.  E.g. furniture, TV set, all household goods.                        
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" v-model="profiles[0].covers_household_items" :value="true" @click="updateProfiles('covers_household_items', profiles[0].covers_household_items)">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        <span class="label-text">Yes</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" v-model="profiles[0].covers_household_items" :value="false" @click="updateProfiles('covers_household_items', profiles[0].covers_household_items)">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        <span class="label-text">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block" v-if="profiles[0].covers_household_items">
                    <div class="form-group">
                        <label for="household_value">Enter the total value of all household items to be insured, KES</label>
                        <input v-validate="'required'" v-model="profiles[0].sum_insured_on_household_items" @blur="updateProfiles('sum_insured_on_household_items', profiles[0].sum_insured_on_household_items)" class="form-control" name="household value">
                        <span v-show="errors.has('household value')" class="help is-danger">{{ errors.first('household value') }}</span>                        
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group">
                        <label for="portable_items">
                            Would you like to insure your portable items?
                        </label>
                        <br>
                        <span>
                            This covers items that are portable in nature and are naturally not confined in the premises e.g. mobile phones, cameras, laptop, watches, jewelry and other portable personal effects that are not restricted to the house.
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="radio">
                                    <label>
                                        <input :disabled="!profiles[0].covers_household_items && !profiles[0].building" type="radio" v-model="profiles[0].portable_items" :value="true" @click="updateProfiles('portable_items', profiles[0].portable_items)">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        <span class="label-text">Yes</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="radio">
                                    <label>
                                        <input :disabled="!profiles[0].covers_household_items && !profiles[0].building" type="radio" v-model="profiles[0].portable_items" :value="false" @click="updateProfiles('portable_items', profiles[0].portable_items)">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        <span class="label-text">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bottom-border-block" v-if="profiles[0].portable_items">
                    <div class="form-group">
                        <label for="sum_insured_on_portable_items">Enter the total value of all portable items to be insured, KES</label>
                        <input v-validate="'required'" v-model="profiles[0].sum_insured_on_portable_items" @blur="updateProfiles('sum_insured_on_portable_items', profiles[0].sum_insured_on_portable_items)" class="form-control" name="sum insured on portable items">
                        <span v-show="errors.has('sum insured on portable items')" class="help is-danger">{{ errors.first('sum insured on portable items') }}</span>                        
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group">
                        <label for="domestic_employees">
                            Would you like to insure your domestic employees?
                        </label>
                        <br>
                        <span>
                            This covers them under WIBA (Work Injury Benefits Act). Domestic employees are servants employed indoors, and servants employeed outdoors such as stablemen, gardeners, watchmen and drivers.
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="radio">
                                    <label>
                                        <input :disabled="!profiles[0].covers_household_items && !profiles[0].building" type="radio" v-model="profiles[0].insure_domestic_employees" @click="updateProfiles('insure_domestic_employees', profiles[0].insure_domestic_employees)" :value="true">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        <span class="label-text">Yes</span>
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-xs-6">
                                <div class="radio">
                                    <label>
                                        <input :disabled="!profiles[0].covers_household_items && !profiles[0].building" type="radio" v-model="profiles[0].insure_domestic_employees" @click="updateProfiles('insure_domestic_employees', profiles[0].insure_domestic_employees)" :value="false">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        <span class="label-text">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block" v-if="profiles[0].insure_domestic_employees">
                    <div class="form-group">
                        <label for="indoor_employeers">Enter the number of indoor employeers</label>                  
                        <input v-validate="'required'" v-model="profiles[0].indoors_employees" @blur="updateProfiles('indoors_employees', profiles[0].indoors_employees)" class="form-control" name="indoor employeers">
                        <span v-show="errors.has('indoor employeers')" class="help is-danger">{{ errors.first('indoor employeers') }}</span>
                    </div>

                    <div class="form-group">
                        <label for="outdoor_employeers">Enter the number of outdoor employeers</label>                    
                        <input v-validate="'required'" v-model="profiles[0].outdoors_employees" @blur="updateProfiles('outdoor_employeers', profiles[0].outdoor_employeers)" class="form-control" name="outdoor employeers">
                        <span v-show="errors.has('outdoor employeers')" class="help is-danger">{{ errors.first('outdoor employeers') }}</span>
                    </div>
                </div>

                <div class="bottom-border-block">
                    <div class="form-group text-center">                    
                        <button class="btn btn-default" @click.prevent="getQuotes" :disabled="loading">{{ !loading? 'get free quotes' : 'loading...' }}</button>
                    </div>
                </div>                
            </form>                      
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {  
        name: 'Home_quotes', 

        props: ['btn-txt'],

        computed: {
            ...mapGetters({                
                profiles: 'profiles',               
                loading: 'loading',               
            })
        },  

        mounted(){
            this.$refs.home_selected.focus();

            let center = $(window).height() / 2;
            let top = $(this.$refs.home_selected).offset().top;

            if (top > center) {
                $(window).scrollTop(top - center);
            }
        },
        
        methods: {       
            updateProfiles: function(field, value) {
                for (let profileIndex = 0; profileIndex < this.profiles.length; profileIndex++) { 					
                    this.updateProfile(profileIndex, field, value);
                }
            },

            updateProfile: function(profileIndex, field, value) {
				this.$store.commit('updateProfiles', {profileIndex, field, value});
			},

            getQuotes: function() {				
                this.$validator.validateAll().then((result) => {                    
                    if (result) {       
						
                        this.$store.dispatch('postQuotesStore').then((response) => { 
                            this.$store.commit('setProfiles', response.data.data.profiles);                           
                            this.$router.push('/quotes/' + response.data.data.quote.id); 
                        });    
                    }
                });
            }           
        }
    }
</script>

<style scoped>
    
</style>
