<template>
    <div class="row">
        <div class="col-md-12">
            
            <form>
                <div class="bottom-border-block">
                    <div class="form-group">
                        <label ref="travel_selected">
                            Specify travelers?
                        </label>                    
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">                            
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" v-model="profiles[0].adult_traveller">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        <span class="label-text">Adult travelers</span>
                                    </label>
                                </div>

                                <div>                                
                                    <div v-if="profiles[0].adult_traveller == '1'">
                                        <input v-model="profiles[0].adult_travelers" class="form-control" type="number" step="1" min="0" @keyup="profilesChanged" @change="profilesChanged">
                                    </div>
                                </div>
                                <br>                            
                                
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" v-model="profiles[0].under_18_years">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        <span class="label-text">Children Under 18</span>
                                    </label>
                                </div>

                                <div>                                
                                    <div v-if="profiles[0].under_18_years == '1'">
                                        <input v-model="profiles[0].dependant_travelers" class="form-control" type="number" step="1" min="0" @keyup="profilesChanged" @change="profilesChanged"> 
                                    </div>
                                </div>
                            </div>
                        </div>              
                    </div>                    
                </div>

                <div class="bottom-border-block" v-if="profiles[0].adult_travelers != 0 || profiles[0].dependant_travelers != 0">
                    <div class="form-group">
                        <label for="cover_start">Dates of birthday for each adult</label>
                        <div class="form-group" v-for="(profile, index) in profiles" :key="index" v-if="(profiles[0].adult_travelers != 0 || profiles[0].dependant_travelers != 0) && index < profile.adult_travelers">
                            <div class="row">
                                <div class="col-md-12">                  
                                    <div>
                                        Adult {{ index + 1 }}'s date of birth <flat-pickr :config="config" v-model="profile.date_of_birth" @input="updateProfile(index, 'date_of_birth', profile.date_of_birth)" :name="'adult ' + (index + 1) +'\'s date of birth'" v-validate="{required: true}"></flat-pickr>
                                    </div>

                                    <span v-show="errors.has('adult ' + (index + 1) +'\'s date of birth')" class="help is-danger">{{ errors.first('adult ' + (index + 1) +'\'s date of birth') }}</span>
                                </div>                                            
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="bottom-border-block">
                    <div class="form-group">
						<label for="cover_start">Country of travel</label>
						  
						<select class="form-control" v-model="profiles[0].country_of_travel_id" name="country of travel" v-validate="'required'" @change="updateProfiles('country_of_travel_id', profiles[0].country_of_travel_id)">                    
							<option v-for="country in countries" :key="country.id" :value="country.id">{{ country.name }}</option>
						</select>
						<span v-show="errors.has('country of travel')" class="help is-danger">{{ errors.first('country of travel') }}</span>
                    </div>  

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Departure date</label>
                                <div>
                                    <flat-pickr :config="configTrvlDates" v-model="profiles[0].departure_date" @input="updateProfiles('departure_date', profiles[0].departure_date)"  name="departure date" v-validate="{required: true}"></flat-pickr>
                                </div>

                                <span v-show="errors.has('departure date')" class="help is-danger">{{ errors.first('departure date') }}</span>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Return date</label>    
                                <div>
                                    <flat-pickr :config="configTrvlDates" v-model="profiles[0].return_date" @input="updateProfiles('return_date', profiles[0].return_date)"  name="return date" v-validate="{required: true}"></flat-pickr>
                                </div>  

                                <span v-show="errors.has('return date')" class="help is-danger">{{ errors.first('return date') }}</span>         
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group text-center">                    
                        <button class="btn btn-default" @click.prevent="getQuotes" :disabled="loading">{{ !loading? 'get free quotes' : 'loading...' }}</button>
                    </div>
                </div> 
            </form>
        </div>
    </div>                 
</template>

<script>

    import { mapGetters } from "vuex";

    export default {
        name: "Travel_quotes",

        props: ["btn-txt"],

        data() {
            return {
                config: {                    
                    dateFormat: 'd-m-Y',    
                    maxDate: new Date()
                },
                configTrvlDates: {                    
                    dateFormat: 'd-m-Y',       
                    minDate: new Date()
                },
            };
        },

        computed: {
            ...mapGetters({
                profiles: "profiles",
                coverTypes: "coverTypes",
                countries: "countries",
                loading: "loading"
            })
        },

        mounted() {
            this.$store.dispatch("getCoverTypes");
            this.$store.dispatch("getCountries");
			this.updateProfiles('current_section', 'quotes');
			
			this.$refs.travel_selected.focus();

            let center = $(window).height() / 2;
            let top = $(this.$refs.travel_selected).offset().top;

            if (top > center) {
                $(window).scrollTop(top - center);
            }

            
            var under_18 = 0;
            var adult = 0;

            this.profiles.forEach((profile, index) => {
                if(
                    this.$moment().diff(
                            this.$moment(
                                this.profiles[index].date_of_birth,
                                "DD-MM-YYYY"
                            ).format("YYYY-MM-DD"),
                            "years"
                        ) >= 19
                    ){
                    adult +=1;
                }else{
                    if(this.profiles[index].date_of_birth != null){
                        under_18 +=1;
                    }
                }
            });

            if(under_18 != 0){
                this.profiles[0].under_18_years = true;
                this.profiles[0].dependant_travelers = under_18;
            }
            if(adult != 0){
                this.profiles[0].adult_traveller = true;
                this.profiles[0].adult_travelers = adult;
            }
        },

        methods: {
            moment: function(date, format) {
				return this.$moment(date, format);
            },
            
            profilesChanged: function() {        
                let profiles = [];

                profiles[0] = this.profiles[0];

                for (let index = 0; index < ((this.profiles[0].adult_travelers * 1) + (this.profiles[0].dependant_travelers * 1)); index++) {                    
                    if (index) {
                        const profile = Object.assign({}, this.profiles[0]);
                        profiles.push(profile);
                    }
                }

                this.$store.commit('setProfiles', profiles);

                if ((this.profiles[0].dependant_travelers * 1) > 0) {
                    for (let profileIndex = 0; profileIndex < ((this.profiles[0].adult_travelers * 1) + (this.profiles[0].dependant_travelers * 1)); profileIndex++) {                    
                        if (profileIndex >= (this.profiles[0].adult_travelers * 1)) {
                           this.updateProfile(profileIndex, 'date_of_birth', this.$moment().subtract(18, 'years').format('DD-MM-YYYY'));
                        }
                    }
                } 
            },

            updateProfiles: function(field, value) {
                for (let profileIndex = 0; profileIndex < this.profiles.length; profileIndex++) { 	
                    this.updateProfile(profileIndex, field, value);
                }
            },

            updateProfile: function(profileIndex, field, value) {				
				this.$store.commit('updateProfiles', {profileIndex, field, value});
			},
            
            getQuotes: function() {				
                this.$validator.validateAll().then((result) => {                    
                    if (result) {       
						
                        this.$store.dispatch('postQuotesStore').then((response) => { 
                            this.$store.commit('setProfiles', response.data.data.profiles);                           
                            this.$router.push('/quotes/' + response.data.data.quote.id); 
                        });    
                    }
                });
            }
        }
    };
 
</script>

<style scoped>
.checkbox label {
  width: 100%;
}

.checkbox .label-text {
  width: 80%;
  line-height: 1.9em;
}
</style>
