<template>
	<div>
	    <section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Additional Information</h1>
						
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Additional Information</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	    
	    <section>
	      <div class="container tight">
	        <div class="row">
				<div class="col-md-12">
					<form>            
						<div class="bottom-border-block">
							<div class="form-group">
								<label for="">Are you included?</label>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<div class="radio">
											<label>
												<input type="radio" name="cover_for_self" v-model="policies[0].profiles[0].cover_for_self" :value="true" @click="updatePolicyProfile(0, 0, 'cover_for_self', policies[0].profiles[0].cover_for_self)">
												<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
												<span class="label-text">Yes</span>
											</label>
										</div>
									</div>

									<div class="col-xs-6">
										<div class="radio">
											<label>
												<input type="radio" name="cover_for_self" v-model="policies[0].profiles[0].cover_for_self" :value="false" @click="updatePolicyProfile(0, 0, 'cover_for_self', policies[0].profiles[0].cover_for_self)">
												<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
												<span class="label-text">No</span>
											</label>
										</div>
									</div>
								</div>
							</div>             
						</div>

						<!-- <div class="bottom-border-block">
							<div class="form-group">
								<h3>Your details</h3>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<label for="">First Name</label>
										<input type="text" class="form-control" v-validate="'required'" name="first name" v-model="policies[0].profiles[0].first_name" @blur="updatePolicyProfile(0, 0, 'first_name', policies[0].profiles[0].first_name)">                     
										<span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
									</div>

									<div class="col-xs-6">
										<label for="">Last Name</label>
										<input type="text" class="form-control" v-validate="'required'" name="last name" v-model="policies[0].profiles[0].last_name" @click="updatePolicyProfile(0, 0, 'last_name', policies[0].profiles[0].last_name)">
										<span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
									</div>																																
								</div>
							</div> 

							<div class="form-group">
								<label for="gender">Gender</label>
									
								<select id="gender" @change="updatePolicyProfile(0, 0, 'gender', policies[0].profiles[0].gender)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('county') }" name="county" v-model="policies[0].profiles[0].gender">                                
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
								<span v-show="errors.has('gender')" class="help is-danger">{{ errors.first('gender') }}</span>
							</div>

							<div class="form-group">
								<label for="">Date of birth</label>      

								<div>
									<date-picker :date="date" :option="principalDatePicker" placeholder="Date of birth"></date-picker>
								</div>
							</div>
						</div>
						
						<div class="bottom-border-block" v-for="(profile, pIndex) in policies[0].profiles" v-if="pIndex > 0">
							<div >
								<div class="form-group">
									<h3>Dependent's {{ pIndex }} details</h3>
								</div>

								<div class="form-group" v-if="moment().diff(moment(profile.date_of_birth, 'DD-MM-YYYY').format('YYYY-MM-DD'), 'years') >= 18">
                                    <label for="kpa_pin">Enter your National ID number</label>
                                    <div class="form-inline form-horizontal">
                                        <input v-validate="'required'" ref="national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="national_id" v-model="policies[0].profiles[pIndex].national_id" @blur="updatePolicyProfile(0, pIndex, 'national_id', policies[0].profiles[pIndex].national_id)" maxlength="32" :disabled="loading">
                                        <button type="button" class="btn btn-default" @click.prevent="getBiometrics(pIndex)" :disabled="loading" autofocus>{{ loading? 'loading...' : 'verify' }}</button>
                                        <span v-show="errors.has('National ID')" class="help is-danger">{{ errors.first('National ID') }}</span><br><br>
                                        <div class="national-id-title">Some explanation why National ID is necessary to specify</div>
                                    </div>
                                </div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-6">
											<label for="">First Name</label>
											<input type="text" class="form-control" name="first name" v-model="policies[0].profiles[pIndex].first_name" @blur="updatePolicyProfile(0, pIndex, 'first_name', policies[0].profiles[pIndex].first_name)">                     
											<span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
										</div>
										
										<div class="col-xs-6">
											<label for="">Last Name</label>
											<input type="text" class="form-control" name="last name" v-model="policies[0].profiles[pIndex].last_name" @blur="updatePolicyProfile(0, pIndex, 'last_name', policies[0].profiles[pIndex].last_name)">
											<span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
										</div>																			
									</div>
								</div> 

								<div class="form-group">
									<label for="agent_code">Gender</label>

									<select v-model="policies[0].profiles[pIndex].gender" @blur="updatePolicyProfile(0, pIndex, 'gender', policies[0].profiles[pIndex].gender)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('gender') }" name="gender">                                                                                
										<option value="male">Male</option>
										<option value="female">Female</option>
									</select>
									<span v-show="errors.has('gender')" class="help is-danger">{{ errors.first('gender') }}</span>
								</div>
								
								<div class="form-group">
									<label for="cover_start">Principal date of birth?</label>

									<div>
										<date-picker @change="dateOfBirthChanged(pIndex, date.time)" :date="date" :option="principalDatePicker"></date-picker>
									</div>
								</div>
							</div>
						</div> -->


						<div role="tablist" v-for="(profile, pIndex) in policies[0].profiles"  class="accordionDiv"> <!-- v-if="pIndex > 0" -->
					        <b-card no-body class="card mb-1" style="margin-top: 10px;">
					            <b-card-header header-tag="header" class="p-1 card-header " role="tab">
					                <b-btn block href="#" v-b-toggle="'accordion-' + pIndex" variant="default" class="accordionTitle">
					                	<span class="when-opened"></span>
					                	<span class="when-closed"></span>
					               		<span> {{ (pIndex>0) ? 'Dependent\'s ' + pIndex : 'Your' }} details</span>
									</b-btn>

					            </b-card-header>
					            <b-collapse :id="'accordion-' + pIndex"  visible accordion="my-accordion" role="tabpanel">
									<div  style="margin-top: 5px;">

										<div class="form-group" v-if="moment().diff(moment(profile.date_of_birth, 'DD-MM-YYYY').format('YYYY-MM-DD'), 'years') >= 18">
		                                    <label for="kpa_pin">Enter your National ID number</label>
		                                    <div class="form-inline form-horizontal">
		                                        <input v-validate="'required'" ref="national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="national_id" v-model="policies[0].profiles[pIndex].national_id" @blur="updatePolicyProfile(0, pIndex, 'national_id', policies[0].profiles[pIndex].national_id)" maxlength="32" :disabled="loading">
		                                        <button type="button" class="btn btn-default" @click.prevent="getBiometrics(pIndex)" :disabled="loading" autofocus>{{ loading? 'loading...' : 'verify' }}</button>
		                                        <span v-show="errors.has('National ID')" class="help is-danger">{{ errors.first('National ID') }}</span><br><br>
		                                        <div class="national-id-title">Some explanation why National ID is necessary to specify</div>
		                                    </div>
		                                </div>

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="">First Name</label>
													<input type="text" class="form-control" name="first name" v-model="policies[0].profiles[pIndex].first_name" @blur="updatePolicyProfile(0, pIndex, 'first_name', policies[0].profiles[pIndex].first_name)">                     
													<span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
												</div>
												
												<div class="col-xs-6">
													<label for="">Last Name</label>
													<input type="text" class="form-control" name="last name" v-model="policies[0].profiles[pIndex].last_name" @blur="updatePolicyProfile(0, pIndex, 'last_name', policies[0].profiles[pIndex].last_name)">
													<span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
												</div>																			
											</div>
										</div> 

										<div class="form-group">
											<label for="agent_code">Gender</label>

											<select v-model="policies[0].profiles[pIndex].gender" @blur="updatePolicyProfile(0, pIndex, 'gender', policies[0].profiles[pIndex].gender)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('gender') }" name="gender">                                                                                
												<option value="male">Male</option>
												<option value="female">Female</option>
											</select>
											<span v-show="errors.has('gender')" class="help is-danger">{{ errors.first('gender') }}</span>
										</div>
										
										<div class="form-group">
											<label for="cover_start">Principal date of birth?</label>

											<div>
												<date-picker @change="dateOfBirthChanged(pIndex, date.time)" :date="date" :option="principalDatePicker"></date-picker>
											</div>
										</div>
									</div>
					            </b-collapse>
					        </b-card>
					    </div>
					</form>  

					<div class="title">
						<a href="#" class="ghost-link" @click.prevent="back">Back</a>
						<a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
					</div>        
				</div>
	        </div>
	      </div>
	    </section> 

		<modal name="biometrics-status-verify-later" height="auto" :scrollable="true" :adaptive="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">				
						<span>
							Ooops! we could not verify the National ID information provided. 
							Please call support number
							020 760 3888 for assistance or try again.
						</span>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link">Retry</button>	
							<button type="button" class="btn ghost-link">Continue</button>	
						</div>
					</div>
				</div>
			</div>
		</modal> 

		<modal name="biometrics-information" height="auto" :scrollable="true" :adaptive="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">				
						<h3>Biometrics</h3>
						<p>{{ biometrics.FULL_NAMES }}</p>
						<p>{{ biometrics.DATE_OF_BIRTH }}</p>
						<p>{{ biometrics.GENDER }}</p>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="retry">No</button>	
							<button type="button" class="btn ghost-link" @click="verifyLater">Yes</button>	
						</div>
					</div>
				</div>
			</div>
		</modal>
  	</div>
</template>

<script>
	import {mapGetters} from 'vuex'

	export default {
		name: 'Health_primary',

		data () {
			return {  
				// policies: this.$lodash.cloneDeep(this.$store.state.policies),

				date: {
					time: '',
			  	},

				principalDatePicker: {
					type: 'day',
					week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
					month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
					format: 'DD-MM-YYYY',
					placeholder: 'Date of birth?',
					inputStyle: {
						'display': 'inline-block',
						'padding': '6px',
						'line-height': '22px',
						'font-size': '16px',
						'border': '2px solid #fff',
						'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
						'border-radius': '2px',
						'color': '#5F5F5F'
					},
					color: {
						header: '#ed1c24',
						headerText: '#fff'
					},
					buttons: {
						ok: 'Ok',
						cancel: 'Cancel'
					},
					overlayOpacity: 0.5, // 0.5 as default
					dismissible: true // as true as default
                },
			}
		},

		computed: {
			...mapGetters({				
				loading: 'loading',
				biometrics: 'biometrics',
				policies: 'policies',
			})
		},
			
		methods: {
			verifyLater() {	
				this.$modal.hide('biometrics-status-verify-later');
				this.$modal.hide('biometrics-information');
            },

            retry() {
				this.$modal.hide('biometrics-status-verify-later');     
				this.$modal.hide('biometrics-information');           
			},
			
			moment: function(date, format) {
				return this.$moment(date, format);
			},

			dateOfBirthChanged: function(pIndex, date) {
               this.updatePolicyProfile(0, pIndex, 'date_of_birth', date);
			},

			updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
				this.$store.commit('updatePolicyProfile', {policyIndex, profileIndex, field, value});
			},

			getBiometrics(pIndex) {	
				this.$store.dispatch('getBiometrics', this.policies[0].profiles[pIndex].national_id).then((response) => {
					if (this.biometrics.FULL_NAMES) {
						this.updatePolicyProfile(0, 0, 'first_name', (this.biometrics.FULL_NAMES).split(' ')[0]);
						this.updatePolicyProfile(0, 0, 'middle_name', (this.biometrics.FULL_NAMES).split(' ').length > 2? (this.biometrics.FULL_NAMES).split(' ')[1] : null);
						this.updatePolicyProfile(0, 0, 'last_name', (this.biometrics.FULL_NAMES).split(' ').length > 2? (this.biometrics.FULL_NAMES).split(' ')[2] : (this.biometrics.FULL_NAMES).split(' ')[1]);
					}
					
					if (this.biometrics.DATE_OF_BIRTH) {			
						this.updatePolicyProfile(0, 0, 'date_of_birth', this.biometrics.DATE_OF_BIRTH);		
					}

					if (this.biometrics.GENDER) {
						this.updatePolicyProfile(0, 0, 'gender', this.biometrics.GENDER);
					}

					if (this.biometrics.FULL_NAMES && this.biometrics.DATE_OF_BIRTH && this.biometrics.GENDER) {
						this.$modal.show('biometrics-information');
					}

					if (!this.biometrics.FULL_NAMES && !this.biometrics.DATE_OF_BIRTH && !this.biometrics.GENDER) {
						this.$modal.show('biometrics-status-verify-later');
					}
				});						        
			},

			submit: function() {				
				this.$validator.validateAll().then((result) => {                    
                    if (result) {       
						this.$store.dispatch('postPolicySync').then((response) => {
							this.$router.push('/policies/'+response.data.data.policies[0].id+'/profiles/'+response.data.data.policies[0].profiles[0].id+'/'+response.data.data.policies[0].profiles[0].sections.next_section);						 													
						});
                    }
                });
			}
		}
	}
</script>

<style lang="scss">
	.disable_option {
    	color:#ccc;
  	}
</style>
