<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Vehicle Accident Report</h1>
					</div>
				</div>
			</div>
		</section>
        <section v-show="!confirmTable">
			<div class="container tight">
				<div class="row">
					<div class="col-md-12">                        
						<form>
                            <div class="bottom-border-block vehicles-list" >
								<div class="form-group">
                                    <label for="kpa_pin">Enter the vehicle registration number</label>
                                    <div class="form-inline form-horizontal">
                                        <input v-validate="'required'" autocomplete="off" ref="vehicle_registration_number" :class="{'input': true, 'is-danger': errors.has('Vehicle Registration Number') }" type="text" name="Vehicle Registration Number" id="registration_number" v-model="vehicle_registration_number" maxlength="32" :disabled="loading" >
                                        <button type="submit" class="btn btn-default" :disabled="loading" autofocus @click.prevent="getInsuredVehicle(vehicle_registration_number)">{{ loading? 'loading...' : 'verify' }}</button>
                                        <span v-show="errors.has('Vehicle Registration Number')" class="help is-danger">{{ errors.first('Vehicle Registration Number') }}</span><br><br>
                                    </div>
                                </div>
							</div>
                            
                            <template v-if="policies.length > 0">
                                <div class="bottom-border-block vehicles-list" >
                                    <div class="form-group">
                                        <label for="kpa_pin">Enter driver's national ID number</label>
                                        <div class="form-inline form-horizontal">
                                            <input v-validate="'required'" autocomplete="off" ref="drivers_national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="national_id" v-model="drivers_national_id" maxlength="32" :disabled="loading">
                                            <button type="submit" class="btn btn-default" :disabled="loading" autofocus @click.prevent="getDriversLicense(drivers_national_id)">{{ loading? 'loading...' : 'verify' }}</button>
                                            <span v-show="errors.has('National ID')" class="help is-danger">{{ errors.first('National ID') }}</span><br><br>
                                            <div class="national-id-title">Some explanation why National ID is necessary to specify</div>
                                        </div>
                                    </div>
                                </div>                     

                                <div class="bottom-border-block vehicles-list" v-if="driver.driving_license_number">
                                    <div class="form-group">
                                        <label for="">When did the accident/incident occur?</label>
                                    </div>
                                    <div class="form-group"> 
                                        <div>                                                        
                                            <flat-pickr v-model="incident_datetime" :config="config"></flat-pickr>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Where did the accident/incident occur?</label>
                                    </div>
                                    <div class="form-group">             
                                        <gmap-autocomplete
                                            @place_changed="setPlace">
                                        </gmap-autocomplete>
                                        </div>
                                        <br>
                                        <Gmap-Map style="width:100%; height:300px;" :zoom="17" 
                                        :center="{
                                            lat: this.place? this.place.geometry.location.lat() : 0, 
                                            lng: this.place? this.place.geometry.location.lng() : 0
                                        }">
                                        <Gmap-Marker
                                            v-if="this.place"
                                            :draggable="true"
                                            @dragend="accidentPositionChanged"
                                            :position="{
                                            lat: this.place.geometry.location.lat(),
                                            lng: this.place.geometry.location.lng(),
                                            }"
                                            ></Gmap-Marker>
                                        </Gmap-Map>
                                        <br/>
                                </div>

                                <div class="bottom-border-block vehicles-list" v-if="place">
                                    <div class="form-group">
                                            <label for="">Were/are there any injuries involved in this accident?</label>
                                        </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="injuries_incurred" value="none" v-model="injuries_incurred">
                                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                        <span class="label-text">None</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="injuries_incurred" value="minor" v-model="injuries_incurred">
                                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                        <span class="label-text">Minor</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="injuries_incurred" value="serious" v-model="injuries_incurred">
                                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                        <span class="label-text">Serious</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="injuries_incurred" value="fatal" v-model="injuries_incurred">
                                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                        <span class="label-text">Fatal</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <br/>

                                <div class="form-group">
                                            <label for="">Can your vehicle safely move under its own power?</label>
                                        </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="vehicle_safely_moves" value="yes" v-model="vehicle_safely_moves">
                                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                        <span class="label-text">Yes</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="vehicle_safely_moves" value="no" v-model="vehicle_safely_moves">
                                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                        <span class="label-text">No</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="vehicle_safely_moves" value="Notsure" v-model="vehicle_safely_moves">
                                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                        <span class="label-text">Not Sure</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                        </div> 
                                    </div>
                                
                                <div class="bottom-border-block vehicles-list" v-if="vehicle_safely_moves">
                                  <!-- <div class="form-group file-upload">
                                            <label for="">Upload a copy of your Images here</label>
                                            <upload file-name="policy_debit_note_uploads"></upload>
                                    </div>-->
                                        <div class="form-group">
                                            <label for="">Upload a copy of your Images here</label>
                                            <input type="file" multiple accept="image/*" v-on:change="onfileSelected" />
                                        </div>

                                    <div class="title" >
                                            <button type="button" class="btn btn-default" @click.prevent="confirmTable = true;" :disabled="loading">{{ loading? 'loading...' : ' continue' }}</button>
                                        </div>
                    
                                </div>
                                </template>
                            </form>
					</div>
				</div>
			</div>
		</section>
        <template v-if="policies.length > 0">
          
            <section class="confirm-table" v-show="confirmTable">  
                <br>
                <div class="container tight">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table confirm no-bm">
                                
                                <tr> 
                                    <td colspan="2" width="50%">
                                        <div class="count-new">Insured</div>
                                        <div class="value">{{!policies[0].profiles[0].first_name?"N/A":policies[0].profiles[0].first_name }}
                                            {{!policies[0].profiles[0].last_name?"N/A":policies[0].profiles[0].last_name }}
                                        </div>
                                    </td>
                                    
                                    <td colspan="1">
                                        <div class="count-new">Driver National ID Number</div>
                                        <div class="value">{{!driver? 'N/A':drivers_national_id}}</div>
                                    </td>
                                    
                                    <td colspan="1">
                                        <div class="count-new">Driver's Name</div>
                                        <div class="value">{{!driver? 'N/A':driver.first_name + ' ' + driver.middle_name + ' ' + driver.last_name}}</div>
                                    </td>
                                    
                                </tr>

                        
                                <tr>
                                    <td colspan="4">
                                        <div class="count-new">Policy Number</div>
                                        <div class="value">{{!policies[0].profiles[0].policy_number?"N/A":policies[0].profiles[0].policy_number }}</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" width="50%">
                                        <div class="count-new">Phone Number</div>
                                        <div class="value">{{!policies[0].profiles[0].mobile_number?"N/A": policies[0].profiles[0].mobile_number }}</div>
                                    </td>
                                    
                                    <td colspan="2" >
                                        <div class="count-new">Email</div>
                                        <div class="value">{{!policies[0].profiles[0].email?"N/A":policies[0].profiles[0].email }}</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" width="50%" >
                                        <div class="count-new">Vehicle Registration Number</div>
                                        <div class="value">{{!policies[0].profiles[0].registration_number?'N/A':policies[0].profiles[0].registration_number }}</div>
                                    </td>

                                    <!--<td colspan="2">
                                        <div class="count-new">Images Attached</div>
                                        <div class="value">{{!policies[0].profiles[0].policy_debit_note_uploads?"N/A":policies[0].profiles[0].policy_debit_note_uploads.length}}</div>
                                    </td>-->
                                     <td colspan="2">
                                        <div class="count-new">Images Attached</div>
                                        <div class="value"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" width="50%">
                                        <div class="count-new">Make</div>
                                        <div class="value">{{!policies[0].profiles[0].vehicle_make?'N/A': policies[0].profiles[0].vehicle_make}}</div>
                                    </td>
                                    <td colspan="2">
                                        <div class="count-new">Model</div>
                                        <div class="value">{{!policies[0].profiles[0].vehicle_model? 'N/A':policies[0].profiles[0].vehicle_model}}</div>
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="4">Accident Details:</th>
                                </tr>

                                <tr>
                                    <td colspan="4">
                                        <div class="count-new">Date</div>
                                        <div class="value">{{incident_datetime}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div class="count-new">Location</div>
                                        <div class="value">{{!place? 'N/A' : place.formatted_address}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" width="50%">
                                        <div class="count-new">Injuries</div>
                                        <div class="value">{{injuries_incurred}}</div>
                                    </td>
                                    <td colspan="2">
                                        <div class="count-new">Vehicle ability to move</div>
                                        <div class="value">{{vehicle_safely_moves}}</div>
                                    </td>
                                </tr>
                            </table>

                            
                        </div>
                        </div>
                        <br/>
                        <div>
                        <a href="#" class="circle-link" @click.prevent="confirmTable = false;">
                                    <span class="icon-wrapper">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    <span class="link-text">Edit Claim details</span>
                                </a>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading' : 'submit claim form' }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </template>
       
	</div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Vehicle_accident_report",

  data() {
    return {
      vehicle_registration_number: null,
      drivers_national_id: null,
      incident_datetime: null,
      config: {
        format: "d-m-Y h:i:s",
        enableTime: true
      },
      injuries_incurred: [],
      vehicle_safely_moves: null,
      confirmTable: false,
      fileSelected: []
    };
  },

  computed: {
    ...mapGetters({
      driver: "driver",
      loading: "loading",
      place: "place",
      policies: "policies"
    })
  },

  methods: {
    onfileSelected: function(event) {
      for (let i = 0; i < 6; i++) {
        this.fileSelected.push(event.target.files[i]);
      }
    },

    getInsuredVehicle: function(vehicle_registration_number) {
      var len = vehicle_registration_number.length;
      if (len >= 7) {
        this.$store
          .dispatch("getVehicleInsured", vehicle_registration_number)
          .then(response => {
            this.$store.commit("setPolicies", {
              policyIndex: 0,
              policy: response.data.data.policies
            });
          });
      }
    },

    updateDriver(field, value) {
      this.$store.commit("updateModel", {
        object: "driver",
        field: field,
        value: value
      });
    },
    getDriversLicense: function(nId) {
      if (
        this.drivers_national_id != this.policies[0].profiles[0].national_id
      ) {
        this.$store.dispatch("getDriversLicense", nId).then(response => {
          this.updateDriver("driving_license_number", response.data[0].DLNO);
          this.updateDriver("first_name", response.data[0].NAMES.split(" ")[0]);
          this.updateDriver(
            "middle_name",
            response.data[0].NAMES.split(" ").length > 2
              ? response.data[0].NAMES.split(" ")[1]
              : null
          );
          this.updateDriver(
            "last_name",
            response.data[0].NAMES.split(" ").length > 2
              ? response.data[0].NAMES.split(" ")[2]
              : response.data[0].NAMES.split(" ")[1]
          );
          this.updateDriver(
            "driving_license_classes",
            response.data[0].DLCLASS
          );
        });
      } else {
        this.updateDriver(
          "first_name",
          this.policies[0].profiles[0].first_name
        );
        this.updateDriver(
          "middle_name",
          this.policies[0].profiles[0].middle_name
        );
        this.updateDriver("last_name", this.policies[0].profiles[0].last_name);
        this.updateDriver(
          "driving_license_number",
          this.policies[0].profiles[0].driving_license_number
        );
        this.updateDriver(
          "driving_license_classes",
          this.policies[0].profiles[0].driving_license_classes
        );
      }
    },
    setPlace: function(place) {
      this.$store.commit("setPlace", place);
      if (this.place) {
        this.place.geometry.location.lat();
        this.place.geometry.location.lng();
        this.place.formatted_address;
      }
    },
    accidentPositionChanged: function(position) {},

    /*confirmTable() {
      console.log("confirm-table");
    }*/

    submit: function(e) {
      let claim = {
        data: {
          claims: [
            {
              vehicle_registration_number: this.vehicle_registration_number,
              drivers_national_id: this.drivers_national_id,
              incident_datetime: this.incident_datetime,
              incident_location_name: this.place.formatted_address,
              incident_location_lat: this.place.geometry.location.lat(),
              incident_location_lng: this.place.geometry.location.lng(),
              injuries_incurred: this.injuries_incurred,
              vehicle_safely_moves: this.vehicle_safely_moves,
              driver_first_name: this.driver.first_name,
              driver_middle_name: this.driver.middle_name,
              driver_last_name: this.driver.last_name,
              driver_license_number: this.driver.driving_license_number,
              driver_license_classes: this.driver.driving_license_classes,
              profiles: [
                {
                  id: this.policies[0].profiles[0].id
                }
              ]
            }
          ]
        }
      };

      e.preventDefault();
      //   console.log(this.fileSelected);
      this.$store.dispatch("postClaimsSync", claim).then(response => {
        const claim_upload_data = new FormData();

        for (var i = 0; i < this.fileSelected.length; i++) {
          claim_upload_data.append("file[]", this.fileSelected[i]);
        }
        claim_upload_data.append("report_name", "profiles");
        claim_upload_data.append("profile_id", this.policies[0].profiles[0].id);
        claim_upload_data.append("file_name", response.data.data.claim_number);

        this.$store
          .dispatch("postClaimupload", claim_upload_data)
          .then(response => {
            //return this.$router.push("user-dashboard");
            //console.log("success");
          });

        //console.log(response.data.data.id);
        return this.$router.push("user-dashboard");
      });
    }
  }
};
</script>

<style lang="scss">
.v--modal {
  height: auto !important;
  background-color: transparent !important;
  box-shadow: none !important;
  top: 30px !important;
}
</style>
