<template>
	<div class="row qoutes-form" v-show="showOptionalBenefitsDiv">
        <div class="col-md-12">
            <div class="checklist clearfix" v-if="!optionalBenefits.length">
                <div class="form-group clearfix" v-for="optionalBenefit in optionalBenefits">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" :value="optionalBenefit.id" v-model="checkedOptionalBenefits">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            <span class="label-text">{{optionalBenefit.name}}</span>
                        </label>
                    </div>
                    <span class="description hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur adipiscing elit
                    </span>
                </div>
            </div>
			
			<div class="checklist clearfix" v-if="optionalBenefits.length">
                <div class="form-group clearfix" >
                    <span class="description">
                        No optional benefits available
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    
	export default {
		name: 'Optional_benefits',

        mounted() {
			// this.checkedOptionalBenefits = [];
			
			this.$store.dispatch('getOptionalBenefits', this.profiles[0].insurance_type.id).then(response => {
				this.$store.commit('setOptionalBenefits', response.data);
			});
		},

		computed: {
			...mapGetters({				
				showOptionalBenefitsDiv: 'showOptionalBenefitsDiv',
				optionalBenefits: 'optionalBenefits',
				profiles: 'profiles'
            }),
            
            checkedOptionalBenefits : {
                get () {return this.$store.getters.checkedOptionalBenefits},
                set (value) {this.$store.commit('setCheckedOptionalBenefits', value)}
            }
		},
	}
</script>

<style scoped>

</style>
