<template>
    <section class="invoice-block">
        <div class="container tight">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-invoice" v-if="prfls.length">
                        <div class="panel-heading">
                            <span>{{ provider.name }}</span>
                            <div class="label best-offer pull-right">
                                <i class="fa fa-thumbs-up"></i>
                                <span class="text">best offer</span>
                            </div>
                        </div>




                        <div class="panel-body">
                            <div class="left">
                                <div class="cover-type clearfix">
                                    <div class="left">
                                        <div class="count-new">Cover type</div>
                                        <div class="value">{{ prfls[0].cover_type.name }}</div>
                                    </div>
                                </div>

                                <div class="cover-type clearfix" v-if="['Travel Insurance'].indexOf(profiles[0].insurance_type.name) > -1">
                                    <div class="left">
                                        <div class="count-new">
                                            <small>Travellers</small>
                                        </div>
                                        <div class="value">{{ getAbove25 + getBetween19And25 }} {{ (getAbove25 + getBetween19And25) > 1? 'Adults' : 'Adult' }}</div>
                                        <div class="value">{{ getBelow19 }} {{ getBelow19 > 1? 'Children' : 'Child' }}</div>
                                    </div>
                                </div>

                                <div class="cover-type clearfix" v-if="['Health Insurance'].indexOf(profiles[0].insurance_type.name) > -1">
                                    <div class="left">
                                        <div class="count-new">
                                            <small>Members</small>
                                        </div>
                                        <div class="value" v-if="profiles.length">You</div>
                                        <div class="value" v-if="getSpouse">Spouse</div>
                                        <div class="value" v-if="(getBelow19 + getBetween19And25)">{{ getBelow19 + getBetween19And25 }} {{ (getBelow19 + getBetween19And25) > 1? 'Children' : 'Child' }}</div>
                                    </div>
                                </div>

                                <div class="insurance-option clearfix">
                                    <div class="left" v-if="profiles[0].vehicle_use">
                                        <div class="count-new">Vehicle use</div>
                                        <div class="value">{{ profiles[0].vehicle_use.name }}</div>
                                    </div>
                                </div>

                                <div class="insurance-option clearfix" v-if="['Vehicle Insurance'].indexOf(profiles[0].insurance_type.name) > -1">
                                    <div class="left" v-if="['Vehicle Insurance'].indexOf(profiles[0].insurance_type.name) > -1">
                                        <div class="count-new">Basic premium rate</div>
                                        <div class="value" v-if="rateOfSumInsured">{{ (rateOfSumInsured).toLocaleString() }}%</div>
                                        <loader :icon-size="1" :font-size="16" v-if="!rateOfSumInsured"></loader>
                                    </div>
                                </div>
                            </div>


                            <div class="right">
                                <div class="cover-type clearfix">
                                    <div class="right text-right">
                                        <div class="details-link" style="line-height: 40px;">
                                            <a href="#" @click.prevent="toggleCoverDetailsModal">
                                                <i class="fa fa-umbrella"></i>
                                                cover details
                                            </a>

                                            <br v-if="prfls[0].insurance_type.name == 'Health Insurance'">
                                            <a href="#" @click.prevent="toggleServiceProvidersModal" v-if="prfls[0].insurance_type.name == 'Health Insurance'">
                                                <i class="fa fa-plus"></i>
                                                health care providers
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="insurance-option clearfix" v-if="ptnlBnfts.length || checkedOptionalBenefits.length">
                                    <span class="pull-right underline benefi">Benefits included:</span>
                                </div>

                                <div class="insurance-option clearfix">
                                    <div class="right">
                                        <div class="optBenCvLmt" v-for="(ptnlBnft, index) in ptnlBnfts" ><!--v-if="index == 0"-->
                                            <div class="count-new">{{ ptnlBnft.product.cover_type.name }}</div>
                                            <div class="value" v-if="pymntPlns.length">
                                              <span>
                                                {{ (pymntPlns[index + 1].total_premium).toLocaleString() }} KES
                                                <a href="#" @click.prevent="toggleOptBenCoverLimitsModal(ptnlBnft, index)">
                                                  <i class="glyphicon glyphicon-pencil"></i>
                                                </a>
                                              </span>
                                            </div>
                                            <loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                        </div>      
                                    </div>      

                                    <div class="right" v-if="!ptnlBnfts.length && checkedOptionalBenefits.length">
                                        <loader :icon-size="1" :font-size="16"></loader>
                                    </div>
                                </div>

                               <!--  <div class="insurance-option clearfix" v-if="['Vehicle Insurance'].indexOf(profiles[0].insurance_type.name) > -1">

                                    <div class="right" v-for="(ptnlBnft, index) in ptnlBnfts" v-if="index == 1">
                                        <div class="count-new">{{ ptnlBnft.product.cover_type.name }}</div>
                                        <div class="value" v-if="pymntPlns.length">{{ (pymntPlns[index + 1].total_premium).toLocaleString() }} KES</div>
                                        <loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                    </div>

                                    <div class="right" v-if="ptnlBnfts.length > -1 && ptnlBnfts.length < 2">
                                        <div class="count-new">Basic premium</div>
                                        <div class="value" v-if="pymntPlns.length">{{ (pymntPlns[0].total_premium).toLocaleString() }} KES</div>
                                        <loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                    </div>
                                </div> -->

                                <div class="insurance-option clearfix" v-if="ptnlBnfts.length > 3">
                                    <div class="right" v-for="(ptnlBnft, index) in ptnlBnfts" v-if="index > 1">
                                        <div class="count-new">{{ ptnlBnft.product.cover_type.name }}</div>
                                        <div class="value" v-if="pymntPlns.length">{{ (pymntPlns[index + 1].total_premium).toLocaleString() }} KES</div>
                                        <loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                    </div>
                                </div>

                                <div class="insurance-option clearfix" v-if="ptnlBnfts.length > 0">   
                                    <div class="right">
                                        <div class="count-new">Basic premium</div>
                                        <div class="value" v-if="pymntPlns.length">{{ (pymntPlns[0].total_premium).toLocaleString() }} KES</div>
                                        <loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                    </div>
                                </div>                            
                            </div>
                        </div>




                        <!-- <div class="panel-body">
                            <div class="cover-type clearfix">
                                <div class="left">
                                    <div class="count-new">Cover type</div>
                                    <div class="value">{{ prfls[0].cover_type.name }}</div>
                                </div>
                                <div class="right text-right">
                                    <div class="details-link" style="line-height: 40px;">
                                        <a href="#" @click.prevent="toggleCoverDetailsModal">
                                            <i class="fa fa-umbrella"></i>
                                            cover details
                                        </a>

										<br v-if="prfls[0].insurance_type.name == 'Health Insurance'">
										<a href="#" @click.prevent="toggleServiceProvidersModal" v-if="prfls[0].insurance_type.name == 'Health Insurance'">
                                            <i class="fa fa-plus"></i>
                                            health care providers
                                        </a>
                                    </div>
                                </div>
                            </div>

							<div class="cover-type clearfix" v-if="['Travel Insurance'].indexOf(profiles[0].insurance_type.name) > -1">
                                <div class="left">
                                    <div class="count-new">
										<small>Travellers</small>
									</div>
                                    <div class="value">{{ getAbove25 + getBetween19And25 }} {{ (getAbove25 + getBetween19And25) > 1? 'Adults' : 'Adult' }}</div>
                                    <div class="value">{{ getBelow19 }} {{ getBelow19 > 1? 'Children' : 'Child' }}</div>
                                </div>
                            </div>

							<div class="cover-type clearfix" v-if="['Health Insurance'].indexOf(profiles[0].insurance_type.name) > -1">
                                <div class="left">
                                    <div class="count-new">
										<small>Members</small>
									</div>
									<div class="value" v-if="profiles.length">You</div>
                                    <div class="value" v-if="getSpouse">Spouse</div>
                                    <div class="value" v-if="(getBelow19 + getBetween19And25)">{{ getBelow19 + getBetween19And25 }} {{ (getBelow19 + getBetween19And25) > 1? 'Children' : 'Child' }}</div>
                                </div>
                            </div>

                            <div class="insurance-option clearfix" v-if="ptnlBnfts.length || checkedOptionalBenefits.length">
                                <span class="pull-right underline benefi">Benefits included:</span>
                            </div>

                            <div class="insurance-option clearfix">
                                <div class="left" v-if="profiles[0].vehicle_use">
                                    <div class="count-new">Vehicle use</div>
                                    <div class="value">{{ profiles[0].vehicle_use.name }}</div>
                                </div>

                                <div class="right optBenCvLmt" v-for="(ptnlBnft, index) in ptnlBnfts" >
                                    <div class="count-new">{{ ptnlBnft.product.cover_type.name }}</div>
                                    <div class="value" v-if="pymntPlns.length">
                                      <span>
                                        {{ (pymntPlns[index + 1].total_premium).toLocaleString() }} KES
                                        <a href="#" @click.prevent="toggleOptBenCoverLimitsModal(ptnlBnft, index)">
                                          <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                      </span>
                                    </div>
                                    <loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                </div>                        

								<div class="right" v-if="!ptnlBnfts.length && checkedOptionalBenefits.length">
									<loader :icon-size="1" :font-size="16"></loader>
								</div>
                            </div>

							<div class="insurance-option clearfix" v-if="['Vehicle Insurance'].indexOf(profiles[0].insurance_type.name) > -1">
								<div class="left" v-if="['Vehicle Insurance'].indexOf(profiles[0].insurance_type.name) > -1">
                                    <div class="count-new">Basic premium rate</div>
                                    <div class="value" v-if="rateOfSumInsured">{{ (rateOfSumInsured).toLocaleString() }}%</div>
									<loader :icon-size="1" :font-size="16" v-if="!rateOfSumInsured"></loader>
                                </div>

                                <div class="right" v-for="(ptnlBnft, index) in ptnlBnfts" v-if="index == 1">
                                    <div class="count-new">{{ ptnlBnft.product.cover_type.name }}</div>
                                    <div class="value" v-if="pymntPlns.length">{{ (pymntPlns[index + 1].total_premium).toLocaleString() }} KES</div>
									<loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                </div>

								<div class="right" v-if="ptnlBnfts.length > -1 && ptnlBnfts.length < 2">
                                    <div class="count-new">Basic premium</div>
                                    <div class="value" v-if="pymntPlns.length">{{ (pymntPlns[0].total_premium).toLocaleString() }} KES</div>
									<loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                </div>
                            </div>

							<div class="insurance-option clearfix" v-if="ptnlBnfts.length > 3">
								<div class="right" v-for="(ptnlBnft, index) in ptnlBnfts" v-if="index > 1">
                                    <div class="count-new">{{ ptnlBnft.product.cover_type.name }}</div>
                                    <div class="value" v-if="pymntPlns.length">{{ (pymntPlns[index + 1].total_premium).toLocaleString() }} KES</div>
									<loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                </div>
                            </div>

                            <div class="insurance-option clearfix" v-if="ptnlBnfts.length > 1">
                                <div class="right">
                                    <div class="count-new">Basic premium</div>
                                    <div class="value" v-if="pymntPlns.length">{{ (pymntPlns[0].total_premium).toLocaleString() }} KES</div>
									<loader :icon-size="1" :font-size="16" v-if="!pymntPlns.length"></loader>
                                </div>
                            </div>
                        </div> -->

                        <div class="panel-body bottom">
							<div class="insurance-option clearfix">
                                <div class="left">
                                    <div class="count-new">Cover limit</div>
                                    <div class="value">
										<loader :icon-size="1" :font-size="16" v-if="(!cvrlmts.length && !prfls[0].cover_limit)"></loader>

										<span v-if="(cvrlmts.length && prfls[0].cover_limit) || prfls[0].sum_insured_on_vehicle">
											{{ prfls[0].sum_insured_on_vehicle? (prfls[0].sum_insured_on_vehicle * 1).toLocaleString() : (prfls[0].cover_limit * 1).toLocaleString() }} KES

											<a href="#" class="talk-with-agent" @click.prevent="toggleCoverLimitsModal" v-if="cvrlmts.length && prfls[0].cover_limit">
												<i class="glyphicon glyphicon-pencil"></i>
											</a>
										</span>
									</div>
                                </div>
                                <div class="right">
                                    <div class="count-new">Total premium</div>
                                    <div class="value">
										<loader :icon-size="1" :font-size="16" v-if="!totalPremium"></loader>
										<span v-if="totalPremium">{{ totalPremium.toLocaleString() }} KES</span>
									</div>
                                </div>
                            </div>
							<br>

                            <div class="insurance-option clearfix">
                                <div class="left">
                                    <div class="count-new">Installments plan</div>
                                    <div class="value">
										<span v-if="prfls[0].installments > 1">
											{{ prfls[0].installments }} Months

											<a href="#" class="talk-with-agent" @click.prevent="toggleIPFsModal">
												<i class="glyphicon glyphicon-pencil"></i>
											</a>
										</span>

										<span v-if="prfls[0].installments == 1">
											Full payment

											<a href="#" class="talk-with-agent" @click.prevent="toggleIPFsModal">
												<i class="glyphicon glyphicon-pencil"></i>
											</a>
										</span>

										<span v-if="!prfls[0].installments">
											<loader :icon-size="1" :font-size="16"></loader>
										</span>
                                    </div>
                                </div>
                                <div class="right" v-if="prfls[0].installments > 1">
                                    <div class="count-new">Down payment</div>
                                    <div class="value">
										<loader :icon-size="1" :font-size="16" v-if="!downPayment"></loader>
										<span v-if="downPayment">{{ downPayment.toLocaleString() }} KES</span>
									</div>
                                </div>
                            </div>

                            <div class="insurance-option clearfix" v-if="prfls[0].installments > 1">
                                <div class="right">
                                    <div class="count-new">Monthly payment</div>
									<loader :icon-size="1" :font-size="16" v-if="!remainingPayment"></loader>
                                    <div class="value" v-if="remainingPayment">{{ remainingPayment.toLocaleString() }} KES</div>
                                </div>
                            </div>


                            <div class="insurance-option text-center">
                                <a href="#" class="btn btn-default large-btn" @click.prevent="buy" :disabled="loading">{{ loading? 'loading...' : 'buy this policy' }}</a>
                            </div>
                            <br>
                            <div class="insurance-option clearfix">
                                <div class="left">
                                    <div class="value">Installment is available</div>
                                    <div class="count-new">
                                        Free countrywide policy delivery
                                    </div>
                                </div>
                                <div class="right" style="text-align: left;">
                                    <a href="#" class="talk-with-agent">
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span class="link-text">talk with agent</span>
                                    </a>
                                    <a href="#" class="compare">
                                        <i class="fa fa-balance-scale"></i>
                                        <span class="link-text">compare</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<modal :name="`ipfs-modal-${ provider.id }`" v-if="prfls.length" :scrollable="true" :adaptive="true" height="auto">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-group">
							<label for="">Select a Bank</label>

							<select class="form-control" v-model="prfls[0].ipf" @change="ipfChanged('ipf', prfls[0].ipf)">
								<option v-for="ipf in ipfs" :value="ipf" :key="ipf.id">{{ ipf.name }}</option>
							</select>
							<span v-show="errors.has('bank')" class="help is-danger">{{ errors.first('bank') }}</span>
						</div>

						<div class="form-group" v-if="prfls[0].ipf_id">
							<label for="">Select an installment plan</label>

							<select class="form-control" v-model="prfls[0].installments" @change="ipfChanged('installments', prfls[0].installments)">
								<option v-for="ipfSetting in prfls[0].ipf.ipfSettings" :value="ipfSetting.period" :key="ipfSetting.id">{{ ipfSetting.period > 1? ipfSetting.period + ' months' : ipfSetting.period + ' month' }}</option>
							</select>
							<span v-show="errors.has('installment plan')" class="help is-danger">{{ errors.first('installment plan') }}</span>
						</div>

						<div class="row">
							<div class="col-sm-6" v-if="prfls[0].installments > 1">
								Down payment:
								<loader :icon-size="1" :font-size="16" v-if="!downPayment"></loader>
								<span v-if="downPayment">{{ downPayment.toLocaleString() }} KES</span>
							</div>

							<div class="col-sm-6" v-if="prfls[0].installments > 1">
								Monthly payments:
								<loader :icon-size="1" :font-size="16" v-if="!remainingPayment"></loader>
								<span v-if="remainingPayment">{{ remainingPayment.toLocaleString() }} KES</span>
							</div>

							<div class="col-sm-6" v-if="prfls[0].installments == 1">
								Full payment:
								<loader :icon-size="1" :font-size="16" v-if="!totalPremium"></loader>
								<span v-if="totalPremium">{{ totalPremium.toLocaleString() }} KES</span>
							</div>
						</div>
						<br>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="$modal.hide('ipfs-modal-' + provider.id)">CANCEL</button>
							<button type="button" class="btn ghost-link" @click="$modal.hide('ipfs-modal-' + provider.id)">APPLY</button>
						</div>
					</div>
				</div>
			</div>
		</modal>

		<modal :name="`cover-details-modal-${provider.id}`" :scrollable="true" :adaptive="true" height="auto">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<h4>Cover Details</h4>
						<loader :icon-size="1" :font-size="16" v-if="!bnfts.length"></loader>

						<ul>
							<li v-for="bnft in bnfts" :key="bnft.id">{{ bnft.name }} -- {{ bnft.limit }}</li>
						</ul>
						<ul>
							<li v-for="bnft in bnfts" :key="bnft.id">{{ bnft.name }} -- {{ bnft.limit }}</li>
						</ul>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="$modal.hide('cover-details-modal-' + provider.id)">CANCEL</button>
							<button type="button" class="btn ghost-link" @click="$modal.hide('cover-details-modal-' + provider.id)">APPLY</button>
						</div>
					</div>
				</div>
			</div>
		</modal>

		<modal :name="`cover-limits-modal-${provider.id}`" :scrollable="true" :adaptive="true" height="auto">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-group" v-if="prfls.length">
							<label for="">Select a cover limit</label>

							<select class="form-control" v-model="prfls[0].cover_limit" @change="coverLimitChanged('cover_limit', prfls[0].cover_limit)">
								<option v-for="cvrlmt in cvrlmts" :value="cvrlmt" :key="cvrlmt">{{ cvrlmt.toLocaleString() }}</option>
							</select>
						</div>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="$modal.hide('cover-limits-modal-' + provider.id)">CANCEL</button>
							<button type="button" class="btn ghost-link" @click="$modal.hide('cover-limits-modal-' + provider.id)">APPLY</button>
						</div>
					</div>
				</div>
			</div>
		</modal>

      <modal  :name="`opt-ben-cover-limits-modal-${provider.id}`" @before-open="beforeOpenOptBen" :scrollable="true" :adaptive="true" height="auto">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-group" v-if="prfls.length">
                <label for="">Select a cover limit</label>
				

                <select class="form-control" v-if='ptnlBnfts[optBenInd] && checkedCvTpLimit' id="changedCoverLimit" :value="checkedCvTpLimit" @change="optBencoverLimitChanged($event)">
                  <option v-for="(key, index) in optBenCvLmts[currentCvType]"  :value="key.cover_limit" :key="key.cover_limit">{{ key.cover_limit }}</option>
                </select>
              </div>
            </div>

            <div class="modal-footer">
              <div>
                <button type="button" class="btn ghost-link" @click="$modal.hide('opt-ben-cover-limits-modal-' + provider.id)">CANCEL</button>
                <button type="button" class="btn ghost-link" @click="$modal.hide('opt-ben-cover-limits-modal-' + provider.id)">APPLY</button>
              </div>
            </div>
          </div>
        </div>
      </modal>

		<modal :name="`service-providers-modal-${provider.id}`" :scrollable="true" :adaptive="true" height="auto">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<h4>Health Care Providers</h4>
						<loader :icon-size="1" :font-size="16" v-if="!srvcPrvdrs.length"></loader>

						<ul>
							<li v-for="srvcPrvdr in srvcPrvdrs" :key="srvcPrvdr.id">{{ srvcPrvdr.name }}</li>
						</ul>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="$modal.hide('service-providers-modal-' + provider.id)">CANCEL</button>
							<button type="button" class="btn ghost-link" @click="$modal.hide('service-providers-modal-' + provider.id)">APPLY</button>
						</div>
					</div>
				</div>
			</div>
		</modal>
    </section>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Quote",

  props: ["provider"],

  data() {
    return {
      prfls: [],
      slctdQts: [],
      ipfs: [],
      totalPremium: 0,
      downPayment: 0,
      remainingPayment: 0,
      rateOfSumInsured: 0,
      bnfts: [],
      default_optBen: [],
      default_once: false,
      cvrlmts: [],
      srvcPrvdrs: [],
      pymntPlns: [],
      ptnlBnfts: [],
      profs: [],
      optBensArr: [],
      optBenCvLmts: {},
      changedCvLimits: {},
      optBenInd: 0,
      currentCvType: 0,
      checkedCvTpLimit: 0,
      ifChangedOptBenCvType: false,
      cvrTypPtnlBnfts: []
    };
  },

  computed: {
    ...mapGetters({
      profiles: "profiles",
      loading: "loading",
      token: "token",
      checkedOptionalBenefits: "checkedOptionalBenefits",
      optionalBenefits: "optionalBenefits"
    }),

    getSpouse() {
      let spouse = 0;

      for (let index = 0; index < this.profiles.length; index++) {
        if (this.profiles[index].spouse) {
          spouse++;
          break;
        }
      }

      return spouse;
    },

    getAbove25() {
      let adults = 0;

      for (let index = 0; index < this.profiles.length; index++) {
        if (
          this.$moment().diff(
            this.$moment(
              this.profiles[index].date_of_birth,
              "DD-MM-YYYY"
            ).format("YYYY-MM-DD"),
            "years"
          ) > 25
        )
          adults++;
      }

      return adults;
    },

    getBetween19And25() {
      let adults = 0;

      for (let index = 0; index < this.profiles.length; index++) {
        if (
          !this.profiles[index].spouse &&
          this.$moment().diff(
            this.$moment(
              this.profiles[index].date_of_birth,
              "DD-MM-YYYY"
            ).format("YYYY-MM-DD"),
            "years"
          ) >= 19 &&
          this.$moment().diff(
            this.$moment(
              this.profiles[index].date_of_birth,
              "DD-MM-YYYY"
            ).format("YYYY-MM-DD"),
            "years"
          ) <= 25
        )
          adults++;
      }

      return adults;
    },

    getBelow19() {
      let children = 0;

      for (let index = 0; index < this.profiles.length; index++) {
        if (
          this.$moment().diff(
            this.$moment(
              this.profiles[index].date_of_birth,
              "DD-MM-YYYY"
            ).format("YYYY-MM-DD"),
            "years"
          ) < 19
        )
          children++;
      }

      return children;
    }
  },

  mounted() {
    let that = this;
    that.rateOfSumInsured = 0;
    this.totalPremium = 0;
    this.downPayment = 0;
    this.remainingPayment = 0;
    this.pymntPlns = [];
    that.cvrlmts = [];

    this.profiles.forEach((profile, index) => {
      const prfl = Object.assign({}, this.profiles[index]);

      prfl.provider_id = this.provider.id;
      prfl.current_section = "quotes";

      that.prfls.push(prfl);
    });

    this.$store
      .dispatch("getQuotes", this.prfls)
      .then(response => {
        return that.prfls.forEach((profile, index) => {
          that.slctdQts = [response.data.data.profiles[index].quotes[0].id];
          that.prfls[index].selectedQuotes = that.slctdQts;
          that.rateOfSumInsured +=
            response.data.data.profiles[index].quotes[0].rate_of_sum_insured;
        });
      })
      .then(() => {
        return this.$store
          .dispatch("getQuotesCoverLimits", that.prfls)
          .then(response => {
            response.data.data.profiles.forEach((profile, i) => {
              profile.cover_limits.forEach((coverLimit, index) => {
                if (!i) that.cvrlmts.push(coverLimit.cover_limit);
                if (!index) that.prfls[i].cover_limit = coverLimit.cover_limit;
              });
            });
          });
      })
      .then(() => {
        return this.$store
          .dispatch("getQuotesIPFs", that.prfls)
          .then(response => {
            return response.data.data.profiles.map((profile, index) => {
              that.ipfs = profile.selectedQuotes[0].ipfs;

              that.prfls[index].ipf = profile.selectedQuotes[0].ipfs[0];
              that.prfls[index].ipf_id = profile.selectedQuotes[0].ipfs[0].id;

              let ipfSettings = this.$lodash.orderBy(
                profile.selectedQuotes[0].ipfs[0].ipfSettings,
                ["period"]
              );
              that.prfls[index].installments = ipfSettings[0].period;
            });
          });
      })
      .then(() => {
        this.$store
          .dispatch("getQuotesPaymentPlans", that.prfls)
          .then(response => {
            this.pymntPlns = [];

            response.data.data.profiles.forEach(profile => {
              profile.selectedQuotes.forEach(selectedQuote => {
                that.pymntPlns.push(selectedQuote.payment_plan);

                that.totalPremium += selectedQuote.payment_plan.total_premium;
                that.downPayment += selectedQuote.payment_plan.down_payment;
                that.remainingPayment +=
                  selectedQuote.payment_plan.remaining_payment;
              });
            });
          });
      });
  },
  /*
* .then(() => {
        if (this.prfls[0].cover_limit) {
        Object.keys(this.optionalBenefits).forEach((key)=> {
          this.optBensArr.push(this.optionalBenefits[key].id);
        });
          this.default_optBen = {};
        this.optBensArr.forEach(id => {
          if (Object.keys(this.ptnlBnfts).length === 0) {
            this.default_once = true;
            this.default_optBen[id] = [];
            this.$store.commit('setCheckedOptionalBenefits', [id]);
          }
        });
        }

      })
* */
  watch: {
    checkedOptionalBenefits: function(val, oldVal) {
      this.totalPremium = 0;
      this.pymntPlns = [];
      this.downPayment = 0;
      this.remainingPayment = 0;
      this.ptnlBnfts = [];
      if (this.prfls[0].cover_limit) {
        this.getOptionalBenefitsIfExistsCoverLimit(val);
      } else {
        this.prfls.forEach(prfl => {
          prfl.selectedQuotes.length = 1;
        });

        this.$store
          .dispatch("getQuotesOptionalBenefits", this.prfls)
          .then(response => {
            val.forEach(coverTypeId => {
              response.data.data.profiles.forEach((profile, index) => {

                profile.selectedQuotes.forEach(selectedQuote => {
                    
                  selectedQuote.optional_benefits.forEach(optionalBenefit => {
                    if (coverTypeId == optionalBenefit.product.cover_type.id) {
                      this.prfls[index].selectedQuotes.push(optionalBenefit.id);
                      this.ptnlBnfts.push(optionalBenefit);
                    }
                  });
                });
              });
            });


            this.$store
              .dispatch("getQuotesPaymentPlans", this.prfls)
              .then(response => {
                response.data.data.profiles.forEach(profile => {
                  profile.selectedQuotes.forEach(selectedQuote => {
                    this.pymntPlns.push(selectedQuote.payment_plan);

                    this.totalPremium +=
                      selectedQuote.payment_plan.total_premium;
                    this.downPayment += selectedQuote.payment_plan.down_payment;
                    this.remainingPayment +=
                      selectedQuote.payment_plan.remaining_payment;
                  });
                });
              });

              this.ptnlBnfts = this.$lodash.orderBy(this.ptnlBnfts, ['id']);

              // console.log(JSON.parse(JSON.stringify(this.ptnlBnfts)));

          });
      }

    }
  },

  methods: {
    ipfChanged: function(field, value) {
      this.prfls.forEach((prfl, ndx) => {
        Object.assign(this.prfls[ndx], {
          [field]: value
        });

        if (typeof value === "object" && value) {
          if (value.id) {
            Object.assign(this.prfls[ndx], {
              [field + "_id"]: value.id
            });
          }
        }
      });

      const that = this;

      if (this.prfls[0].installments && this.prfls[0].ipf_id) {
        this.totalPremium = 0;
        this.downPayment = 0;
        this.remainingPayment = 0;

        this.$store
          .dispatch("getQuotesPaymentPlans", this.prfls)
          .then(response => {
            response.data.data.profiles.forEach(profile => {
              profile.selectedQuotes.forEach(selectedQuote => {
                this.totalPremium += selectedQuote.payment_plan.total_premium;
                this.downPayment += selectedQuote.payment_plan.down_payment;
                this.remainingPayment +=
                  selectedQuote.payment_plan.remaining_payment;
              });
            });
          });
      }
    },
    getOptionalBenefitsIfExistsCoverLimit: function(val) {
      const cover_limits_array = [];
      this.prfls.forEach((prfl, i) => {
        this.profs[i] = prfl;
        this.profs[i].selectedQuotes.length = 1;
        cover_limits_array.push(this.profs[i].cover_limit);
        this.profs[i].cover_limit = 0;
      });
      this.$store
        .dispatch("getQuotesOptionalBenefits", this.profs)
        .then(response => {
          val.forEach(coverTypeId => {
            response.data.data.profiles.forEach((profile, index) => {
              profile.selectedQuotes.forEach(selectedQuote => {
                if (selectedQuote.optional_benefits.length) {
                  const optionalBen = {};
                  let minOptBen;
                  selectedQuote.optional_benefits.forEach(optionalBenefit => {
                    if (coverTypeId == optionalBenefit.product.cover_type.id) {
                      optionalBen[
                        optionalBenefit.cover_limit
                      ] = optionalBenefit;
                    }
                  });
                  if (Object.keys(optionalBen).length > 0) {
                    this.optBenCvLmts[coverTypeId] = optionalBen;
                    if (this.currentCvType === coverTypeId) {
                      minOptBen = this.checkedCvTpLimit;
                    } else if (this.changedCvLimits[coverTypeId]) {
                      minOptBen = this.changedCvLimits[coverTypeId];
                    } else {
                      minOptBen = Math.min(...Object.keys(optionalBen));
                    }
                    this.profs[index].selectedQuotes.push(
                      optionalBen[minOptBen].id
                    );

                    this.ptnlBnfts.push(optionalBen[minOptBen]);
                  }
                }
              });
            });
          });
          this.$store
            .dispatch("getQuotesPaymentPlans", this.profs)
            .then(response => {
              response.data.data.profiles.forEach((profile, i) => {
                var pfs = this.profs[i].selectedQuotes;

                var sortedCollection = _.sortBy(profile.selectedQuotes, function(item){
                  return pfs.indexOf(item.id)
                });

                profile.selectedQuotes = sortedCollection;

                profile.selectedQuotes.forEach(selectedQuote => {
                  this.pymntPlns.push(selectedQuote.payment_plan);
                  this.totalPremium += selectedQuote.payment_plan.total_premium;
                  this.downPayment += selectedQuote.payment_plan.down_payment;
                  this.remainingPayment +=
                    selectedQuote.payment_plan.remaining_payment;
                });
              });
              this.profs.forEach((prfl, i) => {
                this.profs[i].cover_limit = cover_limits_array[i];
              });
              this.default_optBen = val;
            });
        });
    },
    coverLimitChanged: function(field, value) {
      this.prfls.forEach((prfl, ndx) => {
        Object.assign(this.prfls[ndx], {
          [field]: value
        });

        if (typeof value === "object" && value) {
          if (value.id) {
            Object.assign(this.prfls[ndx], {
              [field + "_id"]: value.id
            });
          }
        }

        this.prfls[ndx].selectedQuotes = [];
      });

      const that = this;

      if (
        this.prfls[0].installments &&
        this.prfls[0].ipf_id &&
        this.prfls[0].cover_limit
      ) {
        this.totalPremium = 0;
        this.downPayment = 0;
        this.remainingPayment = 0;
        this.pymntPlns = [];
        that.rateOfSumInsured = 0;

        this.$store
          .dispatch("getQuotes", this.prfls)
          .then(response => {
            return that.prfls.forEach((profile, index) => {
              that.slctdQts = [response.data.data.profiles[index].quotes[0].id];
              that.prfls[index].selectedQuotes = that.slctdQts;
              that.rateOfSumInsured +=
                response.data.data.profiles[
                  index
                ].quotes[0].rate_of_sum_insured;
            });
          })
          .then(() => {
            return this.$store
              .dispatch("getQuotesCoverLimits", that.prfls)
              .then(response => {
                that.cvrlmts = [];

                response.data.data.profiles.forEach((profile, i) => {
                  profile.cover_limits.forEach((coverLimit, index) => {
                    if (!i) that.cvrlmts.push(coverLimit.cover_limit);
                  });
                });
              });
          })
          .then(() => {
            return this.$store
              .dispatch("getQuotesIPFs", that.prfls)
              .then(response => {
                return response.data.data.profiles.map((profile, index) => {
                  that.ipfs = profile.selectedQuotes[0].ipfs;

                  that.prfls[index].ipf = profile.selectedQuotes[0].ipfs[0];
                  that.prfls[index].ipf_id =
                    profile.selectedQuotes[0].ipfs[0].id;

                  let ipfSettings = this.$lodash.orderBy(
                    profile.selectedQuotes[0].ipfs[0].ipfSettings,
                    ["period"]
                  );
                  that.prfls[index].installments = ipfSettings[0].period;
                });
              });
          })
          .then(() => {
            this.changedCvLimits = {};
            this.currentCvType = 0;
            this.$store.commit("setCheckedOptionalBenefits", [
              ...this.default_optBen
            ]);

            /*					  this.default_optBen.forEach((id) => {
                          this.$store.commit('setCheckedOptionalBenefits', [id]);
                        });*/
            /*return this.$store.dispatch('getQuotesPaymentPlans', that.prfls).then(response => {
							that.pymntPlns = [];

							response.data.data.profiles.forEach(profile => {

								profile.selectedQuotes.forEach(selectedQuote => {
									that.pymntPlns.push(selectedQuote.payment_plan);

									that.totalPremium += selectedQuote.payment_plan.total_premium;
									that.downPayment += selectedQuote.payment_plan.down_payment;
									that.remainingPayment += selectedQuote.payment_plan.remaining_payment;
								});
							});
						});*/
          });
      }
    },

    updateProfile: function(profileIndex, field, value) {
      this.$store.commit("updateProfiles", { profileIndex, field, value });
    },

    updateProfiles: function(field, value) {
      for (
        let profileIndex = 0;
        profileIndex < this.profiles.length;
        profileIndex++
      ) {
        this.$store.commit("updateProfiles", { profileIndex, field, value });
      }
    },

    toggleIPFsModal: function() {
      this.$modal.show("ipfs-modal-" + this.provider.id);
    },

    toggleCoverDetailsModal: function() {
      this.$modal.show("cover-details-modal-" + this.provider.id);

      this.$store.dispatch("getQuotesBenefits", this.prfls).then(response => {
        response.data.data.profiles.forEach(profile => {
          this.bnfts = profile.selectedQuotes[0].benefits;
        });
      });
    },

    toggleCoverLimitsModal: function() {
      this.$modal.show("cover-limits-modal-" + this.provider.id);
    },

    toggleOptBenCoverLimitsModal: function(optBnft, i) {
      this.$modal.show("opt-ben-cover-limits-modal-" + this.provider.id, {
        currentCvType: optBnft.product.cover_type.id,
        index: i
      });
    },

    beforeOpenOptBen: function(event) {
      this.currentCvType = event.params.currentCvType;
      this.optBenInd = event.params.index;
      this.checkedCvTpLimit =
        this.changedCvLimits[this.currentCvType] ||
        Math.min(...Object.keys(this.optBenCvLmts[this.currentCvType]));
    },
    optBencoverLimitChanged: function(e) {
      const changedCoverLimit = document.getElementById("changedCoverLimit");
      this.checkedCvTpLimit =
        changedCoverLimit.options[changedCoverLimit.selectedIndex].value;
      this.changedCvLimits[this.currentCvType] = this.checkedCvTpLimit;
      this.$store.commit("setCheckedOptionalBenefits", [
        ...this.default_optBen
      ]);
    },
    toggleServiceProvidersModal: function() {
      this.$modal.show("service-providers-modal-" + this.provider.id);

      this.$store
        .dispatch("getQuotesServiceProviders", this.prfls)
        .then(response => {
          response.data.data.profiles.forEach(profile => {
            this.srvcPrvdrs = profile.selectedQuotes[0].service_providers;
          });
        });
    },

    buy: function() {
      let that = this;

      if (!this.token) {
        this.$store.commit("setProfiles", that.prfls);
        this.$router.push("/create-account");
      } 
      else {
        this.$store
          .dispatch("postPolicySync", [
            {
              profiles: that.prfls
            }
          ])
          .then(response => {
            response.data.data.policies.forEach((policy, policyIndex) => {
              this.$store.commit("setPolicies", { policyIndex, policy });
            });

            this.$router.push(
              "/policies/" +
                response.data.data.policies[0].id +
                "/profiles/" +
                response.data.data.policies[0].profiles[0].id +
                "/" +
                response.data.data.policies[0].profiles[0].sections.next_section
            );
          });
      }
    }
  }
};
</script>

<style scoped>

</style>