<template>
	<section class="invoice-block">
        <div class="container tight">
            <div class="row">
                <div class="col-md-12">
                    <div class="share-list">
                        <div class="title">Share this link to get bonuses</div>
                        <div class="follow-us">                            
							<a :href="`http://www.facebook.com/sharer/sharer.php?u=${ getCurrentUrl() }`" target="_blank" class="share-popup">
								<i class="fa fa-facebook"></i>
							</a>
							                            
							<a :href="`http://www.twitter.com/intent/tweet?url=${ getCurrentUrl() }`" target="_blank" class="share-popup">
								<i class="fa fa-twitter"></i>
							</a>
                            
              <!-- <a :href="`http://plus.google.com/share?url=${ getCurrentUrl() }`" target="_blank" class="share-popup">
                <i class="fa fa-google-plus"></i>
              </a  -->       

							<a :href="`sms:?body=/ ${ getCurrentUrl() } /`" target="_blank" class="share-popup">
								<i class="fa fa-mobile"></i>
							</a
							
              <a href="#" data-clipboard-text="{{ getCurrentUrl() }}" title="Copy to clipboard" class="copy-to-clipboard">
								<i class="fa fa-chain" role="button" v-clipboard:copy="`${ getCurrentUrl() }`"></i>
							</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'Share',
  data () {
    return {
      title: 'share',      
    }
  },  
  methods: {
  	getCurrentUrl() {
  		return document.URL;
  	}
  }
}
</script>

<style scoped>

</style>
