<template>
    <div>
        <section class="parallax">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Agent Registration</h1>

                        <div class="parallax-breadcrumbs hidden-sm hidden-xs">
                            <a href="/become-an-agent" class="link">Become an agent</a>
                            <i class="glyphicon glyphicon-menu-right separator"></i>
                            <span href="/register">Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section v-show="agent_verified_status == 'unverified'">
            <form @submit.prevent>															
                <div class="container tight">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bottom-border-block">							
                                <div class="form-group">
                                    <label for="kpa_pin">Enter your National ID number</label>
                                    <div class="form-inline form-horizontal">
                                        <input v-validate="'required'" ref="national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="national_id" v-model="user.national_id" @blur="updateUser('national_id', user.national_id)" maxlength="32" :disabled="loading">
                                        <button type="submit" class="btn btn-default" @click.prevent="getBiodata" :disabled="loading" autofocus>{{ loading? 'loading...' : 'verify' }}</button>
                                        <span v-show="errors.has('National ID')" class="help is-danger">{{ errors.first('National ID') }}</span><br><br>
                                        <div class="national-id-title">Some explanation why National ID is necessary to specify</div>
                                    </div>
                                </div>                                
                            </div>

                            <div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
                                <div class="form-group file-upload">
                                    <label for="">Upload a copy of your national ID</label>
                                    <upload></upload>
                                </div>
                            </div>

                            <div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">First name</label>
                                            <input type="text" v-validate="required"  class="form-control"  :class="{'input': true, 'is-danger': errors.has('first name') }" name="first name" v-model="user.first_name" @blur="updateUser('first_name', user.first_name)">
                                            <span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="middle_name">Middle name (optional)</label>
                                            <input type="text" class="form-control" v-model="user.middle_name" @blur="updateUser('middle_name', user.middle_name)">                      
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="last-name">Last name</label>
                                    <input type="text" v-validate="required"  class="form-control"  :class="{'input': true, 'is-danger': errors.has('last name') }" name="last name" v-model="user.last_name" @blur="updateUser('last_name', user.last_name)">
                                    <span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
                                </div>
                            </div>

                            <div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" @blur="updateUser('email', user.email)" v-validate="required"  class="form-control" :class="{'input': true, 'is-danger': errors.has('email') }" name="email" v-model="user.email">
                                            <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" @blur="updateUser('mobile_number', user.mobile_number)" v-validate="required"  class="form-control" :class="{'input': true, 'is-danger': errors.has('phone') }" name="phone" v-model="user.mobile_number" id="phone">
                                        <span v-show="errors.has('phone')" class="help is-danger">{{ errors.first('phone') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="company_name">Your company name(optional)</label>
                                            <input type="text" class="form-control" @blur="updateUser('company_name', user.company_name)" v-model="user.company_name" id="company_name">                      
                                        </div>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group clearfix">
                                            <label for="postal_address">Postal address</label>
                                            <input type="text" v-validate="required" @blur="updateUser('postal_address', user.postal_address)" class="form-control" :class="{'input': true, 'is-danger': errors.has('postal address') }" name="postal address" v-model="user.postal_address" id="postal_address">
                                            <span v-show="errors.has('postal address')" class="help is-danger">{{ errors.first('postal address') }}</span>
                                            <span class="description pull-right">Example: P O box 12345</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" v-validate="required" @blur="updateUser('city', user.city)" class="form-control" :class="{'input': true, 'is-danger': errors.has('city') }" name="city" v-model="user.city" id="city">
                                        <span v-show="errors.has('city')" class="help is-danger">{{ errors.first('city') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                        <label for="zip_code">Postal code</label>
                                        <input type="text" v-validate="required" @blur="updateUser('postal_code', user.postal_code)" class="form-control" :class="{'input': true, 'is-danger': errors.has('postal code') }" name="postal code"  v-model="user.postal_code" id="postal_code">
                                        <span v-show="errors.has('postal code')" class="help is-danger">{{ errors.first('postal code') }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="country">County</label>
                                
                                    <select @change="updateUser('location', user.location)" id="countries" v-validate="required" class="form-control" :class="{'input': true, 'is-danger': errors.has('county') }" name="county" v-model="user.location">
                                        <option disabled selected class="disable_option">Select your County</option>
                                        <option v-for="location in locations" :value="location">{{ location.name }}</option>
                                    </select>
                                    <span v-show="errors.has('county')" class="help is-danger">{{ errors.first('county') }}</span>
                                </div>
                            </div>

                            <div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="user.agent_status" @click="updateUser('agent_status', user.agent_status)" v-validate="required" name="agent status" value="I am qualified agent currently registered by IRA.">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            <span class="label-text">I am qualified agent currently registered by IRA.</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="user.agent_status" @click="updateUser('agent_status', user.agent_status)" v-validate="required" name="agent status" value="I am qualified agent currently registered by AKI.">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            <span class="label-text">I am qualified agent currently registered by AKI.</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="user.agent_status" @click="updateUser('agent_status', user.agent_status)" v-validate="required" name="agent status" value="I am a motor vehicle dealer.">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            <span class="label-text">I am a motor vehicle dealer.</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="user.agent_status" @click="updateUser('agent_status', user.agent_status)" v-validate="required" name="agent status" value="I am a social media influencer.">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            <span class="label-text">I am a social media influencer.</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" v-model="user.agent_status" @click="updateUser('agent_status', user.agent_status)" v-validate="required" name="agent status" value="other">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            <span class="label-text">Other</span>
                                        </label>
                                    </div>
                                </div>
                                
                                <span class="help is-danger is-big" v-show="errors.has('agent status')">{{ errors.first('agent status') }}</span>

                            </div>

                            <div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
                                <div class="row form">
                                    <div class="col-md-12">
                                        <div class="form-group" v-if="user.agent_status == 'other'">
                                            <label for="nationalID">Describe your status</label>
                                            <textarea id="other-qualification" type="text" v-validate="required" @blur="updateUser('agent_status_other', user.agent_status_other)" class="form-control" :class="{'input': true, 'is-danger': errors.has('status') }" name="status" v-model="user.agent_status_other"></textarea>
                                            <span v-show="errors.has('status')" class="help is-danger">{{ errors.first('status') }}</span>
                                        </div>                                        

                                        <div class="form-group" v-if="user.agent_status == 'I am qualified agent currently registered by IRA.'">
                                            <label for="last-name">Enter IRA Registration No</label>
                                            <input type="text" v-validate="required" @blur="updateUser('IRA_registration_number', user.IRA_registration_number)" class="form-control" :class="{'input': true, 'is-danger': errors.has('IRA registration') }" name="IRA registration" v-model="user.IRA_registration_number">
                                            <span v-show="errors.has('IRA registration')" class="help is-danger">{{ errors.first('IRA registration') }}</span>
                                        </div>

                                        <div class="form-group" v-if="user.agent_status == 'I am qualified agent currently registered by AKI.'">
                                            <label for="last-name">Enter AKI Certificate Serial No</label>
                                            <input type="text" v-validate="required" @blur="updateUser('AKI_certificate_serial', user.AKI_certificate_serial)" class="form-control" :class="{'input': true, 'is-danger': errors.has('AKI certificate') }" name="AKI certificate" v-model="user.AKI_certificate_serial">
                                            <span v-show="errors.has('AKI certificate')" class="help is-danger">{{ errors.first('AKI certificate') }}</span>
                                        </div>

                                        <div class="form-group">
                                            <label for="last-name">Enter KRA PIN No</label>
                                            <input type="text" v-validate="required" @blur="updateUser('pin', user.pin)" class="form-control" :class="{'input': true, 'is-danger': errors.has('KRA pin') }" name="KRA pin" v-model="user.pin">
                                            <span v-show="errors.has('KRA pin')" class="help is-danger">{{ errors.first('KRA pin') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="bottom-border-block" v-show="(biometrics_status == 'verify_later' && (user.agent_status == 'I am qualified agent currently registered by IRA.' || user.agent_status == 'I am qualified agent currently registered by AKI.'))"> 
                                <div class="row form">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Are you registered as an agent with any underwriter?</label>
                                        </div>

                                        <div class="form-group">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" @click="updateUser('registered_agent', user.registered_agent)" v-model="user.registered_agent" v-validate="required" name="underwriter" value="1">
                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                    <span class="label-text">Yes</span>
                                                </label>
                                            </div><br/>

                                            <div class="radio">
                                                <label>
                                                <input type="radio" @click="updateUser('registered_agent', user.registered_agent)" v-model="user.registered_agent" v-validate="required" name="underwriter" value="0">
                                                <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                <span class="label-text">No</span>
                                                </label>
                                            </div>
                                        </div>

                                        <span class="help is-danger is-big" v-show="errors.has('underwriter')">{{ errors.first('underwriter') }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="bottom-border-block" v-show="biometrics_status == 'verify_later' && user.registered_agent == 1">
                                <div>
                                    <div class="row" v-for="(agentUnderwriter, index) in agent_underwriters">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="agent_code">Underwriter</label>
                                                <select @change="setAgentUnderwriter(agentUnderwriter)" v-validate="required" class="form-control" :class="{'input': true, 'is-danger': errors.has('underwriter') }" name="underwriter" v-model="agentUnderwriter.underwriter_id">                                                    
                                                    <option v-for="underwriter in underwriters" :value="underwriter.id">{{ underwriter.name }}</option>
                                                </select>
                                                <span v-show="errors.has('underwriter')" class="help is-danger">{{ errors.first('underwriter') }}</span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="agent_code">Agent code</label>
                                                <input type="text" @blur="updateAgentUnderwriters()" v-validate="required" class="form-control" :class="{'input': true, 'is-danger': errors.has('agent code') }" :name="'agent code'" v-model="agentUnderwriter.agent_code">
                                                <span class="help is-danger" v-show="errors.has('agent code')">{{ errors.first('agent code') }}</span>
                                            </div>
                                        </div>
                                    </div>                                    

                                    <div class="row form">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <a class="circle-link" @click="addAgentUnderwriter">
                                                    <span class="icon-wrapper">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                    Add underwriter
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                
                            </div>

                            <div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" v-validate="required"  class="form-control" :class="{'input': true, 'is-danger': errors.has('password') }" name="password" v-model="user.password">
                                            <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="confirm_password">Confirm password</label>
                                            <input type="password" v-validate="required"  class="form-control" :class="{'input': true, 'is-danger': errors.has('confirm password') }" name="confirm password" v-model="user.password_confirmation" id="confirm_password">
                                            <span v-show="errors.has('confirm password')" class="help is-danger">{{ errors.first('confirm password') }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row form">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-default large-btn" @click.prevent="verifyDetails">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <section class="confirm-table" v-if="agent_verified_status == 'verifying'">
            <br>
            <div class="container tight">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table confirm no-bm">
                            <tr>
                                <td colspan="2" width="50%">
                                    <div class="count-new">First Name</div>
                                    <div class="value">{{user.first_name}}</div>
                                </td>                                
                                <td colspan="2">
                                    <div class="count-new">Last Name</div>
                                    <div class="value">{{user.last_name}}</div>
                                </td>
                            </tr>
                            <tr  v-if="user.middle_name">
                                <td colspan="4">
                                    <div class="count-new">Middle Name</div>
                                    <div class="value">{{user.middle_name}}</div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="4">Contact inormation:</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="count-new">Email</div>
                                    <div class="value">{{user.email}}</div>
                                </td>
                                <td colspan="2">
                                    <div class="count-new">Phone</div>
                                    <div class="value">{{user.mobile_number}}</div>
                                </td>
                            </tr>
                            <tr v-if="user.business_name">
                                <td colspan="4">
                                    <div class="count-new">Your company name</div>
                                    <div class="value">{{user.company_name}}</div>
                                </td>

                            </tr>
                            <tr>
                                <th colspan="4">Mailing address:</th>
                            </tr>
                            <tr>
                                <td colspan="3" width="70%">
                                    <div class="count-new">Postal address</div>
                                    <div class="value">{{user.postal_address}}</div>
                                </td>
                                <td>
                                    <div class="count-new">Postal code</div>
                                    <div class="value">{{user.postal_code}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="count-new">City</div>
                                    <div class="value">{{user.city}}</div>
                                </td>
                                <td colspan="2">
                                    <div class="count-new">County</div>
                                    <div class="value" v-if="user.location">{{user.location.name}}</div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="4">agent status:</th>
                            </tr>
                        </table>

                        <table class="table confirm no-bm">
                            <tr v-if="user.agent_status">
                                <td colspan="4">
                                    <div class="count-new">Status</div>
                                    <div class="value">{{user.agent_status}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="count-new">National ID</div>
                                    <div class="value">{{user.national_id}}</div>
                                </td>
                                <td>
                                    <div class="count-new">KPA PIN</div>
                                    <div class="value">{{user.pin}}</div>
                                </td>
                                <td v-if="user.IRA_registration_number && (user.agent_status == 'I am qualified user currently registered by IRA.')">
                                    <div class="count-new">IRA</div>
                                    <div class="value">{{user.IRA_registration_number}}</div>
                                </td>
                                <td v-if="user.AKI_certificate_serial  && (user.agent_status == 'I am qualified user currently registered by AKI.')">
                                    <div class="count-new">AKI certificate</div>
                                    <div class="value">{{user.AKI_certificate_serial}}</div>
                                </td>
                            </tr>
                        </table>

                        <table class="table confirm nobm" v-if="agent_underwriters.length">
                            <tr v-for="underwriter in agent_underwriters">
                                <td width="70%">
                                    <div class="count-new">Underwriter</div>
                                    <div class="value">{{underwriter.underwriter_name}}</div>
                                </td>
                                <td>
                                    <div class="count-new">Agent code</div>
                                    <div class="value">{{underwriter.agent_code}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <a href="#" class="ghost-link" @click.prevent="back">Back</a>
                            <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading' : 'register' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <modal name="biometrics-status-verify-later">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">				
						<span>
							Ooops! we could not verify the National ID information provided. 
							Please call support number
							020 760 3888 for assistance or try again.
						</span>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="retry">Retry</button>	
							<button type="button" class="btn ghost-link" @click="verifyLater">Continue</button>	
						</div>
					</div>
				</div>
			</div>
		</modal> 

        <modal name="biometrics-information">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">				
						<h3>Is this you?</h3>
						<p>{{ biodata.FULL_NAMES }}</p>
						<p>{{ biodata.DATE_OF_BIRTH }}</p>
						<p>{{ biodata.GENDER }}</p>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="retry">No</button>	
							<button type="button" class="btn ghost-link" @click="verifyLater">Yes</button>	
						</div>
					</div>
				</div>
			</div>
		</modal>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Register",

  data() {
    return {
      required: ""
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      user: "user",
      locations: "locations",
      underwriters: "underwriters",
      biometrics_status: "biometricsStatus",
      biodata: "biodata",
      agent_underwriters: "agentUnderwriters",
      agent_verified_status: "agentVerifiedStatus",
      loggedInUser: "loggedInUser"
    })
  },

  mounted() {
    console.log("mounted--test");
    this.$store.commit("setBiometricsStatus", "unverified");
    this.$store.commit("setAgentVerifiedStatus", "unverified");
    this.$store.dispatch("getLocations");
    this.$store.dispatch("getUnderwriters");

    if(this.loggedInUser && this.loggedInUser.referral_code){
        this.$router.push("/agents/agent/" + this.loggedInUser.id);
    }
    
  },

  methods: {
    updateUser(field, value) {
      this.$store.commit("updateModel", {
        object: "user",
        field: field,
        value: value
      });
    },

    getBiodata() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store
            .dispatch("getBiodata", this.user.national_id)
            .then(response => {
              if (this.biodata.FULL_NAMES) {
                this.updateUser(
                  "first_name",
                  this.biodata.FULL_NAMES.split(" ")[0]
                );
                this.updateUser(
                  "middle_name",
                  this.biodata.FULL_NAMES.split(" ").length > 2
                    ? this.biodata.FULL_NAMES.split(" ")[1]
                    : null
                );
                this.updateUser(
                  "last_name",
                  this.biodata.FULL_NAMES.split(" ").length > 2
                    ? this.biodata.FULL_NAMES.split(" ")[2]
                    : this.biodata.FULL_NAMES.split(" ")[1]
                );
              }

              if (this.biodata.DATE_OF_BIRTH) {
                this.updateUser("date_of_birth", this.biodata.DATE_OF_BIRTH);
              }

              if (this.biodata.GENDER) {
                this.updateUser("gender", this.biodata.GENDER);
              }

              if (
                this.biodata.FULL_NAMES &&
                this.biodata.DATE_OF_BIRTH &&
                this.biodata.GENDER
              ) {
                this.$modal.show("biometrics-information");
              }

              if (
                !this.biodata.FULL_NAMES &&
                !this.biodata.DATE_OF_BIRTH &&
                !this.biodata.GENDER
              ) {
                this.$modal.show("biometrics-status-verify-later");
              }
            });
        }
      });
    },

    verifyLater() {
      this.$store.commit("setBiometricsStatus", "verify_later");
      this.required = "required";
      this.$modal.hide("biometrics-status-verify-later");
      this.$modal.hide("biometrics-information");
    },

    retry() {
      this.$modal.hide("biometrics-status-verify-later");
      this.$modal.hide("biometrics-information");
    },

    addAgentUnderwriter() {
      this.agent_underwriters.push({
        underwriter_name: null,
        underwriter_id: null,
        agent_code: null
      });

      this.$store.commit("setAgentUnderwriters", this.agent_underwriters);
    },

    setAgentUnderwriter(agentUnderwriter) {
      this.underwriters.forEach(underwriter => {
        if (agentUnderwriter.underwriter_id == underwriter.id) {
          agentUnderwriter.underwriter_name = underwriter.name;
        }
      });

      this.$store.commit("setAgentUnderwriters", this.agent_underwriters);
    },

    updateAgentUnderwriters() {
      this.$store.commit("setAgentUnderwriters", this.agent_underwriters);
    },

    verifyDetails() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.commit("setAgentVerifiedStatus", "verifying");
        }
      });
    },

    userLocationChanged() {
      this.locations.forEach(location => {
        if (location.id == this.user.location_id) {
          this.user.location = location;
        }
      });
    },

    back() {
      this.$store.commit("setAgentVerifiedStatus", "unverified");
    },

    submit() {
      this.$validator
        .validateAll()
        .then(result => {
          if (result) {
            this.$store
              .dispatch("registerAgent", {
                first_name: this.user.first_name,
                middle_name: this.user.middle_name,
                last_name: this.user.last_name,
                company_name: this.user.company_name,
                email: this.user.email,
                mobile_number: this.user.mobile_number,
                postal_address: this.user.postal_address,
                postal_code: this.user.postal_code,
                location_id: this.user.location_id,
                city: this.user.city,
                agent_status: this.user.agent_status,
                national_id: this.user.national_id,
                pin: this.user.pin,
                IRA_registration_number: this.user.IRA_registration_number,
                AKI_certificate_serial: this.user.AKI_certificate_serial,
                password: this.user.password,
                password_confirmation: this.user.password_confirmation,
                underwriters: this.agentUnderwriters
              })
              .then(response => {
                if (response.status == 400) {
                  this.$store.commit("setAgentVerifiedStatus", "unverified");
                } else {
                  this.$router.push("/agents/agent/" + response.id);
                }
              });
          }
        })
        .catch(err => {
          this.$store.commit("setAgentVerifiedStatus", "unverified");
        });
    }
  }
};
</script>

<style scope>
.disable_option {
  color: #ccc;
}
</style>