// @font-face {
// 	font-family: 'FontAwesome';
// 	src: url("../fonts/Font-Awesome/fontawesome-webfont.eot?v=4.7.0");
// 	src: url("../fonts/Font-Awesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
// 	url("../fonts/Font-Awesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
// 	url("../fonts/Font-Awesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
// 	url("../fonts/Font-Awesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
// 	url("../fonts/Font-Awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
//   }
@font-face {
	font-family: "Roboto-Light";
	src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
	font-family: "Roboto-Medium";
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
	font-family: "Roboto-Regular";
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto-Bold";
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
	font-family: "Dosis-Medium";
	src: url(../fonts/Dosis/Dosis-Medium.ttf);
}
@font-face {
	font-family: "Dosis-Book";
	src: url(../fonts/Dosis/Dosis-Book.ttf);
}
@font-face {
	font-family: "Dosis-SemiBold";
	src: url(../fonts/Dosis/Dosis-SemiBold.ttf);
}