footer {
	background-color: $gray-base-light;
	.footer-menu {
		text-align: center;
		position: relative;
		ul {
			padding: 0;
			margin: 0;
			li {
				list-style-type: none;
				display: inline-block;
				padding: 20px 10px;
				a {
					text-transform: uppercase;
					color: $gray-base;
					font-family: "Roboto-Medium";
					font-size: 12px;
					line-height: 27px;
					&:hover {
						color: darken($gray-base, 15%);
						text-decoration: none;
					}
				}
			}
		}
		.copyright {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			display: inline-block;
			font-size: 12px;
			font-family: "Roboto-Regular";
		}
	}
}
