header {
	.navbar-brand {
		height: auto;
		padding-bottom: 0;
		padding-top: 10px;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		text-align: center;
		color: #646464;
		font-size: 14px;
		line-height: 21px;
	}
	.logo-wrapper {
		display: inline-block;
	}
	.nav {
		li {
			a {
				text-transform: uppercase;
				color: #3d3d3d;
			}
		}
	}
	.navbar-default {
		border-bottom-width: 3px;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		margin-bottom: 0;
		.navbar-nav > .active > a {
			position: relative;
			&:after {
				content: "";
				height: 3px;
				background-color: $brand-red;
				display: inline-block;
				bottom: -3px;
				width: 90%;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	.right-block {
		.call-us {
			padding-top: 10px;
		}
		.user-block {
			float: right;
			display: inline-block;
			padding: 15px 0;
			padding-bottom: 0;
			padding-top: 20px;
			a {
				margin-left: 7px;
				margin-right: 7px;
			}

			.ghost-link {
				padding: 7px 0;
				&.login {
					margin-left: 5px;
					&:hover {
						color: darken($brand-red, 10%);
					}
				}
			}
		}
 	}
 	.btn-default:hover {
		box-shadow: 2px 1px 15px 2px rgba(0,0,0,.2) !important;
	}
}