
// body {
//     background: #ffffff;
//     font-style: normal;
//     font-weight: 400;
//     width: 100%;
//     height: 100%;
//     // color: #fff;
//     font-family: 'Ubuntu', sans-serif;
// }

/*---------------------------------------
Typorgraphy              
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h3,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #fff;
    font-size: 14px;
    line-height: 1.6em;
}

a {
    text-decoration: none !important;
    outline: none;
}

li {
    display: inline;
}

.navbar {
    margin: 0;
}

#header {
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 30000;
    height: 92px;
    background: #009FE3 none repeat scroll 0% 0%;
}

.navbar_menu {
    display: block;
    float: left;
    width: 100%;
}

.navigation_bar {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    float: left;
    width: 55%;
    height: 58px;
    margin: 0;
    padding: 0;
}

.navigation_bar li {
    position: relative;
}

.navigation_bar li a {
    color: #fff;
    font-weight: 600;
    padding: 20px 0;
}

.navbar-brand {
    float: left;
    display: inline;
    height: auto;
    padding: 0px;
    z-index: 99;
    position: relative;
}

.navigation_bar .fa-caret-down {
    margin-left: 5px;
}

.navbar_right ul {
    display: flex;
    height: 58px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar_right li {
    padding: 7px 10px;
    background: red none repeat scroll 0% 0%;
}

.navbar_right li:nth-child(2) {
    border-left: 1px solid #fff;
}

.navbar_right li a {
    color: #fff;
    font-size: 1.5rem;
}


/*
.navigation_bar li:hover .sub_menu{
    display: block;
}*/

.sub_menu {
    position: absolute;
    width: 200px;
    background: #fff;
    top: 40px;
    padding: 0;
    left: -45px;
    margin-top: -1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: none;
    z-index: 999999;
}

.sub_menu li {
    display: block;
    float: left;
    width: 100%;
}

.sub_menu li a {
    float: left;
    padding: 10px 20px;
    width: 100%;
    color: #009FE3;
}

header::after {
    position: absolute;
    left: 0px;
    bottom: 15px;
    content: "";
    height: 19px;
    width: 100%;
    background: #FFF none repeat scroll 0% 0%;
}

.dropdown:hover .sub_menu {
    display: block;
}

@media only screen and (max-width: 576px) {
    .navigation_bar {
        position: absolute;
        top: 92px;
        left: 0;
        height: 0;
        display: none;
        width: 100%;
        transition: 0.5s;
        background: transparent;
        background-color: #009FE3
    }
    .navigation_bar li {
        float: left;
        width: 100%;
    }
    .navigation_bar li a {
        float: left;
        width: 100%;
        color: #000;
        transition: 0.5s;
        box-shadow: 1px 2px 2px 2px;
        font-weight: 600;
        padding: 10px;
    }
    .navigation_bar li a:hover {
        box-shadow: 1px 2px 2px 2px;
    }
    .navbar-brand {
        width: 130px;
        margin-top: 10px;
        float: right;
    }
    .navbar-brand img {
        width: 100%;
    }
    .navbar-toggle .icon-bar {
        background: #009FE3;
        height: 3px;
    }
    header::after {
        display: none;
        position: absolute;
    }
    .navbar_right {
        float: left;
        width: 100%;
    }
    .navbar_right ul {
        width: 100%;
        height: 34px;
        display: block;
    }
    .navbar_right li {
        float: left;
        text-align: center;
        width: 50%;
        background: red none repeat scroll 0% 0%;
    }
    .navbar_right li a {
        color: #fff;
    }
    .navbar_right li:nth-child(2) {
        border-left: 1px solid #fff;
        float: right;
    }
    .navbar-toggle {
        background: #fff;
        border-radius: 0;
        float: left;
        margin-right: 0;
    }
    .navigation_bar.collapse.in {
        height: auto;
    }
    .sub_menu {
        float: left;
        width: 100%;
        position: relative;
        background: transparent;
        top: 0;
        left: 0;
        padding-left: 50px;
    }
    .sub_menu.collapse.in {
        height: auto;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .navbar-toggle {
        position: absolute;
        left: 20px;
        margin-top: 10px;
        border-radius: 0;
        background: #fff;
        padding: 9.5px 10px;
        display: block !important;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        background: #009FE3;
        height: 3px;
        border-radius: 1px;
    }
    .navbar-header {
        float: right;
    }
    #header {
        height: 92px;
    }
    .navbar_right {
        float: left;
        padding-left: 49px;
        height: 58px;
        display: inline;
    }
    .navbar_right ul {}
    .navbar_right li {
        background: #fff;
        float: none;
        display: block;
        border: 1px solid #009FE3;
        padding: 0
    }
    .navbar_right li a {
        padding: 9px 10px;
        float: left;
        color: #009FE3;
    }
    .navigation_bar {
        width: 100%;
        position: absolute;
        left: 0;
        display: inline;
        height: 0;
        top: 92px;
        transition: 0.5s;
        background: rgba(0, 159, 227, 0.8);
    }
    .collapse.in {
        height: auto;
    }
    .navigation_bar li a {
        color: #fff;
        padding: 10px;
        float: left;
        box-shadow: 1px 2px 2px 2px;
        font-weight: 600;
        width: 100%;
        font-weight: 600;
    }
    .navigation_bar li a:hover {
        box-shadow: 1px 2px 2px 2px;
    }
    .sub_menu {
        float: left;
        width: 100%;
        position: relative;
        background: rgba(0, 159, 227, 0.8);
        top: 0;
        left: 0;
        padding-left: 50px;
    }
    .sub_menu.collapse.in {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggle {
        position: absolute;
        left: 20px;
        margin-top: 10px;
        border-radius: 0;
        background: #fff;
        padding: 9.5px 10px;
        display: block !important;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        background: #009FE3;
        height: 3px;
        border-radius: 1px;
    }
    .navbar-header {
        float: right;
    }
    #header {
        height: 92px;
    }
    .navbar_right {
        float: left;
        display: flex;
        height: 58px;
        justify-content: center;
        width: 50%;
    }
    .navbar_right ul {}
    .navbar_right li {
        background: red none repeat scroll 0% 0%;
        float: none;
        display: block;
        padding: 0
    }
    .navbar_right li a {
        padding: 9px 10px;
        float: left;
        color: #fff;
    }
    .navigation_bar {
        width: 100%;
        position: absolute;
        left: 0;
        display: none;
        height: 0;
        top: 92px;
        transition: 0.5s;
        background: transparent;
    }
    .navigation_bar.collapse.in {
        height: auto;
    }
    .navigation_bar li a {
        color: #000;
        padding: 10px;
        float: left;
        box-shadow: 1px 2px 2px 2px;
        font-weight: 600;
        width: 100%;
        font-weight: 600;
    }
    .navigation_bar li a:hover {
        box-shadow: 1px 2px 2px 2px;
    }
    .sub_menu {
        float: left;
        width: 100%;
        position: relative;
        background: transparent;
        top: 0;
        left: 0;
        padding-left: 50px;
    }
    .sub_menu.collapse.in {
        height: auto;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .navbar_right {
        float: right;
        display: inline;
    }
    .navbar_right ul {
        height: auto;
        display: block;
    }
    .navbar_right li {
        background: transparent;
        float: none;
        display: block;
        padding: 0
    }
    .navbar_right li a {
        text-align: right;
        width: 100%;
        padding: 6px 7px 0px;
        float: left;
    }
    .navbar_right li:nth-child(2) {
        border: none;
    }
}