html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Light";
    font-size: 16px;
    color: #3D3A3A;
    text-align: justify;
    padding-bottom: 25px;
    b {
        display: block;
        padding-top: 15px;
    }
}

p {
    color: #000;
}

.parallax-mirror {
    background: #000;
}

textarea {
    border: 2px solid $gray-light !important;
}

.short {
    width: 150px;
}

.inline {
    display: inline-block !important;
}

.breadcrumb>li {
    vertical-align: middle;
}

a {
    color: $gray-base;
    &:not(.btn):hover {
        color: darken($gray-base, 15%) !important;
    }
}

.follow-us {
    float: left;
    line-height: 1.42;
    padding: 3px 0;
    margin-right: 30px;
    a {
        color: $gray-base !important;
        padding: 7px;
        font-size: 22px;
        &:hover {
            color: darken($gray-base, 15%) !important;
        }
    }
}

.breadcrumb>li.home-page a {
    width: 32px;
    height: 27px;
    display: inline-block;
}

.breadcrumb>li+li:before {
    font-family: "FontAwesome";
    padding: 0 10px;
}

.breadcrumb>li>a {
    font-family: "Dosis-Medium";
    color: #272727;
}

.breadcrumb>li:not(:first-child) a {
    font-size: 26px;
}

.parallax-breadcrumbs {
    padding-bottom: 10px;
    a.link,
    .separator {
        color: $brand-white;
    }
    a.link {
        font-family: "Roboto-Regular";
        font-size: 16px;
    }
    .separator {
        font-weight: 100;
        font-size: 10px;
        padding: 0 10px;
        line-height: 19px;
    }
}

.bottom-border-block {
    border-bottom: 3px solid $gray-light;
    padding: 35px 40px;
    &.upload-block {
        border-bottom: 0;
        .form-group {
            label {
                width: 80%;
                line-height: 20px;
            }
        }
    }
    .form-group {
        .form-inline {
            position: relative;
            button {
                z-index: 10;
                position: absolute;
                right: 0;
                display: inline-block;
            }
            .account-type-title {
                margin-top: 10px;
            }
        }
    }
    label {
        font-family: "Roboto-Regular";
        font-size: 16px;
        line-height: 34px;
        font-weight: normal;
    }
    input[type="text"],
    #counties,
    input[type="password"] {
        border: 2px solid $gray-base;
        line-height: 40px;
        margin-right: -6px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        padding-right: 90px;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .help {
        display: block;
        font-size: 11px;
        margin-top: 5px;
    }
    .input.is-danger,
    .textarea.is-danger,
    #counties.input.is-danger {
        border-color: #ff3860;
    }
    .is-big {
        font-size: 14px;
    }
    .help.is-danger {
        color: #ff3860;
        float: left;
    }
    button {
        font-family: "Roboto-Medium";
        font-size: 16px;
        color: $brand-white;
        background-color: $brand-red;
        padding: 12px 15px;
        text-transform: uppercase;
        border: 0;
    }
    &.vehicles-list {
        .insurance-object:not(:first-child) {
            border-top-width: 1px !important;
        }
        .insurance-object:not(:last-child) {
            border-bottom-width: 1px !important;
        }
        input[type="text"] {
            margin-top: -2px;
        }
    }
}

.file-upload {
    input[type="file"] {
        display: none;
    }
    label {
        margin-bottom: 0;
    }
    .account-type-title {
        display: block;
    }
    .circle-link {
        display: inline-block;
        line-height: 36px;
        float: right;
        width: 36px;
        height: 36px;
        &[class*="hidden"] {
            .icon-wrapper {
                margin-left: 10px;
            }
        }
        .icon-wrapper {
            position: relative;
            .file-upload-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                //background: url('../img/icons/upload.png') no-repeat center;
                width: 19px;
                height: 23px;
                // line-height: 36px;
            }
        }
    }
}

.insurance-object {
    border: 2px solid $gray-light;
    height: 46px;
    color: $gray-base;
    span {
        line-height: 32px;
        margin-left: 10px;
    }
}

.numbered-list-item {
    padding: 0 20px;
    padding-bottom: 40px;
    .head {
        padding-bottom: 20px;
        .title,
        .title.number {
            padding: 0;
            margin: 0;
            text-align: left;
            font-family: "Dosis-SemiBold";
            font-size: 22px;
            color: #3D3A3A;
            position: relative;
            padding-left: 45px;
            .number {
                position: absolute;
                left: 0;
                top: 0;
                // transform: translateY(-50%);
                color: $brand-red;
                border: 2px solid $brand-red;
                border-radius: 50%;
                display: inline-block;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 26px;
                margin-right: 15px;
            }
        }
    }
    .body {
        font-family: "Roboto-Light";
        font-size: 16px;
        color: #3D3A3A;
        text-align: justify;
        padding-bottom: 25px;
        b {
            display: block;
            padding-top: 15px;
        }
    }
}

.row.light,
.row.dark {
    padding: 50px 0;
}

section.dark {
    background-color: #353232;
    padding-bottom: 50px;
    p.about-text {
        border-left: 2px solid $gray-light;
        padding-left: 30px;
    }
    .about-item {
        padding-left: 100px;
    }
}

.dosis-title {
    font-family: "Dosis-Book";
    font-size: 40px;
    color: #3B3737;
    text-align: center;
    padding: 40px 0;
}

.dosis-sub-title {
    font-family: "Dosis-SemiBold";
    font-size: 22px;
    color: #3B3737;
    padding-bottom: 15px;
}

.partner-item {
    .img-wrapper {}
    .lite-text {
        margin-bottom: 50px;
    }
}

.question-item {
    padding: 30px 0;
    .title {
        font-family: "Roboto-Light";
        font-size: 18px;
        color: #3D3A3A;
        text-align: left;
        padding: 0;
        padding-bottom: 20px;
    }
    .text {
        font-family: "Roboto-Light";
        font-size: 16px;
        color: #3D3A3A;
        border-left: 3px solid $gray-light;
        padding-left: 30px;
        line-height: 24px;
    }
    ul {
        padding-left: 0;
        margin-top: 20px;
        li {
            list-style-type: none;
            position: relative;
            padding-left: 30px;
            line-height: 35px;
            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-family: "FontAwesome";
                content: "\f10c";
                display: inline-block;
                font-size: 8px;
                padding: 0 10px;
                color: $gray-light;
            }
        }
    }
}

.lite-text {
    font-family: "Roboto-Light";
    font-size: 16px;
    color: #3D3A3A;
}

.about-item {
    // width: 80%;
    margin: 0 auto;
    .title {
        font-family: "Dosis-SemiBold";
        font-size: 22px;
        color: #f1ecec;
        text-align: left;
    }
    .about-text {
        color: #f1ecec;
    }
}

.about-text {
    font-family: "Roboto-Light";
    font-size: 18px;
    color: #3D3A3A;
    padding-right: 47%;
}

.umbrella-absolute {
    // background: url("../img/short-umbrella.png") no-repeat center;
    width: 389px;
    height: 167px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -57px;
}

.provider-item {
    padding-bottom: 40px;
    padding-top: 40px;
    .header {
        text-align: center;
        .img-wrapper {
            display: inline-block;
        }
    }
    .title {
        padding: 15px 0;
        font-family: "Dosis-SemiBold";
        font-size: 22px;
        color: #3d3a3a;
    }
    .body {
        font-family: "Roboto-Light";
        font-size: 16px;
        color: #3D3A3A;
        text-align: justify;
        padding-bottom: 25px;
    }
}

.text-left {
    text-align: left !important;
}

.btn-default {
    text-transform: uppercase;
    padding: 9px 25px;
    font-size: 14px;
    &.large-btn {
        padding: 9px 80px;
    }
    &.disabled {
        font-family: "Roboto-Medium";
        font-size: 14px;
        color: #FFF;
        background-color: #D1D1D1;
        border-color: #D1D1D1;
    }
    &.btn-transparent {
        background: transparent;
        border-color: transparent;
        color: #ed1c24;
    }
}

.ghost-link {
    color: $brand-red;
    text-transform: uppercase;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    &:hover {
        color: darken($brand-red, 20%) !important;
        text-decoration: none;
        outline: none;
    }
    &:active,
    &:focus,
    &:visited {
        outline: none;
        text-decoration: none;
        color: darken($brand-red, 20%) !important;
    }
    &.disabled {
        color: $gray-light !important;
        &:hover,
        &:active,
        &:focus {
            color: $gray-light !important;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

.navbar-default {
    .navbar-toggle {
        border: 0;
    }
}

section.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

section.dashboard {
    .item-wrapper {
        .item {
            text-align: center;
            padding: 25px 0;
            position: relative;
            min-height: 200px;
            a {
                color: $gray-base;
                text-transform: uppercase;
                font-size: 16px;
                span {
                    display: block;
                    &.img-wrapper {
                        height: 71px;
                        line-height: 71px;
                        margin: 10px auto;
                        display: inline-block;
                        position: relative;
                    }
                }
                .unread {
                    background-color: $brand-red;
                    color: #FFF;
                    position: absolute;
                    display: inline-block;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    right: -30px;
                    top: -25px;
                }
                .item-name {
                    margin-top: 10px;
                }
                .item-count {
                    font-size: 14px;
                    text-transform: none;
                }
            }
        }
    }
}

.breadcrumb {
    margin: 0;
}

.btn-small {
    padding: 5px 14px;
}

.ghost-link {
    padding: 2px 12px;
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
    font-family: "Roboto-Regular";
    color: #3D3D3D;
    vertical-align: middle;
    padding: 5px 8px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.table>thead>tr>th {
    background-color: #353232;
    color: #FFF;
}

.table>tbody>tr>td:first-child {
    text-align: left;
}

.table>tbody>tr:nth-child(even)>td {
    background-color: #f2f2f2;
}

.table:not(.confirm)>thead>tr:hover>td,
.table:not(.confirm)>tbody>tr:hover>th,
.table:not(.confirm)>tbody>tr:hover>td,
.table:not(.confirm)>tfoot>tr:hover>th,
.table:not(.confirm)>tfoot>tr:hover>td {
    background-color: #f7e7e8;
}

.table-responsive .table {
    width: 80%;
    margin: 0 auto;
}

.table.ghost-table {
    width: 100%;
    tbody,
    tfoot {
        border-top: 0;
        tr {
            td {
                border-top: 0;
                text-align: left;
                background-color: #FFF;
                color: #717275;
            }
        }
    }
    tbody {
        tr {
            td {
                .ghost-link {
                    padding-left: 0;
                }
                &:first-child {
                    text-align: right;
                    border-right: 2px solid #d1d1d1;
                    padding-right: 30px;
                }
                &:last-child {
                    border-left: 2px solid #d1d1d1;
                    padding-left: 30px;
                }
            }
            &:not(:last-child) {
                td {
                    &:first-child {
                        border-right: 1px solid #d1d1d1;
                    }
                }
            }
        }
    }
}

.table.confirm {
    border: 2px solid $gray-light;
    &.no-bm {
        margin-bottom: -2px;
    }
    th,
    td {
        border: 2px solid $gray-light;
        background-color: #FFF !important;
        padding: 10px 15px;
        text-align: left;
    }
    th {
        background-color: #EAEBED !important;
        font-family: "Roboto-Bold";
        font-size: 14px;
        color: #717275;
    }
    td {
        .count-new {
            padding-bottom: 0;
        }
    }
}

.table {
    td {
        &.left {
            float: none;
            text-align: left;
        }
    }
}

.circle-link {
    font-size: 16px;
    font-family: "Roboto-Medium";
    color: #717275;
    outline: none;
    &:hover,
    &:focus,
    &:active {
        color: darken(#717275, 10%);
        text-decoration: none;
        outline: none;
        span.icon-wrapper {
            box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .2);
        }
    }
    span.icon-wrapper {
        background-color: $brand-red;
        text-align: center;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        margin-right: 10px;
        i {
            text-align: center;
            color: #FFF;
            width: 36px;
            height: 37px;
            line-height: 37px;
            font-size: 22px;
        }
    }
}

.file_upload {
    .circle-link {
        span {
            position: relative;
            i {
                &:before {
                    position: absolute;
                    //background: url('../img/icons/upload.png') no-repeat center;
                    width: 19px !important;
                    height: 23px !important;
                    display: inline-block;
                }
            }
        }
    }
}

.account-type-title {
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #9e9fa2;
}

.profile-wrapper {
    position: relative;
    .table {
        width: 50%;
    }
    .account-type-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        text-align: right;
        .close-account {
            padding: 20px 0;
            .ghost-link {
                padding: 2px 0;
            }
        }
    }
}

.modal-dialog {
    .modal-body {
        padding-bottom: 0;
    }
    .modal-content {
        border-radius: 0;
        border: 3px solid $gray-light;
        font-family: "Roboto-Regular";
        font-size: 16px;
        .form-group {
            margin-bottom: 25px;
        }
        input[type="text"],
        .dropdown {
            border: 2px solid $gray-light;
            line-height: 40px;
            height: 50px;
        }
        .dropdown-toggle {
            height: 46px;
            line-height: 36px;
            border: 0;
        }
    }
    .modal-footer {
        border-top: 0;
        padding: 20px 30px;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.optBenCvLmt {
    margin-left: 20px;
}

.underline {
    text-decoration: underline;
}

.disabled {
    color: #9e9fa2;
}

.count-new {
    color: #9e9fa2;
    font-size: 14px;
    padding-bottom: 10px;
}

.notifications-wrapper {
    .notification-item-wrapper {
        font-family: "Roboto-Regular";
        font-size: 16px;
        line-height: 24px;
        color: $gray-base;
        .item {
            padding: 20px 70px 20px 20px;
            border: 2px solid $gray-light;
            margin-bottom: 20px;
            position: relative;
            &.active {
                border-color: $gray-base;
                .date,
                .message {
                    color: #272727;
                }
            }
            &.collapsed-text {
                padding-bottom: 30px;
                .message-wrapper {
                    padding-bottom: 10px;
                    .message {
                        height: 48px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                    }
                    .read-more {
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 5px 0;
                        width: 24px;
                        height: 4px;
                        background: url('../img/icons/read-more-dots.png') no-repeat center;
                        display: inline-block;
                    }
                }
            }
            .delete {
                width: 22px;
                height: 26px;
                display: inline-block;
                background: url('../img/icons/trash.png') no-repeat center;
                position: absolute;
                right: 20px;
                top: 20px;
            }
            .date {
                height: 100%;
                width: 15%;
                text-transform: uppercase;
                color: $gray-base;
            }
            .message-wrapper {
                width: 85%;
                height: 100%;
                .message {
                    text-align: justify;
                }
            }
        }
    }
    .separator {
        padding: 30px 0;
        position: relative;
        margin-bottom: 20px;
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            display: inline-block;
            height: 2px;
            width: 200px;
            background-color: #d1d1d1;
        }
    }
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel {
    margin: 30px auto;
}

.carousel-indicators {
    text-align: left;
    position: initial;
    width: auto;
    margin-left: 0;
    left: 0;
    li {
        border: 2px solid $gray-base;
        margin: 10px;
        width: 12px;
        height: 12px;
        &.active {
            border-color: $brand-red;
            margin: 10px;
        }
    }
}

.carousel-control .fa-chevron-left:before,
.carousel-control .fa-chevron-right:before {
    display: none;
}

.carousel-inner {
    .item {
        .slide-title,
        .h3 {
            font-family: "Dosis-Book";
            font-size: 50px;
            line-height: 50px;
            padding-top: 30px;
        }
        .slide-subtitle {
            font-family: "Roboto-Light";
            font-size: 20px;
            line-height: 30px;
            padding: 30px 0;
        }
    }
}

.default-site-text {
    font-family: "Roboto-Light";
    font-size: 18px;
}

.h4 {
    font-family: "Dosis-Book";
    font-size: 40px;
    line-height: 44px;
}

.slogan {
    font-family: "Roboto-Light";
    font-size: 18px;
    line-height: 27px;
    padding: 25px 0;
}

#home-slider-slide-1,
#home-slider-slide-2,
#home-slider-slide-3 {
    min-height: 400px;
    background: url("../img/home-slider/umbrella.png") no-repeat center right;
}

section.white,
section.join-us {
    padding: 70px 0;
}

section.services {
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
    .service-item {
        display: inline-block;
        float: left;
        height: 312px;
        width: 33%;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        a {
            font-family: "Roboto-Medium";
            font-size: 16px;
            line-height: 44px;
            text-transform: uppercase;
            color: #fff;
            background: transparent;
            border: 2px solid gray;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 5px 20px;
            &:hover {
                text-decoration: none;
                background-color: rgba(255, 255, 255, .5);
                color: $gray-base;
            }
        }
        &:nth-child(1) {
            background: url("../img/services/car-insurance.png") no-repeat 4px center, #282d37;
            a {
                width: 80%;
                left: 40%;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border-left: 0;
            }
        }
        &:nth-child(2) {
            background: url("../img/services/health-insurance.png") no-repeat center, #282d37;
            a {
                width: 60%;
                border-radius: 30px;
            }
        }
        &:nth-child(3) {
            background: url("../img/services/domestic-insurance.png") no-repeat -2px center, #282d37;
            a {
                width: 80%;
                left: 60%;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                border-right: 0;
            }
        }
    }
}

section.retail-services {
    #retail-services-carousel {
        .controls {
            padding-bottom: 20px;
            .nav {
                li {
                    display: block;
                    a {
                        font-family: "Roboto-Light";
                        font-size: 16px;
                        line-height: 30px;
                        color: #3d3a3a;
                        padding: 2px 0 2px 25px;
                        border-left: 3px solid $navbar-default-border;
                    }
                    &.active {
                        a {
                            color: $brand-red;
                            border-left: 3px solid $brand-red;
                        }
                    }
                }
            }
        }
        h2 {
            font-family: "Dosis-SemiBold";
            font-size: 22px;
            line-height: 44px;
            margin: 0;
            padding-bottom: 25px;
        }
        .item {
            p {
                font-family: "Roboto-Light";
                font-size: 16px;
                line-height: 34px;
            }
            img {
                width: 100%;
            }
        }
    }
}

section.join-us {
    padding-top: 0;
    padding-bottom: 0;
    .become-an-agent,
    .claims-information {
        min-height: 350px;
        width: 50%;
        padding: 60px;
        padding-right: 0;
        padding-left: 100px;
        .title {
            font-family: "Dosis-SemiBold";
            font-size: 22px;
            line-height: 44px;
            color: #fff;
            padding-bottom: 25px;
        }
    }
    .become-an-agent {
        background-color: #353232;
        padding-left: 0;
        p {
            padding-left: 100px;
            font-family: "Roboto-Light";
            font-size: 18px;
            line-height: 27px;
            padding-bottom: 25px;
            color: #fff;
        }
        .btn {
            margin-left: 100px;
        }
    }
    .claims-information {
        border-top: 2px solid $navbar-default-border;
        .title {
            color: #595454;
        }
        .controls {
            .nav {
                li {
                    font-family: "Roboto-Light";
                    font-size: 16px;
                    line-height: 34px;
                    color: #3d3a3a;
                    padding: 2px 0 2px 25px;
                    border-left: 3px solid $navbar-default-border;
                    display: block;
                }
            }
        }
    }
}

ul.important-list {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-left: 50px;
        position: relative;
        padding-bottom: 20px;
        .title {
            font-family: "Dosis-SemiBold" !important;
            font-size: 22px !important;
            padding-bottom: 10px !important;
            color: #3D3A3A !important;
        }
        p {
            font-family: "Roboto-Light";
            font-size: 18px;
            color: #3D3A3A;
        }
        &:before {
            content: "\f00c";
            font-family: "FontAwesome";
            color: $brand-red;
            border: 2px solid $brand-red;
            border-radius: 50%;
            // padding: 5px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 26px;
            position: absolute;
            left: 0;
            top: 0;
            // transform: translate(-50%, -50%);
        }
        .title {
            padding: 0;
            font-family: "FontAwesome";
            text-align: left;
        }
    }
}

h1.section-title {
    font-family: "Dosis-Book";
    font-size: 40px;
    color: #3b3737;
    text-align: center;
    margin: 50px auto;
    padding: 0;
}

section.parallax {
    min-height: 150px;
    background: rgb(0, 0, 0);
    h1 {
        font-size: 40px;
        line-height: 44px;
        color: $brand-white;
        margin: 0;
        line-height: 140px;
    }
}

section {
    .title {
        font-family: "Roboto-Light";
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #3D3A3A;
        padding: 50px 0;
    }
}

.checklist {
    border: 2px solid $gray-base;
    padding: 20px;
}

.container.tight {
    max-width: 600px;
}

.container.semi-tight {
    max-width: 780px;
}

.row.icons,
.row.form {
    padding-bottom: 50px;
    &.row.icons {
        border-bottom: 3px solid $gray-base;
    }
    &.row.form {
        padding-top: 50px;
        .form-control {
            //height: 46px;
            //border-width: 2px;
            //border: 1px solid rgba(60,60,60,0.26);
            line-height: 30px;
        }
        input,
        select,
        .value {
            font-family: "Roboto-Regular";
            font-size: 16px;
            line-height: 34px;
        }
        .form-group {
            margin-bottom: 20px;
            &:last-child {
                padding-top: 15px;
                margin-bottom: 0;
            }
        }
    }
}

.ghost-input {
    padding: 0 !important;
    border: 0 !important;
    border-bottom: 3px solid $gray-light !important;
}

.row.icons.row.form .form-group:last-child,
.row.form.row.form .form-group:last-child {
    padding-top: 0 !important;
}

.dropdown {
    .dropdown-toggle {
        border: 1px solid #999a9d !important;
    }
    .dropdown-toggle.form-control {
        position: relative;
        &:after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 10px;
            position: absolute;
            background: url('../img/icons/angle-down.png') no-repeat center;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
        }
    }
    ul.dropdown-menu {
        border: 2px solid #d1d1d1;
        border-radius: 1px;
        top: 85%;
        padding: 15px 0;
        li {
            padding: 5px 0;
            a {
                &:hover {
                    background-color: #FFF;
                    color: #3d3d3d;
                }
            }
        }
    }
}

section.plan-selection {
    .container {}
    .item {
        text-align: center;
        a {
            text-align: center;
            color: $gray-base;
            display: inline-block;
            text-decoration: none;
            &:hover {
                text-decoration: none !important;
                .link-text {
                    color: $brand-red;
                }
            }
            &.active {
                .link-text {
                    color: $brand-red;
                }
            }
            .img-wrapper {
                width: 78px;
                height: 72px;
                margin: 10px auto;
                display: inline-block;
                position: relative;
                img {
                    margin: auto;
                }
            }
            .link-text {
                display: block;
                text-transform: uppercase;
            }
        }
    }
}

section.vehicle-form {
    .row.form.row.form {
        padding: 0;
    }
}

section.step2-quotes {
    .buttons-wrapper {
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;
        .circle-link {
            margin-left: 20px;
        }
    }
    .form-group {
        &:last-child {
            margin-bottom: 0;
        }
        .checkbox {
            width: 39%;
        }
        .description {
            font-family: "Roboto-Regular";
            font-size: 14px;
        }
    }
}

.agent-form .bottom-border-block:last-child {
    border-bottom: 0;
}

.radio_plus_input {
    label {
        width: 100%;
        span.cr,
        span.label-text {
            float: left;
        }
        span.label-text {
            width: 90%;
            input[type="text"] {
                box-shadow: none;
            }
        }
    }
}

section.invoice-block {
    .panel {
        border-width: 2px;
        &.panel-default {
            // border-color: #353232;
            border: 2px solid #gray-base;
            &>.panel-heading {
                color: #fff;
                border-color: #353232;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                margin: -2px -2px 0 -2px;
                .best-offer {
                    background-color: #e09929;
                    font-family: "Roboto-Bold";
                    font-size: 12px;
                    text-transform: uppercase;
                    line-height: 1.4;
                }
            }
            .panel-body {
                .insurance-option:last-child {
                    padding-bottom: 0;
                }
                &.bottom {
                    border-top: 2px solid $gray-base;
                    .insurance-option:last-child {
                        .left {
                            width: 50%;
                        }
                    }
                    .insurance-option.text-center {
                        padding-top: 20px;
                    }
                }
                .benefits-title {
                    font-family: "Roboto-Regular";
                    font-size: 14px;
                    padding-bottom: 0px;
                }
                .cover-type {
                    .count-new {
                        padding-bottom: 0;
                    }
                    .right {
                        .details-link {
                            line-height: 40px;
                            text-transform: uppercase;
                            i {
                                font-size: 30px;
                            }
                            // a {
                            // 	color: $gray-base;
                            // }
                            a:hover {
                                text-decoration: none;
                                // color: darken($gray-base, 15%) !important;
                            }
                        }
                    }
                }
                .insurance-option {
                    padding-bottom: 20px;
                    &:first-child {
                        padding-bottom: 0;
                    }
                    .right {
                        text-align: right;
                        a.talk-with-agent,
                        a.compare {
                            display: block;
                            i {
                                font-size: 20px;
                            }
                            &.talk-with-agent {
                                padding-bottom: 10px;
                            }
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    .count-new {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

.lowercase {
    text-transform: lowercase;
}

.share-list {
    padding: 20px 0 40px 0;
    .title {
        padding: 0;
        padding-bottom: 20px;
        font-family: "Roboto-Light";
        font-size: 18px;
        line-height: 27px;
    }
    .follow-us {
        float: none;
        text-align: center;
        margin: 0;
    }
}

section.contacts {
    position: relative;
    height: 406px;
    div[class^="col-"] {
        position: relative;
        &:first-child {
            padding-right: 35px;
            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                display: inline-block;
                width: 1px;
                background-color: #D1D1D1;
                height: 100%;
            }
        }
        &:last-child {
            padding-left: 35px;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                display: inline-block;
                width: 1px;
                background-color: #D1D1D1;
                height: 100%;
            }
        }
    }
    .useful-info {
        .text {
            font-family: "Roboto-Regular";
            font-size: 16px;
            line-height: 36px;
        }
        .number {
            font-family: "Roboto-Regular";
            font-size: 22px;
            line-height: 36px;
        }
        .ghost-link {
            line-height: 30px;
        }
        // padding-top: 30px;
    }
}

.number {
    font-family: "Roboto-Regular";
    font-size: 22px;
    line-height: 36px;
}

.red {
    color: #F00;
}

section.get-in-touch-form {
    .row.form {
        padding-top: 0 !important;
        .form-control {
            border-color: #D1D1D1;
        }
    }
    textarea.form-control {
        height: initial !important;
    }
}

#map {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 531px;
    height: 406px;
}

section.create-account {
    input#national_id {
        width: 82%;
    }
}

section.order-summary {
    .checkbox {
        label {
            width: 100%;
        }
        .label-text {
            width: 80%;
            line-height: 1.9em;
        }
    }
}

.referral_wrapper {
    position: relative;
    input.form-control {
        height: 46px;
        padding-right: 15%;
    }
    .copy_to_clipboard {
        position: absolute;
        right: 0;
        top: 0;
        height: 46px;
        line-height: 30px;
    }
}

a.red-circle-link {
    font-size: 30px;
    width: 60px;
    height: 60px;
    border: 2px solid #F00;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    margin: 10px;
    &:hover {
        text-decoration: none;
        color: darken(#F00, 10%) !important;
        background-color: rgba(255, 0, 0, .1);
    }
}

section.agent-now {
    .social-circles-wrapper {
        padding: 20px 0;
    }
    input.form-control {
        border-width: 2px;
    }
    .social-circles-wrapper span.default-site-text {
        margin-left: 30px;
    }
}

section.delivery-form {
    .radio {
        .lite-text {
            padding-left: 45px;
        }
    }
}

#map-delivery {
    height: 300px;
}

.datepicker {
    background-color: #3E3F42;
    padding: 20px 40px;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    font-family: "Roboto-Regular";
    .day.active {
        background-color: red;
    }
    .prev,
    .next {
        font-size: 25px;
    }
    table {
        tr {
            td.day:hover {
                background: none;
            }
            td.active:hover,
            td.active:hover:hover,
            td.active.active,
            td:active:hover.active {
                background-color: #000;
            }
            td.active {
                background-image: linear-gradient(to bottom, #000, #000);
            }
            td.day.active {
                border-radius: 0;
            }
        }
    }
    .prev:hover,
    .next:hover {
        background: none;
        color: #FFF;
    }
    .datepicker-switch {
        font-size: 25px;
        color: #FFf;
        font-weight: normal;
        padding: 15px 5px;
    }
    .datepicker-switch:hover {
        background: none;
    }
    tfoot {
        tr {
            th:hover {
                background: none;
            }
        }
    }
    .today {
        display: inline-block;
        color: #FFF;
        font-weight: normal;
        font-size: 14px;
    }
    .day {
        color: #FFF;
        padding: 8px 12px;
    }
    .dow {
        color: #FFF;
        font-weight: 100;
        font-family: "Roboto-Regular";
    }
}

.datepicker-dropdown:after,
.datepicker-dropdown:before {
    display: none;
}

section.payment-methods {
    .payment-links {
        a {
            margin-top: 30px;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            background-position: center;
            display: inline-block;
            width: 40%;
            height: 100px;
            &.mpesa {
                background-image: url('../img/payment-systems/m-pesa.jpeg');
            }
            &.paypal {
                background-image: url('../img/payment-systems/paypal-logo.png');
            }
            &.visa {
                background-image: url('../img/payment-systems/visa-logo.png');
            }
            &.mastercard {
                background-image: url('../img/payment-systems/mastercard-logo.png');
            }
        }
    }
}

.modal-benefits {
    &.v--modal-overlay {
        .v--modal-box {
            max-width: 700px !important;
            width: auto !important;
            .modal-body {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .modal-benefits-row {
            margin-bottom: 18px;
        }
        .modal-title {
            margin-bottom: 20px;
        }
        //overflow:auto;
    }
    .checkbox {
        label {
            input[type="checkbox"]:disabled {
                &+.cr {
                    background: #ccc;
                    opacity: 1;
                    border-color: #ccc;
                    .cr-icon {
                        color: #fff;
                    }
                }
            }
            input[type="radio"]:disabled {
                &+.cr {
                    background: #ccc;
                    opacity: 1;
                    border-color: #ccc;
                    .cr-icon {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.suspend_period {
    font-size: 14px;
    color: #aaaaad;
}

.form-group {
    margin-bottom: 25px;
}