/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1199px) {
	section.services {
		.container {
			width: auto;
		}
	}

	section.retail-services {
		#retail-services-carousel {
			.item {
				p {
					font-size: 14px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	section.contacts {
		#map {
			width: 33%;
		}
	}
}

@media only screen and (max-width: 1023px) {
	.carousel {
		.carousel-inner {
			.item {
				&#home-slider-slide-1 {
					background: none;
				}
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	header {
		.navbar {
			position: initial;
			border-left: 0;
			border-right: 0;
			min-height: 0;
		}
		.navbar-toggle {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
		}

		.navbar-default .navbar-collapse,
		.navbar-default .navbar-form {
			width: 70%;
			background-color: #FFF;
			z-index: 1;
		}

		.navbar-brand {
			height: auto;
			img {
				width: 101px;
				height: 66px;
			}
		}
		.logo-wrapper {
			display: inline-block;
		}
		.top {
			padding-bottom: 5px;
		}
		.right-block {
			.user-block {
				padding-top: 48px;
				padding-right: 10px;
				a {
					margin: 0;
					&.btn {
						padding-left: 7px;
						padding-right: 7px;
					}
				}
			}
			.call-us {
				position: absolute;
				top: 15px;
				right: 70px;
				padding-top: 0;
			}
		}
	}

	section.dashboard {
		.item-wrapper {
			.item {
				a {
					font-size: 14px;
					span.item-count {
						font-size: 12px;
					}
				}
			}
		}
	}

	.carousel-indicators {
		position: initial;
	}

	.carousel-control.left i,
	.carousel-control.right i {
		position: absolute;
		bottom: 10px;
		color: $brand-red;
		&:before {
			display: block;
		}
	}

	section.services {
		.service-item {
			width: 100%;
			height: 400px;
			-webkit-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
		}
	}

	section.join-us {
		.become-an-agent,
		.claims-information {
			padding-left: 30px;
			&.become-an-agent {
				// padding-left: 0;
				p {
					padding-left: 0;
					& + div {
						text-align: center;
					}
				}
				.btn {
					display: inline-block;
					margin: 0 auto;
				}
			}
		}
	}
	section.parallax {
		max-height: 50px;
		min-height: 0;
		h1 {
			text-align: center;
			line-height: 50px;
		}
	}

	section.step2-quotes {
		.checklist {
			.form-group {
				.checkbox {
					width: 100%;
				}
				.description {
					padding-left: 45px;
					display: inline-block;
				}
			}
		}
	}

	section.our-partners {
		.partner-item {
			.img-wrapper, .dosis-sub-title {
				text-align: center;
			}
			.dosis-sub-title {
				margin-top: 20px;
			}
			.lite-text {
				text-align: justify;
			}
		}
	}



	footer {
		.footer-menu {
			ul {
				li {
					padding: 20px 10px;
				}
			}
			.copyright {
				position: initial;
			}
		}
	}

	.profile-wrapper {
		position: relative;
		.table {
			width: 100%;
		}
	}

	section.contacts {
		height: auto;
		#map {
			width: 100%;
			height: 300px;
			position: relative;
		}
	}
}

@media only screen and (max-width: 767px) {
	.profile-wrapper {
		.account-type-wrapper {
			position: initial !important;
			display: block;
			text-align: center;
			padding-top: 40px;
			.account-type {
				font-size: 16px;
				color: $gray-base;
			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	header {
		.right-block {
			.user-block {
				padding-top: 40px;
			}
		}
	}
	.breadcrumb {
		padding-top: 5px;
	}
	.carousel-indicators {
		text-align: center !important;
	}
}

@media only screen and (max-width: 425px) {
	.mobile-block {
		text-align: center;
		button, a {
			width: 100%;
			display: block;
			margin-top: 20px;
		}
	}

	.radio_plus_input {
		label {
			span.label-text {
				width: 70%;
			}
		}
	}


	.notifications-wrapper {
		.notification-item-wrapper {
			.item {
				padding: 20px 20px 20px 20px;
				.date {
					width: 100%;
					padding-bottom: 20px;
					.day {
						float: left;
					}
					.year {
						display: inline-block;
					}
				}
				.message-wrapper {
					width: 100%;
				}
			}
		}
		.separator {
			&:before {
				width: 100%;
			}
		}
	}

	section.services {
		.service-item {
			height: 200px;
		}
	}

	section.retail-services {
		#retail-services-carousel {
			.item {
				p {
					text-align: center;
				}
			}
		}
	}

	section.join-us {
		.become-an-agent,
		.claims-information {
			width: 100%;
		}
	}

	section.step2-quotes {
		.buttons-wrapper {
			a.circle-link {
				margin-left: 0;
				width: 49%;
				display: inline-block;
				span:first-child {
					float: left;
				}
				span.link-text {
					// padding-left: 20px;
					width: 150px;
					// background-color: red;
				}
				// padding-left: 20px;
				// display: block;
				// margin-bottom: 20px;
			}
		}
	}

	.bottom-border-block {
		&.upload-block {
			.form-group {
				label {
					width: 70%;
				}
			}
		}
	}

	.question-item {
		.title {
			text-align: center;
		}
	}

	section.contacts {
		div[class^="col-"]:last-child {
			padding-left: 10px;
			text-align: center;
		}
	}

	section.create-account {
		button.btn-default:not(.verify) {
			display: block;
			width: 100%;
		}

		input#national_id {
			display: inline-block;
			width: 73%;
			& + button {
				padding: 12px 25px;
			}
		}
	}
}

@media only screen and (max-width: 375px) {
	section.create-account {
		input#national_id {
			width: 70%;
		}
	}
	header {
		.top {
			.logo-wrapper {
				width: 32%;
			}
			.right-block {
				width: 68%;
				text-align: left;
				.call-us {
					font-size: 14px;
				}
				.user-block {
					padding-top: 47px;
					width: 100%;
					.btn-default {
						padding: 4px 7px;
					}
					a {
						font-size: 14px;
					}
					.ghost-link {
						white-space: nowrap;
						max-width: 90px;
						display: inline-block;
						text-overflow: ellipsis;
						overflow: hidden;
						margin-left: 0;
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}
	}

	section.dashboard > .container > .row > div[class^="col-"] {
		padding-left: 5px;
		padding-right: 5px;
	}

	section.dashboard {
		.item-wrapper {
			.item {
				padding: 10px 0 !important;
				a {
					.item-name {
						font-size: 14px;
					}
					.item-count {
						font-size: 12px;
						font-family: "Roboto-Regular";
					}
				}
			}
		}
	}

	.table.ghost-table {
		tbody {
			tr {
				td {
					font-family: "Roboto-Regular";
					font-weight: normal;
					font-size: 16px;
					&:first-child {
						white-space: nowrap;
						padding-right: 15px !important;
						padding-left: 0;
					}
					&:last-child {
						padding-left: 15px !important;
						padding-right: 0;
					}
				}
			}
		}
	}

	.carousel {
		.carousel-indicators {
			bottom: 0;
		}
		.carousel-inner {
			.item {
				.slide-title {
					font-size: 45px;
				}
				.slide-subtitle {
					font-size: 18px;
				}
			}
		}
	}

	section.invoice-block {
		.panel {
			&.panel-default {
				& > .panel-heading {
					span:first-child {
						width: 60%;
						display: inline-block;
					}
				}
			}
		}
	}

	footer {
		.footer-menu {
			ul {
				li {
					a {
						font-size: 12px;
						font-family: "Roboto-Medium";
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	header {
		.top {
			.logo-wrapper {
				.navbar-brand {
					padding-top: 10px;
					img {
						height: 100%;
						width: 90px;
					}
				}
			}
			.right-block {
				.user-block {
					a {
						font-size: 14px;
					}
					.ghost-link.login {
						max-width: 90px;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}
		}
		.navbar {
				margin-bottom: 0;
			}
	}

	section.dashboard {
		padding-bottom: 35px;
		.item-wrapper {
			.item {
				height: 176px;
			}
		}
	}

	.carousel .carousel-inner .item {
		.slide-title {
			font-size: 40px;
		}
		.slide-subtitle {
			font-size:  16px;
		}
	}

	footer {
		.footer-menu {
			ul {
				li {
					padding: 13px 10px;
					padding-top: 10px;
				}
			}
		}
	}

  .modal-benefits {
    .checkbox,
    .radio {
      label {
        font-size: 14px;
      }
    }
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
	section.create-account {
		input#national_id {
			width: 66%;
		}
		.ghost-link {
			padding: 2px 0;
		}
	}
	header {
		.top {
			.logo-wrapper {
				.navbar-brand {
					padding-top: 10px;
					img {
						height: 100%;
						width: 85px;
					}
				}
			}
			.right-block {
				.call-us {
					right: 60px;
				}
				.user-block {
					a {
						font-size: 13px;
					}
					.ghost-link.login {
						margin-left: 5px;
						max-width: 70px;
					}
				}
			}
		}
	}
	section.services {
		.service-item {
			&:nth-child(2) a {
				width: 80%;
			}
		}
	}
	section.step2-quotes {
		.buttons-wrapper {
			a.circle-link {
				padding-left: 20px;
				width: 100%;
				display: inline-block;
				span:first-child {
					// float: left;
					display: inline-block;
				}
				&:first-child {
					margin-bottom: 10px;
				}
			}
		}
	}
	footer {
		.footer-menu {
			ul {
				li {
					padding: 20px 5px;
				}
			}
		}
	}
	.bottom-border-block {
		&.upload-block {
			.form-group {
				label {
					width: 50%;
				}
			}
		}
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	.navbar-nav {
		float: none;
	}
	.navbar-nav > li {
		float: none;
	}
	.nav > li {
		display: inline-block;
	}
  .modal-benefits {
    .modal-dialog {
      width: 700px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
