@media screen and (max-width: 768px) {
  .navbar-nav > li > a {
    padding: 3px 15px;
  }
  .nav > li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-default .navbar-nav > li > a {
    text-align: left;
    padding-left: 50px;
  }
  header .navbar-default .navbar-nav > .active > a:after {
    height: 100% !important;
    left: 2px !important;
    top: 0 !important;
    width: 3px !important;
  }
  .navbar-collapse {
    border-top: 0;
  }
  .side-collapse-container{
    width:100%;
    position:relative;
    left:0;
    transition:left .4s;
  }
  .side-collapse-container.out{
    left:200px;
  }
  .side-collapse {
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    position: fixed;
    overflow: hidden;
    transition:width .4s;
    z-index: 1;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
    .navbar-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .follow-us {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      margin-right: 0;
      width: 100%;
      text-align: center;
    }
  }
  .side-collapse.in {
    width:0;
  }
}