<template>	
	<div :style="{ color: color, fontSize: fontSize + 'px' }">
        <i :class="`fa fa-frown-o animated infinite swing fa-{{ iconSize }}x fa-fw primary-color`"></i>  
        <div class="primary-color"><slot></slot></div>
    </div>  
</template>

<script>

export default {  
	name: 'Error',

	data () {
		return {
			iconSize: 4,
			color: '#ed1c24',
			fontSize: 64,
		}
	},
}
</script>

<style scoped>

</style>
