<template>	
	<span :style="{ color: color, fontSize: fontSize + 'px' }">
		<i :class="`fa fa-spinner fa-pulse fa-{{ iconSize }}x fa-fw primary-color`"></i> 
		<div class="primary-color"><slot></slot></div>      
	</span> 
</template>

<script>

export default {  
	name: 'Loader',
	
	props: ['icon-size', 'font-size'],

	data () {
		return {
			// iconSize: 4,
			color: '#ed1c24',
			// fontSize: 64,
		}
	},
}
</script>

<style scoped>

</style>
