<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{title}}</h1>
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
                            <i class="glyphicon glyphicon-menu-right separator"></i>
                            <a href="#" class="link">Quotes</a>
                            <i class="glyphicon glyphicon-menu-right separator"></i>
                            <a href="#" class="link">Additional Information</a>
                            <i class="glyphicon glyphicon-menu-right separator"></i>
                            <a href="#" class="link">Health Status</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Additional Information</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container tight">
				<div class="row">
					<div class="col-md-12">
						<form>
							<div class="bottom-border-block">
								<coverageStartDate></coverageStartDate>
							</div>

              
							<mailing></mailing>

							<div class="title">
								<a href="#" class="ghost-link" @click.prevent="back">Back</a>
								<a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>			

	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Health_secondary",

  data() {
    return {
      title: "Addtional Information",

      // policies: this.$lodash.cloneDeep(this.$store.state.policies),
      config: {
        altFormat: "M	j, Y",
        dateFormat: "d-m-Y"
      }
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      locations: "locations",
      policies: "policies",
    })
  },

  watch: {
    "date.time": function(val, oldVal) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex: 0,
        profileIndex: 0,
        field: "coverage_start_date",
        value: val
      });
    }
  },

  mounted() {
    this.$store.dispatch("getLocations");
  },

  methods: {
    back: function() {
      this.$router.push(
        '/policies/'+
        this.policies[0].id+
        '/profiles/'+this.policies[0].profiles[0].id+'/'
        +this.policies[0].profiles[0].sections.previous_section
      )
    },

    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    submit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postPolicySync").then(response => {
            this.$router.push(
              "/policies/" +
                response.data.data.policies[0].id +
                "/profiles/" +
                response.data.data.policies[0].profiles[0].id +
                "/" +
                response.data.data.policies[0].profiles[0].sections.next_section
            );
          });
        }
      });
    }
  }
};
</script>

<style lang="scss">
.v--modal {
  height: auto !important;
  background-color: transparent !important;
  box-shadow: none !important;
  top: 30px !important;
}
</style>
