<template>
	<div>
	    <section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Additional Information</h1>
						
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Additional Information</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	    
	    <section>
	      <div class="container tight">
	        <div class="row">
				<div class="col-md-12">
					<form>            
						<div class="bottom-border-block">
							<div class="form-group">
								<label for="">Do you have NHIF?</label>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<div class="radio">
											<label>
												<input type="radio" name="nhif" v-validate="'required'" v-model="policies[0].profiles[0].nhif" :value="true"  @click="updatePolicyProfile(0, 0, 'nhif', policies[0].profiles[0].nhif)">

												<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
												<span class="label-text">Yes</span>
											</label>
										</div>
									</div>



									<div class="col-xs-6">
										<div class="radio">
											<label>
												<input type="radio" name="nhif" v-validate="'required'" v-model="policies[0].profiles[0].nhif" :value="false" @click="updatePolicyProfile(0, 0, 'nhif', policies[0].profiles[0].nhif)">

												<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
												<span class="label-text">No</span>
											</label>
										</div>
									</div>
								</div>
								<span class="help is-danger is-big" v-show="errors.has('nhif')">{{ errors.first('nhif') }}</span>
							</div>             
							
						</div>

						<!-- <div class="bottom-border-block">

							<div class="form-group">
								<h3>Your details</h3>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-xs-6">
										<label for="">First Name</label>
										<input type="text" class="form-control" v-validate="'required'" name="first name" v-model="policies[0].profiles[0].first_name" @blur="updatePolicyProfile(0, 0, 'first_name', policies[0].profiles[0].first_name)">                     
										<span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
									</div>

									<div class="col-xs-6">
										<label for="">Last Name</label>
										<input type="text" class="form-control" v-validate="'required'" name="last name" v-model="policies[0].profiles[0].last_name" @click="updatePolicyProfile(0, 0, 'last_name', policies[0].profiles[0].last_name)">
										<span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
									</div>																																
								</div>
							</div> 

							<div class="form-group">
								<label for="gender">Gender</label>
									
								<select id="gender" @change="updatePolicyProfile(0, 0, 'gender', policies[0].profiles[0].gender)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('county') }" name="county" v-model="policies[0].profiles[0].gender">                                
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
								<span v-show="errors.has('gender')" class="help is-danger">{{ errors.first('gender') }}</span>
							</div>

							<div class="form-group">
								<label for="">Date of birth</label>      

								<div>
									<flat-pickr v-model="policies[0].profiles[0].date_of_birth" @on-change="updatePolicyProfile(0, 0, 'date_of_birth', policies[0].profiles[0].date_of_birth)" :config="config"></flat-pickr>
								</div>
							</div>

							<div class="form-group">
									<label for="kpa_pin">Enter your KRA PIN number</label>
									<div class="form-inline form-horizontal">
										<input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'personal_identification_number', policies[0].profiles[0].personal_identification_number)" ref="kra_pin" :class="{'input': true, 'is-danger': errors.has('kra pin') }" type="text" name="kra pin" id="personal_identification_number" v-model="policies[0].profiles[0].personal_identification_number" maxlength="32">
										<span v-show="errors.has('kra pin')" class="help is-danger">{{ errors.first('kra pin') }}</span>
									</div>
								</div>
						</div> -->


						<div role="tablist" v-for="(profile, pIndex) in policies[0].profiles"  class="accordionDiv"> <!-- v-if="pIndex > 0" -->
					        <b-card no-body class="card mb-1" style="margin-top: 10px;">
					            <b-card-header header-tag="header" class="p-1 card-header " role="tab">
					                <b-btn block href="#" v-b-toggle="'accordion-' + pIndex" variant="default" class="accordionTitle">
					                	<span class="when-opened"></span>
					                	<span class="when-closed"></span>
					               		<span> {{ (pIndex>0) ? 'Dependent\'s ' + pIndex : 'Your' }} details</span>
									</b-btn>

					            </b-card-header>
					            <b-collapse :id="'accordion-' + pIndex"  visible accordion="my-accordion" role="tabpanel">
					                <div  style="margin-top: 5px;">
										<!-- <div class="form-group">
											<h3>Dependent's {{ pIndex }} details</h3>
										</div> -->

										<div class="form-group" v-if="moment().diff(moment(profile.date_of_birth, 'DD-MM-YYYY').format('YYYY-MM-DD'), 'years') >= 18">
												<label for="kpa_pin">Enter your National ID number</label>
												<div class="form-inline form-horizontal">
														<input v-validate="'required'" ref="national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="national_id" v-model="policies[0].profiles[pIndex].national_id" @blur="updatePolicyProfile(0, pIndex, 'national_id', policies[0].profiles[pIndex].national_id)" maxlength="32" :disabled="loading">
														
														<span v-show="errors.has('National ID')" class="help is-danger">{{ errors.first('National ID') }}</span><br><br>
														<div class="national-id-title">Some explanation why National ID is necessary to specify</div>
												</div>
										</div>

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="">First Name</label>
													<input type="text" class="form-control" name="first name" v-model="policies[0].profiles[pIndex].first_name" @blur="updatePolicyProfile(0, pIndex, 'first_name', policies[0].profiles[pIndex].first_name)">                     
													<span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
												</div>
												
												<div class="col-xs-6">
													<label for="">Last Name</label>
													<input type="text" class="form-control" name="last name" v-model="policies[0].profiles[pIndex].last_name" @blur="updatePolicyProfile(0, pIndex, 'last_name', policies[0].profiles[pIndex].last_name)">
													<span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
												</div>																			
											</div>
										</div> 

										<div class="form-group">
											<label for="agent_code">Gender</label>

											<select v-model="policies[0].profiles[pIndex].gender" @blur="updatePolicyProfile(0, pIndex, 'gender', policies[0].profiles[pIndex].gender)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('gender') }" name="gender">                                                                                
												<option value="male">Male</option>
												<option value="female">Female</option>
											</select>
											<span v-show="errors.has('gender')" class="help is-danger">{{ errors.first('gender') }}</span>
										</div>
										
										<div class="form-group">
											<label for="cover_start">Principal date of birth?</label>

											<div>
												<flat-pickr v-model="policies[0].profiles[pIndex].date_of_birth" @on-change="updatePolicyProfile(0, pIndex, 'date_of_birth', policies[0].profiles[pIndex].date_of_birth)" :config="config" name="principal date of birth" v-validate="{required: true}"></flat-pickr>
											</div>

											<span v-show="errors.has('principal date of birth')" class="help is-danger">{{ errors.first('principal date of birth') }}</span>
										</div>
										
										<!-- // student provide status proof -->
										<div class="form-group file-upload" v-if="moment().diff(moment(policies[0].profiles[pIndex].date_of_birth, 'DD-MM-YYYY').format('YYYY-MM-DD'), 'years') < 19">
											<label for="">Upload a copy of the birth certificate</label>
											<upload></upload>
										</div>

										<div class="form-group file-upload" v-if="moment().diff(moment(policies[0].profiles[pIndex].date_of_birth, 'DD-MM-YYYY').format('YYYY-MM-DD'), 'years') > 18 && moment().diff(moment(policies[0].profiles[pIndex].date_of_birth, 'DD-MM-YYYY').format('YYYY-MM-DD'), 'years') < 25 && policies[0].profiles[pIndex].spouse == false">
											<label for="">Upload a copy of student status ID</label>
											<upload></upload>
										</div>
									</div>
					            </b-collapse>
					        </b-card>
					    </div>


						
						<!-- <div class="bottom-border-block" v-for="(profile, pIndex) in policies[0].profiles" v-if="pIndex > 0"> -->
							 
						<!-- </div> -->

					</form>  

					<div class="title">
						<a href="#" class="ghost-link" @click.prevent="back">Back</a>
						<a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
					</div>        
				</div>
	        </div>
	      </div>
	    </section> 

		<modal name="biometrics-status-verify-later" height="auto" :scrollable="true" :adaptive="true" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">				
						<span>
							Ooops! we could not verify the National ID information provided. 
							Please call support number
							020 760 3888 for assistance or try again.
						</span>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link">Retry</button>	
							<button type="button" class="btn ghost-link">Continue</button>	
						</div>
					</div>
				</div>
			</div>
		</modal> 

		<modal name="biometrics-information" height="auto" :scrollable="true" :adaptive="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">				
						<h3>Biodata</h3>
						<p>{{ biodata.FULL_NAMES }}</p>
						<p>{{ biodata.DATE_OF_BIRTH }}</p>
						<p>{{ biodata.GENDER }}</p>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="retry">No</button>	
							<button type="button" class="btn ghost-link" @click="verifyLater">Yes</button>	
						</div>
					</div>
				</div>
			</div>
		</modal>
  	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Health_primary",

  data() {
    return {
      // policies: this.$lodash.cloneDeep(this.$store.state.policies),
      config: {
        altFormat: "M	j, Y",
        dateFormat: "d-m-Y",    
        maxDate: new Date()
      }
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      biodata: "biodata",
      policies: "policies",
    })
  },

  methods: {
    verifyLater() {
      this.$modal.hide("biometrics-status-verify-later");
      this.$modal.hide("biometrics-information");
    },

    retry() {
      this.$modal.hide("biometrics-status-verify-later");
      this.$modal.hide("biometrics-information");
    },

    moment: function(date, format) {
      return this.$moment(date, format);
    },

    dateOfBirthChanged: function(pIndex, date) {
      this.updatePolicyProfile(0, pIndex, "date_of_birth", date);
    },

    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    getBiometrics(pIndex) {
      this.$store
        .dispatch(
          "getBiometrics",
          this.policies[0].profiles[pIndex].national_id
        )
        .then(response => {
          if (this.biodata.FULL_NAMES) {
            this.updatePolicyProfile(
              0,
              0,
              "first_name",
              this.biodata.FULL_NAMES.split(" ")[0]
            );
            this.updatePolicyProfile(
              0,
              0,
              "middle_name",
              this.biodata.FULL_NAMES.split(" ").length > 2
                ? this.biodata.FULL_NAMES.split(" ")[1]
                : null
            );
            this.updatePolicyProfile(
              0,
              0,
              "last_name",
              this.biodata.FULL_NAMES.split(" ").length > 2
                ? this.biodata.FULL_NAMES.split(" ")[2]
                : this.biodata.FULL_NAMES.split(" ")[1]
            );
          }

          if (this.biodata.DATE_OF_BIRTH) {
            this.updatePolicyProfile(
              0,
              0,
              "date_of_birth",
              this.biodata.DATE_OF_BIRTH
            );
          }

          if (this.biodata.GENDER) {
            this.updatePolicyProfile(0, 0, "gender", this.biodata.GENDER);
          }

          if (
            this.biodata.FULL_NAMES &&
            this.biodata.DATE_OF_BIRTH &&
            this.biodata.GENDER
          ) {
            this.$modal.show("biometrics-information");
          }

          if (
            !this.biodata.FULL_NAMES &&
            !this.biodata.DATE_OF_BIRTH &&
            !this.biodata.GENDER
          ) {
            this.$modal.show("biometrics-status-verify-later");
          }
        });
    },

    submit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postPolicySync").then(response => {
            this.$router.push(
              "/policies/" +
                response.data.data.policies[0].id +
                "/profiles/" +
                response.data.data.policies[0].profiles[0].id +
                "/" +
                response.data.data.policies[0].profiles[0].sections.next_section
            );

            this.$store.commit("updatePolicyProfile", {
              policyIndex: 0,
              profileIndex: 0,
              field: "current_section",
              value: response.data.data.policies[0].profiles[0].sections.next_section
            });

            this.$store.dispatch("postPolicySync");
          });
        }
      });
    }
  }
};
</script>

<style lang="scss">

	.disable_option {
	  color: #ccc;
	}


	.accordionTitle{
        background-color: #e3e3e3;
        /*background-color: #38cc70;*/
        text-align: center;
        font-weight: 600;
        padding: 2em;
        display: block;
        text-decoration: none;
        color: #1e1e1e;
        -webkit-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
    }


    .accordionTitle:hover{
        background-color: #ccc;
    }
    .accordionItem {
        height: auto;
        overflow: hidden;
        max-height: 50em;
        -webkit-transition: all .5s ease-in;
        transition: all .5s ease-in;
    }

    header .btn-default:hover {
	    box-shadow: none !important;
	}
	.btn-default:hover {
	    color: #000;
	    background-color: #ccc;
	    border: none;
	}
	.btn-default:focus, .btn-default.focus {
	    color: #000;
	    background-color: #ccc;
	    border-color: #ccc;
	}
	.btn:hover, .btn:focus, .btn.focus {
	    color: #000;
	    text-decoration: none;
	}
	.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: -2px;
	}
	.accordionDiv .btn, .accordionDiv .btn-block {
	    display: block;
	    width: 100%;
	    background: #e3e3e3;
	    border: none;
	    border-radius: 0px;
	}


	.collapsed > .when-opened,
	:not(.collapsed) > .when-closed {
	  display: none;
	}

	.when-closed:before{
		content: "+";
        font-size: 1.5em;
        float: left;
        line-height: 0.8em;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: -webkit-transform 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
        transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
	}
	.when-opened:before{
		/*content: "x";*/
		content: "\f00d";
		font-family: FontAwesome;
        font-size: 1em;
        float: left;
        line-height: 0.8em;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: -webkit-transform 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
        transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
	}

    .checkbox, .radio {
        margin-top: 0;
        margin-bottom: 5px;
    }
</style>
