<template>
    <div>
        <section class="parallax">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Health Status</h1>
                
                <div class="parallax-breadcrumbs hidden-sm hidden-xs">
                  <a href="#" class="link">Get free quotes</a>
                  <i class="glyphicon glyphicon-menu-right separator"></i>
                  <a href="#" class="link">Quotes</a>
                  <i class="glyphicon glyphicon-menu-right separator"></i>
                  <a href="#" class="link">Additional Information</a>
                  <i class="glyphicon glyphicon-menu-right separator"></i>
                  <a href="#" class="link">Health Status</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container tight">
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="bottom-border-block">
                    <div class="form-group">
                      <label for="">Do you have a primary doctor?</label>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-xs-6">
                          <div class="radio">
                            <label>
                              <input type="radio" name="primary doctor" v-validate="'required'" v-model="policies[0].profiles[0].primary_doctor" :value="true" @click="updatePolicyProfile(0, 0, 'primary_doctor', policies[0].profiles[0].primary_doctor)">
                              <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                              <span class="label-text">Yes</span>
                            </label>
                          </div>
                        </div>
                        
                        <div class="col-xs-6">
                          <div class="radio">
                            <label>
                              <input type="radio" name="primary doctor" v-validate="'required'" v-model="policies[0].profiles[0].primary_doctor" :value="false" @click="updatePolicyProfile(0, 0, 'primary_doctor', policies[0].profiles[0].primary_doctor)">
                              <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                              <span class="label-text">No</span>
                            </label>
                          </div>
                        </div>

                        <span v-show="errors.has('primary doctor')" class="help is-danger">{{ errors.first('primary doctor') }}</span><br><br>
                      </div>
                    </div>             
                  </div>

                  <div class="bottom-border-block" v-if="policies[0].profiles[0].primary_doctor == '1'">
                    <div class="form-group">
                      <h3>Doctor's details</h3>
                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-xs-6">
                          <label for="">First Name</label>
                          <input type="text" name="first name" v-validate="'required'" class="form-control" v-model="policies[0].profiles[0].doctor_first_name" @blur="updatePolicyProfile(0, 0, 'doctor_first_name', policies[0].profiles[0].doctor_first_name)">                     
                          <span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
                        </div>

                        <div class="col-xs-6">
                          <label for="">Last Name</label>
                          <input type="text" name="last name" v-validate="'required'" class="form-control" v-model="policies[0].profiles[0].doctor_last_name" @blur="updatePolicyProfile(0, 0, 'doctor_last_name', policies[0].profiles[0].doctor_last_name)">
                          <span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
                        </div>   

                        <div class="col-xs-12">
                          <label for="">Contact phone</label>               
                          <input type="text" name="contact phone" v-validate="'required'" class="form-control" v-model="policies[0].profiles[0].doctor_phone_number" @blur="updatePolicyProfile(0, 0, 'doctor_phone_number', policies[0].profiles[0].doctor_phone_number)">
                          <span v-show="errors.has('contact phone')" class="help is-danger">{{ errors.first('contact phone') }}</span>
                        </div>
                      </div>
                    </div> 
                  </div>

                  <div class="bottom-border-block">
                    <div class="form-group">
                      <label>Put checkmarks next to the items which correspond to the health status of the insured persons</label>
                    </div>
                  </div>      
                  <!-- <div class="bottom-border-block">
                    <div class="form-group">
                      <h3>{{policies[0].profiles[0].first_name}} {{policies[0].profiles[0].last_name}}</h3>
                    </div>
                    
                    <div class="form-group row block">
                      <label>Condition</label>

                      <div class="col-xs-12" v-for="condition in conditions"> 
                        <div class="checkbox">                   
                          <label>
                            <input type="checkbox" value="1" @click="updatePolicyProfile(0, 0, condition, policies[0].profiles[0][condition])" v-model="policies[0].profiles[0][condition]" :checked="policies[0].profiles[0][condition] == '1'">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            <span >{{condition}}</span>
                          </label>                     
                        </div>
                      </div>
                    </div>
                  </div> -->


                  <div role="tablist" v-for="(profile, pIndex) in policies[0].profiles" class="accordionDiv">  <!-- v-if="pIndex > 0" -->
                    <b-card no-body class="card mb-1" style="margin-top: 10px;">
                      <b-card-header header-tag="header" class="p-1 card-header" role="tab">
                          <b-btn block href="#" v-b-toggle="'accordion-' + pIndex" variant="default" class="accordionTitle"><span class="when-opened"></span><span class="when-closed"></span>{{policies[0].profiles[pIndex].first_name}} {{policies[0].profiles[pIndex].last_name}}</b-btn>
                      </b-card-header>
                      <b-collapse :id="'accordion-' + pIndex"  visible accordion="my-accordion" role="tabpanel">
                          <div  style="margin-top: 10px;">
                            <div class="form-group row block">
                              <label>Conditions</label>

                              <div class="col-xs-12" v-for="condition in conditions"> 
                                <div class="checkbox">                   
                                  <label>
                                    <input type="checkbox" value="1" @click="updatePolicyProfile(0, pIndex, condition, policies[0].profiles[pIndex][condition])" v-model="policies[0].profiles[pIndex][condition]" :checked="policies[0].profiles[pIndex][condition] == '1'">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    <span >{{condition}}</span>
                                  </label>                     
                                </div>
                              </div>
                            </div>
                          </div>
                      </b-collapse>
                  </b-card>
                  </div>


                  <!-- <div class="bottom-border-block" v-for="(profile, pIndex) in policies[0].profiles" v-if="pIndex > 0">

                    <div class="form-group">
                      <h3>{{policies[0].profiles[pIndex].first_name}} {{policies[0].profiles[pIndex].last_name}}</h3>
                    </div>
                    
                    <div class="form-group row block">
                      <label>Conditions</label>

                      <div class="col-xs-12" v-for="condition in conditions"> 
                        <div class="checkbox">                   
                          <label>
                            <input type="checkbox" value="1" @click="updatePolicyProfile(0, pIndex, condition, policies[0].profiles[pIndex][condition])" v-model="policies[0].profiles[pIndex][condition]" :checked="policies[0].profiles[pIndex][condition] == '1'">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            <span >{{condition}}</span>
                          </label>                     
                        </div>
                      </div>
                    </div>
                  </div> -->
                </form>

                <div class="title">
                  <a href="#" class="ghost-link" @click.prevent="back">Back</a>
                  <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
                </div>
              </div>
            </div>
          </div>
        </section>     
    </div>
</template>

<script>
	import {mapGetters} from 'vuex'

	export default {
		name: 'Health_secondary',

		data () {
      return {  
        // policies: this.$lodash.cloneDeep(this.$store.state.policies),               
      }
    },

		computed: {
			...mapGetters({				
				loading: 'loading',
        conditions: 'conditions',
				policies: 'policies',
			})
		},
			
		methods: {
      updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
				this.$store.commit('updatePolicyProfile', {policyIndex, profileIndex, field, value});
			},

      back: function() {
        this.$router.push(
            '/policies/'+
            this.policies[0].id+
            '/profiles/'+this.policies[0].profiles[0].id+'/'
            +this.policies[0].profiles[0].sections.previous_section
          )
      },

      submit: function() {
				this.$validator.validateAll().then((result) => {                    
          if (result) {       
						this.$store.dispatch('postPolicySync').then((response) => {
							this.$router.push('/policies/'+response.data.data.policies[0].id+'/profiles/'+response.data.data.policies[0].profiles[0].id+'/'+response.data.data.policies[0].profiles[0].sections.next_section);
						 							
							this.$store.commit('updatePolicyProfile', {
								policyIndex: 0,
								profileIndex: 0,
								field: 'current_section',
								value: response.data.data.policies[0].profiles[0].sections.next_section
							});
							
							this.$store.dispatch('postPolicySync');
						});
          }
        });
			}     
		}
	}
</script>

<style scoped>
    .block {
      border: 1px solid #ccc;
      padding: 17px;
    }


    .accordionTitle{
        background-color: #e3e3e3;
        /*background-color: #38cc70;*/
        text-align: center;
        font-weight: 600;
        padding: 2em;
        display: block;
        text-decoration: none;
        color: #1e1e1e;
        -webkit-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
    }


    .accordionTitle:hover{
        background-color: #ccc;
    }
    .accordionItem {
        height: auto;
        overflow: hidden;
        max-height: 50em;
        -webkit-transition: all .5s ease-in;
        transition: all .5s ease-in;
    }

    header .btn-default:hover {
      box-shadow: none !important;
    }
    .btn-default:hover {
        color: #000;
        background-color: #ccc;
        border: none;
    }
    .btn-default:focus, .btn-default.focus {
        color: #000;
        background-color: #ccc;
        border-color: #ccc;
    }
    .btn:hover, .btn:focus, .btn.focus {
        color: #000;
        text-decoration: none;
    }
    .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    .accordionDiv .btn, .accordionDiv .btn-block {
        display: block;
        width: 100%;
        background: #e3e3e3;
        border: none;
        border-radius: 0px;
    }


    .collapsed > .when-opened,
    :not(.collapsed) > .when-closed {
      display: none;
    }

    .when-closed:before{
      content: "+";
          font-size: 1.5em;
          float: left;
          line-height: 0.8em;
          -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: -webkit-transform 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
    }
    .when-opened:before{
          /*content: "x";*/
          content: "\f00d";
          font-family: FontAwesome;
          font-size: 1em;
          float: left;
          line-height: 0.8em;
          -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: -webkit-transform 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
    }

    .checkbox, .radio {
        margin-top: 0;
        margin-bottom: 5px;
    }

</style>