<template>
    <div class="form-group">
        <label for="agent_code">Select a cover type</label>
        <select @change="setCoverType" v-validate="required" class="form-control" :class="{'input': true, 'is-danger': errors.has('cover type') }" name="cover type">                                                    
            <option v-for="coverType in coverTypes" :value="coverType.id">{{ coverType.name }}</option>
        </select>
        <span v-show="errors.has('cover type')" class="help is-danger">{{ errors.first('cover type') }}</span>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {  
        name: 'Cover_types_input',

        mounted() {    
            this.$store.dispatch('getCoverTypes');
        },

        computed: {
            ...mapGetters({
                policies: 'policies',
                coverTypes: 'coverTypes',
            })
        },

        methods: {
            setCoverType: function(val) {                            
                this.$store.commit('setPolicyProfileCoverType', {policy_index: 0, profile_index: 0, it: it});
            }
        },
    }
</script>

<style scoped>

</style>
