<template>
    <div>
        <div class="row" v-if="loading && !profiles.length">
            <br>
            <br>
            <div class="text-center">
                <loader>                    
                    <h4>
                        loading insurance types...
                    </h4>
                    </br>
                </loader>
            </div>
        </div>       

        <div class="row" v-if="insuranceTypes.length">
            <div class="title" ><strong>What insurance would you like to get?</strong></div>
        </div> 

        <div class="row icons" v-if="insuranceTypes.length">
            <template v-for="row in this.$lodash.chunk(this.insuranceTypes, 3)">
                <div class="row">
					<div class="col-md-4 col-sm-4 col-xs-4" v-for="it in row">
						<div class="item">								
                            <a href="#" v-bind:class="{active: profiles[0].insurance_type.alias == it.alias}" @click.prevent="updateProfiles(0, 'insurance_type', it)">
                                <span class="img-wrapper">
                                    <img :src="it.active_icon" :alt="it.alias" v-if="profiles[0].insurance_type.alias == it.alias">
                                    <img :src="it.inactive_icon" :alt="it.alias" v-else>
                                </span>
                                <span class="link-text">{{it.alias}}</span>
                            </a>
                        </div>
					</div> 
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Insurance_types_input",

  computed: {
    ...mapGetters({
      insuranceTypes: "insuranceTypes",
      loading: "loading",
      profiles: "profiles"
    }),

    checkedOptionalBenefits: {
      get() {
        return this.$store.getters.checkedOptionalBenefits;
      },
      set(value) {
        this.$store.commit("setCheckedOptionalBenefits", value);
      }
    }
  },

  methods: {
    updateProfiles: function(profileIndex, field, value) {
      this.$store.commit("updateProfiles", { profileIndex, field, value });
    }
  }
};
</script>

<style scoped>

</style>
