<template>
    <div class="form-group">
        <label for="vehicle_valuation">Vehicle's estimated value</label>
        <input v-model="profile.sum_insured_on_vehicle" class="form-control" @blur="setVehicleValuation" placeholder="valuation">								
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {  
        name: 'Vehicle_valuation_input',

        computed: {
            ...mapGetters({
                profile: 'profile',
            })
        },

        methods: {
            setVehicleValuation: function () {            
                this.$store.commit('setProfileSumInsuredOnVehicle', this.profile.sum_insured_on_vehicle);
            }
        }
    }
</script>

<style scoped>

</style>
