<template>
    <div class="form-group">
        <label for="vehicle_seating_capacity">Vehicle's seating capacity</label>
        <input placeholder="seats" v-model="profile.vehicle_seating_capacity" class="form-control" @blur="setVehicleSeatingCapacity">								
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {  
        name: 'Vehicle_seating_capacity_input',

        computed: {
            ...mapGetters({
                profile: 'profile',
            })
        },

        methods: {
            setVehicleSeatingCapacity: function () {            
                this.$store.commit('setProfileVehicleSeatingCapacity', this.profile.vehicle_seating_capacity);
            }
        }
    }
</script>

<style scoped>

</style>
