<template>
    <div class="form-group">
        <label for="vehicle_tare_weight">Vehicle's tare weight</label>
        <input id="vehicle_tare_weight" v-model="profile.tare_weight" class="form-control" @blur="setVehicleTareWeight" placeholder="tare weight in tons">								
    </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {  
    name: 'Vehicle_tare_weight_input',

    computed: {
        ...mapGetters({
            profile: 'profile',
        })
    },

    methods: {
        setVehicleTareWeight: function () {            
            this.$store.commit('setProfileVehicleTareWeight', this.profile.tare_weight);
        }
    }
}
</script>

<style scoped>

</style>
