<template>
    <div class="form-group">
        <label for="vehicle_year_of_manufacture">Vehicle's year of manufacture</label>        
        <v-select v-model="profile.vehicle_year_of_manufacture" :on-change="setVehicleYearOfManufacture" :options="years" label="year" placeholder="year of manufacture"></v-select>							
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {  
        name: 'Vehicle_year_of_manufacture_input',

        mounted() {    
            this.$store.commit('setYears');
        },

        computed: {
            ...mapGetters({
                profile: 'profile',
                years: 'years',
            })
        },

        methods: {
            setVehicleYearOfManufacture: function (val) {            
                this.$store.commit('setProfileVehicleYearOfManufacture', val);
            }
        },
    }
</script>

<style scoped>

</style>
