<template>
    <div class="form-group">
        <label for="vehicle_use_id">Use of vehicle</label>								
        <v-select v-model="profile.vehicle_use" :on-change="setVehicleUse" :options="vehicleUses" label="name" placeholder="vehicle use"></v-select>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {  
        name: 'Vehicle_uses_input',

        mounted() {    
            this.$store.dispatch('getVehicleUses');
        },

        computed: {
            ...mapGetters({
                profile: 'profile',
                vehicleUses: 'vehicleUses',
            })
        },

        methods: {
            setVehicleUse: function(val) {            
                this.$store.commit('setProfileVehicleUse', val);
            }
        },
    }
</script>

<style scoped>

</style>
