<template>
  <div>
    <section class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Order Summary</h1>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="title">Please check provided information</div>
        </div>
      </div>
    </section>

    <section class="confirm-table order-summary">
      <div class="container tight">
        <div class="row">
          <div class="col-md-12">
            <table class="table confirm no-bm">
              <tr>
                <td colspan="4">
                  <div class="count-new">Carrier</div>
                  <div class="value" v-if="policies[0].profiles[0].provider">{{ policies[0].profiles[0].provider.name }}</div>
                </td>
              </tr>

              <tr>
                <td colspan="4">
                  <div class="count-new">Insured</div>
                  <div class="value">{{ policies[0].profiles[0].first_name }} {{ policies[0].profiles[0].last_name }}</div>
                </td>
              </tr>

              <tr>
                <td colspan="4">
                  <div class="count-new">Insurance type</div>
                  <div class="value" v-if="policies[0].profiles[0].insurance_type">{{ policies[0].profiles[0].insurance_type.name }}</div>
                </td>
              </tr>

              <tr>
                <td colspan="4">
                  <div class="count-new">Cover type</div>
                  <div class="value" v-if="policies[0].profiles[0].cover_type">{{ policies[0].profiles[0].cover_type.name }}</div>
                </td>
              </tr>

              <tr>
                <td colspan="4">
                  <div class="count-new">Rate</div>
                  <div class="value" v-if="policies[0].profiles[0].selectedQuotes.length">{{ policies[0].profiles[0].selectedQuotes[0].rate_of_sum_insured }}%</div>
                </td>
              </tr>

              <tr>
                <td colspan="4">
                  <div class="count-new">Vehicle Info</div>
                  <div class="value clearfix">
                    Registration number
                    <span class="pull-right">{{ policies[0].profiles[0].registration_number }}</span>
                  </div>
                  <div class="value clearfix">
                    Base value
                    <span class="pull-right">{{ (policies[0].profiles[0].sum_insured_on_vehicle * 1).toLocaleString() }} {{ policies[0].profiles[0].currency_code }}</span>
                  </div>
                </td>
              </tr>

              <tr>
                <td colspan="4">
                  <div class="count-new">Amounts</div>
                  <div class="value clearfix">
                    Total Annual Premium
                    <span class="pull-right">{{ (policies[0].profiles[0].total_premium * 1).toLocaleString() }} {{ policies[0].profiles[0].currency_code }}</span>
                  </div>
                  <div class="value clearfix">
                    Levies
                    <span class="pull-right">{{ (policies[0].profiles[0].levies_of_total_premium * 1).toLocaleString() }} {{ policies[0].profiles[0].currency_code }}</span>
                  </div>                
                  <div class="count-new">({{ (policies[0].profiles[0].levies_rate * 1).toLocaleString() }}% of total premium)</div>
                  <br>
                  <div class="value clearfix">
                    Stamp Duty
                    <span class="pull-right">{{ policies[0].profiles[0].stamp_duty }} {{ policies[0].profiles[0].currency_code }}</span>
                  </div>
                  <div class="value clearfix">
                    Delivery Fee
                    <span class="pull-right">{{ policies[0].profiles[0].delivery_fee }} {{ policies[0].profiles[0].currency_code }}</span>
                  </div>
                </td>
              </tr>

              <tr>
                <th colspan="4">
                  Order Amount
                  <span class="pull-right">{{ (policies[0].profiles[0].full_amount * 1).toLocaleString() }} {{ policies[0].profiles[0].currency_code }}</span>
                </th>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group bottom-border-block">
              <!-- <label for="country">Set an installment plan</label> -->
              <!-- <v-select v-model="installment_plan" :options="installment_plans"></v-select> -->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="value clearfix">
              Down Payment
              <span class="pull-right">{{ (policies[0].profiles[0].down_payment * 1).toLocaleString() }} {{ policies[0].profiles[0].currency_code }}</span>
            </div>
          </div>
        </div>

        <div class="row form">
          <div class="col-md-12 text-center">
            <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading || !policies[0].profiles[0].terms_and_conditions">{{ loading? 'loading...' : 'continue' }}</a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1" v-model="policies[0].profiles[0].newsletter" @click="updatePolicyProfile(0, 0, 'newsletter', policies[0].profiles[0].newsletter)">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                <span class="label-text">I want to subscribe to the newsletter</span>
              </label>
            </div>            
            <br>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1" v-model="policies[0].profiles[0].terms_and_conditions" @click="updatePolicyProfile(0, 0, 'terms_and_conditions', policies[0].profiles[0].terms_and_conditions)">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                <span class="label-text">I agree to terms &amp; conditions of this service</span>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <a href="#" class="ghost-link" @click.prevent="back">Back</a>
            </div>
          </div>
        </div> 
      </div>
    </section>      
  </div>
</template>

<script>

import {mapGetters} from 'vuex'

export default {
  name: 'Checkout',

  data () {
    return {  
      // policies: this.$lodash.cloneDeep(this.$store.state.policies),            
    }
  },

  computed: {
    ...mapGetters({
        loading: 'loading',      
        policies: 'policies',      
    })
  },

  methods: {
    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
			this.$store.commit('updatePolicyProfile', {policyIndex, profileIndex, field, value});
    },

    back: function() {
      this.$router.push(
        '/policies/'+
        this.policies[0].id+
        '/profiles/'+this.policies[0].profiles[0].id+'/'
        +this.policies[0].profiles[0].sections.previous_section
      )
    },
    
    submit: function() {
      if(this.policies[0].profiles[0].terms_and_conditions){
        this.$validator.validateAll().then((result) => {                    
          if (result) {                                   
            this.$store.dispatch('postPolicySync').then((response) => {
              this.$router.push('/policies/'+response.data.data.policies[0].id+'/profiles/'+response.data.data.policies[0].profiles[0].id+'/'+response.data.data.policies[0].profiles[0].sections.next_section);
            });
          }
        });
      }
      
		}
  }
}
</script>