<template>
	<div class="form-group">
		<label for="cover_start">When would you like your cover to start?</label>
		<div>

			 <flat-pickr v-model="policies[0].profiles[0].coverage_start_date" @input="updatePolicyProfile(0, 0, 'coverage_start_date', policies[0].profiles[0].coverage_start_date)" :config="config" v-validate="{required:true}" name="coverage start date" :class="{'input': true, 'is-danger': errors.has('coverage start date') }"></flat-pickr>

			 <span v-show="errors.has('coverage start date')" class="help is-danger">{{ errors.first('coverage start date') }}</span>
		</div>
		<span v-show="errors.has('coverage start date')" class="help is-danger">{{ errors.first('coverage start date') }}</span>
	</div>	
</template>

<script>

import { mapGetters } from "vuex";

export default {
	data () {
		return {  
			config: {
				altFormat: "M	j, Y",
				dateFormat: "d-m-Y",
				minDate: new Date()
			},				
		}
	},	
	computed: {
    ...mapGetters({
      policies: "policies"
    })
  },
	mounted() {
      this.$on('veeValidate', () => {
        this.$validator.validateAll();
      });
  },
  methods: {
    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
		},	
	}
}
</script>