<template>
  <div>
    <section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Delivery</h1>
					</div>
				</div>
			</div>
		</section>   

    <section>
			<div class="container tight">
				<div class="row">
					<div class="col-md-12">
						<form>
							<div class="bottom-border-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="default-site-text">
                      Would you like your policy documents to be delivered by courier?
                    </div>
                    <br>
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <div class="radio">
                        <label>
                          <input type="radio" v-model="policies[0].profiles[0].delivery_status" @click="updatePolicyProfile(0, 0, 'delivery_status', policies[0].profiles[0].delivery_status)" value="deliver" name="delivery status" v-validate="'required'" required>
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Deliver</span>
                        </label>
                        <div class="lite-text">Courier delivery cost KES: 300.00 country wide <b>per event</b></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <div class="radio">
                        <label>
                          <input type="radio" v-model="policies[0].profiles[0].delivery_status" @click="updatePolicyProfile(0, 0, 'delivery_status', policies[0].profiles[0].delivery_status)" value="pick_up" name="delivery status" v-validate="'required'" required>
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Pick-up</span>
                        </label>
                        <div class="lite-text">
                          I will pick up the documents from any of underwriters branches
                        </div>
                      </div>
                    </div>
                  </div>

                  <span v-show="errors.has('delivery status')" class="help is-danger">{{ errors.first('delivery status') }}</span><br><br>
                </div>
              </div>

              <div class="bottom-border-block" v-if="policies[0].profiles[0].delivery_status == 'deliver'">
                <div class="row">
                  <div class="col-md-12">
                    <div class="default-site-text">
                      Please choose convenient place and time. Our courier will be there in time.
                    </div>
                    <br>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">             
                      <gmap-autocomplete
                        @place_changed="setPlace">
                      </gmap-autocomplete>
                    </div>

                    <br>
                    <Gmap-Map style="width:100%; height:300px;" :zoom="17" 
                      :center="{
                        lat: this.place? this.place.geometry.location.lat() : 0, 
                        lng: this.place? this.place.geometry.location.lng() : 0
                      }">
                      <Gmap-Marker
                        v-if="this.place"
                        :draggable="true"
                        @dragend="deliverPositionChanged"
                        :position="{
                          lat: this.place.geometry.location.lat(),
                          lng: this.place.geometry.location.lng(),
                        }"
                        ></Gmap-Marker>
                    </Gmap-Map>

                    <br>
                    <div class="form-group">              
                      <div>                
                        <flat-pickr v-model="policies[0].profiles[0].delivery_datetime" @on-change="updatePolicyProfile(0, 0, 'delivery_datetime', policies[0].profiles[0].delivery_datetime)" :config="config" name="delivery date" v-validate="{required: true}"></flat-pickr>
                      </div>
                      <span v-show="errors.has('delivery date')" class="help is-danger">{{ errors.first('delivery date') }}</span>
                    </div>

                    <div class="form-group">     
                        <label class="AltRecipient" @click="showAltRecipient = !showAltRecipient">Alternative recipient</label>       
                        
                        <div v-if="showAltRecipient">
                          <input v-model="policies[0].profiles[0].alternative_recipient" v-validate="'required'" class="form-control" @input="updatePolicyProfile(0, 0, 'alternative_recipient', policies[0].profiles[0].alternative_recipient)" name="alternative recipient">
                                        
                          <span v-show="errors.has('alternative recipient')" class="help is-danger">{{ errors.first('alternative recipient') }}</span>                          
                        </div>
                    </div> 
                  </div>
                </div>
              </div>

              <div class="bottom-border-block" v-if="policies[0].profiles[0].delivery_status == 'pick_up'">
                <div class="row">
                  <div class="col-md-12">
                    <div class="default-site-text">
                      Please choose convenient place and time. Our courier will be there in time.
                    </div>
                    <br>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="branches">Branches</label>
                                        
                      <select id="branches" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('branch') }" name="branch" v-model="policies[0].profiles[0].branch_id" @change="updatePolicyProfile(0, 0, 'branch_id', policies[0].profiles[0].branch_id)">
                        <option v-for="branch in markers" :value="branch.id">{{ branch.name }}</option>
                      </select>
                      <span v-show="errors.has('branch')" class="help is-danger">{{ errors.first('branch') }}</span>
                    </div>
                    
                    <br>
                    <Gmap-Map style="width:100%; height:300px;" :zoom="14" 
                      :center="markers[0].position">
                      <Gmap-Marker v-for="(marker, index) in markers"
                        :key="index"
                        :position="marker.position"
                        :animation="marker.id == policies[0].profiles[0].branch_id? 1 : 0"
                        :title="marker.name"
                        :label="marker.name"
                        @click="selectBranch(marker.id)"
                        ></Gmap-Marker>              
                    </Gmap-Map>

                    <br>
                    <div class="form-group">              
                      <div>                
                        <flat-pickr  v-model="policies[0].profiles[0].delivery_datetime" :date="policies[0].profiles[0].delivery_status" @input="updatePolicyProfile(0, 0, 'delivery_datetime', policies[0].profiles[0].delivery_datetime)" :config="config" name="pick up date" v-validate="{required: true}"></flat-pickr>
                      </div>

                      <span v-show="errors.has('pick up date')" class="help is-danger">{{ errors.first('pick up date') }}</span>
                    </div> 

                    <div class="form-group">     
                        <label class="AltRecipient" @click="showAltRecipient = !showAltRecipient">Alternative recipient</label>       
                        
                        <div v-if="showAltRecipient">
                          <input v-model="policies[0].profiles[0].alternative_recipient" v-validate="'required'" class="form-control" @input="updatePolicyProfile(0, 0, 'alternative_recipient', policies[0].profiles[0].alternative_recipient)" name="alternative recipient">
                                        
                          <span v-show="errors.has('alternative recipient')" class="help is-danger">{{ errors.first('alternative recipient') }}</span>                          
                        </div>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="title">
					<a href="#" class="ghost-link" @click.prevent="back">Back</a>
					<a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
				</div>
            </form>
          </div>
        </div> 
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Delivery",

  data() {
    return {
      // policies: this.$lodash.cloneDeep(this.$store.state.policies),
      config: {
        dateFormat: "d-m-Y h:m",
        enableTime: true,
        minDate: new Date()
      },
      showAltRecipient:false,
    };
  },

  computed: {
    ...mapGetters({
      place: "place",
      delivery: "delivery",
      markers: "branches",
      loading: "loading",
      policies: "policies",
    })
  },

  mounted() {
    this.$store
      .dispatch("getProviderBranches", {
        id: this.policies[0].profiles[0].provider_id
      })
      .then(response => {
        this.$store.commit("setBranches", response.data);
      });
  },

  watch: {
    "date.time": function(val, oldVal) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex: 0,
        profileIndex: 0,
        field: "delivery_datetime",
        value: val
      });
    }
  },

  methods: {
    deliverPositionChanged: function(position) {
      this.updatePolicyProfile(0, 0, "drop_off_lat", position.latLng.lat());

      this.updatePolicyProfile(0, 0, "drop_off_long", position.latLng.lng());
    },

    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    selectBranch: function(id) {
      this.updatePolicyProfile(0, 0, "branch_id", id);
    },

    setPlace: function(place) {
      this.$store.commit("setPlace", place);

      if (this.place) {
        this.updatePolicyProfile(
          0,
          0,
          "drop_off_lat",
          this.place.geometry.location.lat()
        );

        this.updatePolicyProfile(
          0,
          0,
          "drop_off_long",
          this.place.geometry.location.lng()
        );

        this.updatePolicyProfile(
          0,
          0,
          "drop_off_name",
          this.place.formatted_address
        );
      }
    },

    back: function() {
      this.$router.push(
          '/policies/'+
          this.policies[0].id+
          '/profiles/'+this.policies[0].profiles[0].id+'/'
          +this.policies[0].profiles[0].sections.previous_section
        )
    },

    submit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postPolicySync").then(response => {
            this.$router.push(
              "/policies/" +
                response.data.data.policies[0].id +
                "/profiles/" +
                response.data.data.policies[0].profiles[0].id +
                "/" +
                response.data.data.policies[0].profiles[0].sections.next_section
            );
          });
        }
      });
    }
  }
};
</script>

<style scoped>
  .AltRecipient{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
</style>