<template>
	<div class="bottom-border-block">
		<div class="title">Mailing address</div>

		<div class="form-group">
			<label for="">Postal address</label>
			<input type="text" class="form-control" name="postal address" v-validate="'required|numeric|max:6'" @input="countLength()" v-model="policies[0].profiles[0].postal_address" @blur="updatePolicyProfile(0, 0, 'postal_address', policies[0].profiles[0].postal_address)" required>
			<span class="desctiption pull-right">Example: P O Box 12345</span>
			<span v-show="errors.has('postal address')" class="help is-danger">{{ errors.first('postal address') }}</span>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<br>
						<div class="form-group">
							<label for="">Postal code</label>
							
							<input autocomplete="off" type="text" v-validate="'required|numeric|max:5'" name="postal code" class="form-control" v-model="policies[0].profiles[0].postal_code" @blur="updatePolicyProfile(0, 0, 'postal_code', policies[0].profiles[0].postal_code)"  @input="getCity(policies[0].profiles[0].postal_code)" required>
							<span v-show="errors.has('postal code')" class="help is-danger">{{ errors.first('postal code') }}</span>
						</div>
					</div>

					<div class="col-md-8 col-sm-8">
						<br>
						<div class="form-group">
							<label for="">City</label>
							<input type="text" class="form-control" v-validate="'required'" name="city" :value="city" disabled>
							<span v-show="errors.has('city')" class="help is-danger">{{ errors.first('city') }}</span>
						</div>
					</div>                            
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="form-group">
					<label for="county">County</label>
						
					<select id="county" @change="updatePolicyProfile(0, 0, 'location', policies[0].profiles[0].location)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('county') }" name="county" v-model="policies[0].profiles[0].location" required>                           
            <option v-for="location in locations" :value="location" :key="location.id">{{ location.name }}</option>
					</select>
					<span v-show="errors.has('county')" class="help is-danger">{{ errors.first('county') }}</span>
				</div>
			</div>
		</div>
	</div>                 
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data: function() {
    return {
      city: null
    };
  },
  computed: {
    ...mapGetters({
      locations: "locations",
      policies: "policies"
    })
  },
  mounted() {
    this.$store.dispatch("getLocations");
      this.$on('veeValidate', () => {
        this.$validator.validateAll();
      });
  },
  methods: {
    countLength: function() {
      var postal_address = this.policies[0].profiles[0].postal_address;
      var length = postal_address.length;
      if (length > 6) {
        postal_address = postal_address.substring(0, 6);
        this.policies[0].profiles[0].postal_address = postal_address;
      }
    },
    getCity: function(code) {
      var len = code.length;
      if (len > 6) {
        code = code.substring(0, 6);
        this.policies[0].profiles[0].code = code;
      }
      if (len >= 4) {
        this.$store.dispatch("getCityName", code).then(response => {
          this.updatePolicyProfile(0, 0, "city", response.data.name);

          this.city = this.policies[0].profiles[0].city;
        });
      }
    },
    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    }
  }
};
</script>