<template>
  <div>
    <section class="parallax">
      <div class="container tight">
        <div class="row">
          <div class="col-md-12">
            <h1>{{title}}</h1>           
          </div>
        </div>
      </div>
    </section>
    
    <section class="payment-methods">
      <div class="container  tight">
        <div class="row">
          <div class="col-md-12">
            <div class="question-item">
              <div class="title">Select a payment method you would like to use for making your premium payment.</div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12">
            <span><strong>Amount to pay</strong></span>
            <span class="pull-right"><strong>{{ (policies[0].profiles[0].current_payment).toLocaleString() }} {{ policies[0].profiles[0].currency_code }}</strong></span>
          </div>
        </div>

        <div class="row payment-links">
          <div class="col-xs-6 text-center">
            <a href="#" class="mpesa" @click.prevent="mpesa"></a>
          </div>
          <div class="col-xs-6 text-center">
            <a href="#" class="paypal"></a>
            <!--PayPal
              amount="10.00"
              currency="USD"
              :client="credentials"
              invoiceNumber="201701011000"
              :items="myItems">
            </PayPal-->
          </div>
          <div class="col-xs-6 text-center">
            <a href="#" class="visa"></a>
          </div>
          <div class="col-xs-6 text-center">
            <a href="#" class="mastercard"></a>
          </div>
        </div>

        <div class="row form">
          <div class="col-md-12 text-center">
            <div class="form-group">
              <a href="#" class="ghost-link" @click.prevent="back">Back</a>
            </div>
          </div>
        </div>
      </div>      
    </section>
      

    <modal name="payment" height="auto" :scrollable="true" :adaptive="true">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-body">
						<p>Payment is being processed...</p>
          </div>
					<div class="modal-footer">
            <a href="/user-dashboard" class="btn ghost-link">go to dashboard</a>
					</div>
				</div>

			</div>
		</modal>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import PayPal from 'vue-paypal-checkout'

export default {
  name: 'Payment_method',
  data () {
    return {  
      title: 'Payment Method',

      // policies: this.$lodash.cloneDeep(this.$store.state.policies),            
    }
  },

  components: {
    PayPal
  },
  computed: {
    ...mapGetters({
        loading: 'loading' ,           
        policies: 'policies' ,           
    })
  },
  
  methods: {
    back: function() {      
      this.$router.push(
        '/policies/'+
        this.policies[0].id+
        '/profiles/'+this.policies[0].profiles[0].id+'/'
        +this.policies[0].profiles[0].sections.previous_section
      )
    },
    
    mpesa: function() {
      this.$store.dispatch('postPolicyPayment').then((response) => {
        this.$modal.show('payment');
      });
    }
  }
}
</script>