<template>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="bottom-border-block">
                    <div class="form-group text-center">                    
                        <button class="btn btn-default" @click.prevent="getQuotes" :disabled="loading" ref="golf_selected">{{ !loading? 'get free quotes' : 'loading...' }}</button>
                    </div>
                </div>                
            </form>                      
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {  
        name: 'Golfers_quotes', 

        props: ['btn-txt'],

        computed: {
            ...mapGetters({                
                profiles: 'profiles',               
                loading: 'loading',               
            })
        },  

        mounted() {   
            this.$refs.golf_selected.focus();

            let center = $(window).height() / 2;
            let top = $(this.$refs.golf_selected).offset().top;

            if (top > center) {
                $(window).scrollTop(top - center);
            }
            
        },
        
        methods: {       
            updateProfiles: function(field, value) {
                for (let profileIndex = 0; profileIndex < this.profiles.length; profileIndex++) { 					
                    this.updateProfile(profileIndex, field, value);
                }
            },

            updateProfile: function(profileIndex, field, value) {
				this.$store.commit('updateProfiles', {profileIndex, field, value});
			},

            getQuotes: function() {
                this.$validator.validateAll().then((result) => {                    
                    if (result) {       

						
                        this.$store.dispatch('postQuotesStore').then((response) => { 
                            this.$store.commit('setProfiles', response.data.data.profiles);                           
                            this.$router.push('/quotes/' + response.data.data.quote.id); 
                        });    
                    }
                });
            }          
        }
    }
</script>

<style scoped>
    
</style>
