<template>
  <div>
    <section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Principal Details</h1>
						
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Principal Details</a>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section>
			<div class="container tight">
				<div class="row">        
					<div class="col-md-12">
            <form>
              <div class="bottom-border-block">
                <div class="form-group">
                  <label for="kpa_pin">Enter your KRA PIN number</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'personal_identification_number', policies[0].profiles[0].personal_identification_number)" ref="kra_pin" :class="{'input': true, 'is-danger': errors.has('kra pin') }" type="text" name="kra pin" id="personal_identification_number" v-model="policies[0].profiles[0].personal_identification_number" maxlength="32">
                    <span v-show="errors.has('kra pin')" class="help is-danger">{{ errors.first('kra pin') }}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="">Sports club name at which you are a member</label>                
                  <input type="text"v-validate="'required'" class="form-control" name="sports club"  v-model="policies[0].profiles[0].sport_club" @blur="updatePolicyProfile(0, 0, 'sports_club', policies[0].profiles[0].sports_club)">                
                  <span v-show="errors.has('sports club')" class="help is-danger">{{ errors.first('sports club') }}</span>
                </div>  
              </div>

              <div class="bottom-border-block">
                <div class="form-group">
                  <label for="">Do you wish insurance to operate in any territories other than you country of residence?</label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="other territories insurance" v-model="policies[0].profiles[0].other_territories_insurance" @click="updatePolicyProfile(0, 0, 'other_territories_insurance', policies[0].profiles[0].other_territories_insurance)" :value="true"> 
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="other territories insurance" v-model="policies[0].profiles[0].other_territories_insurance" @click="updatePolicyProfile(0, 0, 'other_territories_insurance', policies[0].profiles[0].other_territories_insurance)" :value="false">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <span v-show="errors.has('other territories insurance')" class="help is-danger">{{ errors.first('other territories insurance') }}</span> 
                </div>             
              </div>

              <div class="bottom-border-block">
                <div class="form-group">
                  <label>In connection with the risks to which this proposal relates, has any insurer ever:</label>
                </div>

                <div class="form-group">
                  <label>- declined your proposal?</label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="declined cover" v-model="policies[0].profiles[0].declined_cover" @click="updatePolicyProfile(0, 0, 'declined_cover', policies[0].profiles[0].declined_cover)" :value="true">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="declined cover" v-model="policies[0].profiles[0].declined_cover" @click="updatePolicyProfile(0, 0, 'declined_cover', policies[0].profiles[0].declined_cover)" :value="false">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>

                    <span v-show="errors.has('declined cover')" class="help is-danger">{{ errors.first('declined cover') }}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label>- required you to bear first portion of any loss or imposed special conditions?</label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="special cover" v-model="policies[0].profiles[0].special_cover" @click="updatePolicyProfile(0, 0, 'special_cover', policies[0].profiles[0].special_cover)" :value="true">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="special cover" v-model="policies[0].profiles[0].special_cover" @click="updatePolicyProfile(0, 0, 'special_cover', policies[0].profiles[0].special_cover)" :value="false">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>

                    <span v-show="errors.has('special cover')" class="help is-danger">{{ errors.first('special cover') }}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label>- required an increased premium?</label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="required increased premium" v-model="policies[0].profiles[0].required_increased_premium" @click="updatePolicyProfile(0, 0, 'required_increased_premium', policies[0].profiles[0].required_increased_premium)" :value="true">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="required increased premium" v-model="policies[0].profiles[0].required_increased_premium" @click="updatePolicyProfile(0, 0, 'required_increased_premium', policies[0].profiles[0].required_increased_premium)" :value="false">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>

                    <span v-show="errors.has('required increased premium')" class="help is-danger">{{ errors.first('required increased premium') }}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label>- refused to renew or cancelled your policy?</label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="cancelled cover" v-model="policies[0].profiles[0].cancelled_cover" @click="updatePolicyProfile(0, 0, 'cancelled_cover', policies[0].profiles[0].cancelled_cover)" :value="true">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" v-validate="'required'" name="cancelled cover" v-model="policies[0].profiles[0].cancelled_cover" @click="updatePolicyProfile(0, 0, 'cancelled_cover', policies[0].profiles[0].cancelled_cover)" :value="false">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>

                    <span v-show="errors.has('cancelled cover')" class="help is-danger">{{ errors.first('cancelled cover') }}</span>
                  </div>
                </div>
              </div>

              <div class="title">
                <a href="#" class="ghost-link" @click.prevent="back">Back</a>
                <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
              </div>
            </form>
					</div>
				</div>
			</div>
    </section>    
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Golfers_primary",

  data() {
    return {
      // policies: this.$lodash.cloneDeep(this.$store.state.policies)
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      policies: "policies",
    })
  },

  methods: {
    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    submit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postPolicySync").then(response => {
            this.$router.push(
              "/policies/" +
                response.data.policies[0].id +
                "/profiles/" +
                response.data.policies[0].profiles[0].id +
                "/" +
                response.data.policies[0].profiles[0].sections.next_section
            );

            this.$store.commit("updatePolicyProfile", {
              policyIndex: 0,
              profileIndex: 0,
              field: "current_section",
              value: response.data.policies[0].profiles[0].sections.next_section
            });

            this.$store.dispatch("postPolicySync");
          });
        }
      });
    }
  }
};
</script>
<style scope>
.disable_option {
  color: #ccc;
}
</style>