<template>
 <header id="header">
    <div class="container-fluid">
        <div class="navbar_menu">
            
                <ul class="navigation_bar">
                    <li><a href="#">Home</a></li>
                    <li><a href="#" data-toggle="collapse" data-target="#sub_menu1">About Us <i class="fa fa-caret-down"></i></a>
                        <ul id="sub_menu1" class="sub_menu fadeInDown">
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Markets</a></li>
                            <li><a href="#">Mission & Vision</a></li>
                            <li><a href="#">Values</a></li>
                        </ul>
                    </li>
                    <li><a  href="#" data-toggle="collapse" data-target="#sub_menu2">Our Business<i class="fa fa-caret-down"></i></a>
                        <ul id="sub_menu2" class="sub_menu">
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Markets</a></li>
                            <li><a href="#">Mission & Vision</a></li>
                            <li><a href="#">Values</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Online Services</a></li>
                    <li><a href="#">Research & Insights</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="../../../img/liaison_header_logo.jpg"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navigation_bar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                </div>
                <div class="navbar_right">
                    <ul class="pull-right">
                        <li v-if="!loggedInUser"><a href="/get-free-quotes"><span class="fa fa-rocket"></span> Buy Online</a></li>
                        <li v-if="!loggedInUser"><a href="/login"><span class="fa fa-user"></span> Login</a></li>
                        <li v-if="loggedInUser"><a href="/user-dashboard"><span class="fa fa-user"></span> hi, {{ loggedInUser.first_name }}</a></li>
                        <li v-if="loggedInUser"><a href="#"  @click.prevent="logout">logout</a></li>
                    </ul>
                </div>
            
        </div>
    </div>
</header>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      selNavPage: ""
    };
  },
  computed: {
    ...mapGetters({
      loggedInUser: "loggedInUser",
      token: "token"
    })
  },
  methods: {
    // navBtnClickHander: function(page) {
    //   this.selNavPage = page;
    // },
    logout: function() {
      this.$store.dispatch("logout");
      localStorage.removeItem("logged_in_user");
    }
  }
};
</script>
<style scoped>
/* navbar-header {
  margin-top: -0.2rem;
} */
</style>

