<template>
  <header>
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="logo-wrapper clearfix">
						<a href="#" class="navbar-brand pull-left">
							<img src="../../../img/logo.png" alt="">
						</a>
					</div>
					<div class="right-block pull-right">
						<div class="call-us">
							Call us <span class="hidden-xs">at</span>: 123 456 789<span class="hidden-xs">, LIPA NA M-PESA (Buy Goods Till Number) 123456</span>
						</div>

						<div class="user-block clearfix">
							<a href="/get-free-quotes?referralcode=" class="btn btn-default">get free quotes</a>
							<a href="/login" class="btn ghost-link login" v-if="!token">Login</a>
							<a href="/user-dashboard" class="btn ghost-link login" v-if="token && loggedInUser">hi, {{loggedInUser.first_name}}</a>
							<a href="/user-dashboard" class="btn ghost-link login" v-if="token" @click.prevent="logout">Logout</a>

							<div class="follow-us hidden-xs">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">						
						<li v-bind:class="{active: selNavPage == 'how-it-works' }">
							<router-link v-bind:to="'/how-it-works'" @click.native="navBtnClickHander('how-it-works')">how it works</router-link>
						</li>
						<li v-bind:class="{active: selNavPage == 'our-providers' }">
							<router-link v-bind:to="'/our-providers'" @click.native="navBtnClickHander('our-providers')">our providers</router-link>
						</li>
						<li v-bind:class="{active: selNavPage == 'about-us' }">
							<router-link v-bind:to="'/about-us'" @click.native="navBtnClickHander('about-us')">about us</router-link>
						</li>
						<li v-bind:class="{active: selNavPage == 'faq' }">
							<router-link v-bind:to="'/faq'" @click.native="navBtnClickHander('faq')">faq</router-link>
						</li>
						<li><a href="#">contact us</a></li>
						<li><a href="#">blog</a></li>
						<li v-bind:class="{active: selNavPage == 'agents' }">
							<router-link v-bind:to="'/become-an-agent'" @click.native="navBtnClickHander('become-an-agent')">Become an agent</router-link>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      selNavPage: ""
    };
  },
  computed: {
    ...mapGetters({
      loggedInUser: "loggedInUser",
      token: "token"
    })
  },
  methods: {
    // navBtnClickHander: function(page) {
    //   this.selNavPage = page;
    // },
    logout: function() {
      this.$store.dispatch("logout");
      localStorage.removeItem("logged_in_user");
      this.$router.push("/login");
    }
  },
  // mounted(){
  // 	this.$store.dispatch("getLoggedInUser");

  //   console.log(this.loggedInUser);
  // }
};
</script>
