<template>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="bottom-border-block">
                    <div class="form-group">
                        <label for="cover_start" ref="personal_accident_selected">Principal date of birth?</label>

                        <div>                            
							<flat-pickr :config="config" v-model="profiles[0].date_of_birth" @input="updateProfile(0, 'date_of_birth', profiles[0].date_of_birth)" name="principal date of birth" v-validate="{required: true}"></flat-pickr>
                        </div>

                        <span v-show="errors.has('principal date of birth')" class="help is-danger">{{ errors.first('principal date of birth') }}</span>
                    </div>

                    <div class="form-group">
                        <label for="agent_code">Gender</label>

                        <select v-model="profiles[0].gender" @change="updateProfile(0, 'gender', profiles[0].gender)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('gender') }" name="gender">                                                                                
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <span v-show="errors.has('gender')" class="help is-danger">{{ errors.first('gender') }}</span>
                    </div>

                    <div class="form-group">
                        <label for="">
                            Who would you like to include to your policy?
                        </label>                    
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">                            
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" v-model="profiles[0].spouse" @click="updateProfile(0, 'spouse', profiles[0].spouse)" @change="updateProfile(0, 'spouse', profiles[0].spouse)">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        <span class="label-text">Spouse</span>
                                    </label>
                                </div>

                                <div v-if="profiles[0].spouse">                                
                                    <div>
                                        <flat-pickr v-model="profiles[1].date_of_birth" @input="updateProfile(1, 'date_of_birth', profiles[1].date_of_birth)" :config="config" name="spouse date of birth" v-validate="{required: true}"></flat-pickr>
                                    </div>

                                    <span v-show="errors.has('spouse date of birth')" class="help is-danger">{{ errors.first('spouse date of birth') }}</span>
                                </div>
                                <br>     

								<div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" v-model="profiles[0].covers_dependents_between_19_25_years">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        <span class="label-text">Children below 25 years (with student status)</span>
                                    </label>
                                </div>
								
								<div class="form-group" v-if="profiles[0].covers_dependents_between_19_25_years == '1'">                                
                                    <div>
                                        <input v-model="profiles[0].dependents_between_19_25_years" class="form-control" type="number" step="1" min="0" @keyup="profilesChanged" @change="profilesChanged">
                                    </div>
                                </div>
								<br v-if="profiles[0].covers_dependents_between_19_25_years != '1'">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" v-model="profiles[0].covers_dependents_below_19_years">
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                        <span class="label-text">Children below 19 years</span>
                                    </label>
                                </div>
								
								<div class="form-group" v-if="profiles[0].covers_dependents_below_19_years == '1'">                                
                                    <div>
                                        <input v-model="profiles[0].dependents_below_19_years" class="form-control" type="number" step="1" min="0" @keyup="profilesChanged" @change="profilesChanged">
                                    </div>									
                                </div>															                                                           
                            </div>
                        </div>                    
                    </div>             

                    <div class="form-group text-center">                    
                        <button class="btn btn-default" @click.prevent="getQuotes" :disabled="loading">{{ loading? 'loading...' : 'get free quotes' }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>                 
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {  
        name: 'Health_quotes', 

        props: ['btn-txt'],

        data () {
            return {  
                config: {                    
                    dateFormat: 'd-m-Y',
                    maxDate: new Date()
                }
            }
        },

        computed: {
            ...mapGetters({                
                profiles: 'profiles',
                loading: 'loading'               
            })
        },  
		
		mounted() {
			this.$refs.personal_accident_selected.focus();

            let center = $(window).height() / 2;
            let top = $(this.$refs.personal_accident_selected).offset().top;

            if (top > center) {
                $(window).scrollTop(top - center);
            }
		},
        
        methods: {  
			profilesChanged: function() {        
                let profiles = [];

                profiles[0] = this.profiles[0];

                let profilesCount = 0;
                
                profilesCount += (this.profiles[0].covers_spouse * 1);
				profilesCount += (this.profiles[0].dependents_between_19_25_years * 1);				
                profilesCount += (this.profiles[0].dependents_below_19_years * 1);                

                for (let index = 0; index < profilesCount; index++) { 
					let profile = Object.assign({}, this.profiles[0]);
					profile.date_of_birth = null;
					profile.covers_spouse = false;
					profile.gender = null,
					profiles.push(profile);
                }
				
				profiles.forEach((profile, index) => {
					if (index == 1 && (this.profiles[0].covers_spouse * 1) && this.profiles.length > 1) {
						profiles[index].date_of_birth = this.profiles[1].date_of_birth;						
					} else if (index > 1) {						
						profiles[index].date_of_birth = null;
					}
				});	

				if ((this.profiles[0].covers_spouse * 1) > 0) {
					profiles[1].spouse = true;
					profiles[1].gender = profiles[0].gender == "male"? "female" : !profiles[0].gender? null : "male";
                }
				
				if ((this.profiles[0].dependents_between_19_25_years * 1) > 0) {
					for (let profileIndex = 1; profileIndex <= (this.profiles[0].dependents_between_19_25_years * 1); profileIndex++) {                    						
						profiles[profileIndex + (this.profiles[0].covers_spouse * 1)].date_of_birth = this.$moment().subtract(19, 'years').format('DD-MM-YYYY');
					}
                }
				
				if ((this.profiles[0].dependents_below_19_years * 1) > 0) {
					for (let profileIndex = 1; profileIndex <= (this.profiles[0].dependents_below_19_years * 1); profileIndex++) {                    
						profiles[profileIndex + (this.profiles[0].covers_spouse * 1) + (this.profiles[0].dependents_between_19_25_years * 1)].date_of_birth = this.$moment().subtract(18, 'years').format('DD-MM-YYYY');
					}
                }

                this.$store.commit('setProfiles', profiles);																
            },
			
            updateProfiles: function(field, value) {
                for (let profileIndex = 0; profileIndex < this.profiles.length; profileIndex++) { 					
                    this.updateProfile(profileIndex, field, value);
                }
            },

            updateProfile: function(profileIndex, field, value) {
				this.$store.commit('updateProfiles', {profileIndex, field, value});
			},

            getQuotes: function() {
				this.$validator.validateAll().then((result) => {                                        
					if (result) {       
						
                        this.$store.dispatch('postQuotesStore').then((response) => { 
                            this.$store.commit('setProfiles', response.data.data.profiles);                           
                            this.$router.push('/quotes/' + response.data.data.quote.id); 
                        });    
                    }
                });
            }            
        }      
    }
</script>

<style scoped>
.checkbox label {
  width: 100%;
}

.checkbox .label-text {
  width: 80%;
  line-height: 1.9em;
}
</style>
