<template>
  <div>
    <section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Insurance Details</h1>
						
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Home details</a>
						</div>
					</div>
				</div>
			</div>
		</section>
    
    <section>
      <div class="container tight">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="bottom-border-block">
                <div class="form-group">
                  <label for="kpa_pin">Enter your KRA PIN number</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'personal_identification_number', policies[0].profiles[0].personal_identification_number)" ref="kra_pin" :class="{'input': true, 'is-danger': errors.has('kra pin') }" type="text" name="kra pin" id="personal_identification_number" v-model="policies[0].profiles[0].personal_identification_number" maxlength="32">
                    <span v-show="errors.has('kra pin')" class="help is-danger">{{ errors.first('kra pin') }}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label>Your occupation</label>                
                  <input type="text" class="form-control" v-validate="'required'" name="occupation" v-model="policies[0].profiles[0].occupation" @blur="updatePolicyProfile(0, 0, 'occupation', policies[0].profiles[0].occupation)">                     
                  <span v-show="errors.has('occupation')" class="help is-danger">{{ errors.first('occupation') }}</span>
                </div>
              </div>

              <div class="bottom-border-block">
                <div class="form-group">
                  <label for="">Have you previously held a Personal Accident Policy?</label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" name="previously held personal accident" v-model="policies[0].profiles[0].previously_held_personal_accident" @click="updatePolicyProfile(0, 0, 'previously_held_personal_accident', policies[0].profiles[0].previously_held_personal_accident)" :value="true">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" name="previously held personal accident" v-model="policies[0].profiles[0].previously_held_personal_accident" @click="updatePolicyProfile(0, 0, 'previously_held_personal_accident', policies[0].profiles[0].previously_held_personal_accident)" :value="false">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <span v-show="errors.has('previously held personal accident')" class="help is-danger">{{ errors.first('previously held personal accident') }}</span> 
                </div>             
              </div>

              <div class="bottom-border-block" v-if="policies[0].profiles[0].previously_held_personal_accident">              
                <div class="form-group">
                  <label>Enter the name of your previous insurer</label>
                  <input type="text" class="form-control" v-validate="'required'" name="previous insurer name" v-model="policies[0].profiles[0].previous_insurer_name" @blur="updatePolicyProfile(0, 0, 'previous_insurer_name', policies[0].profiles[0].previous_insurer_name)">                     
                  <span v-show="errors.has('previous insurer name')" class="help is-danger">{{ errors.first('previous insurer name') }}</span>
                </div>              
              </div>

              <div class="bottom-border-block">
                <div class="form-group">
                  <label for="">Are you in good state of health and free from physical and mental defects or infirmity to the best of the proposer's knowledge and belief?</label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" name="physical mental defects infirmity" v-validate="'required'" v-model="policies[0].profiles[0].physical_mental_defects_infirmity" @click="updatePolicyProfile(0, 0, 'physical_mental_defects_infirmity', policies[0].profiles[0].physical_mental_defects_infirmity)" :value="true">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" name="physical mental defects infirmity" v-validate="'required'"  v-model="policies[0].profiles[0].physical_mental_defects_infirmity" @click="updatePolicyProfile(0, 0, 'physical_mental_defects_infirmity', policies[0].profiles[0].physical_mental_defects_infirmity)" :value="false">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div> 

                <span v-show="errors.has('physical mental defects infirmity')" class="help is-danger">{{ errors.first('physical mental defects infirmity') }}</span>            
              </div>

              <div class="bottom-border-block" v-if="policies[0].profiles[0].physical_mental_defects_infirmity">              
                <div class="form-group">
                  <label>Describe your health/physical/mental defects/infirmity, please</label>                
                  <textarea type="text" class="form-control" v-validate="'required'" name="mental defects infirmity details" v-model="policies[0].profiles[0].mental_defects_infirmity_details" @blur="updatePolicyProfile(0, 0, 'mental_defects_infirmity_details', policies[0].profiles[0].mental_defects_infirmity_details)"></textarea>
                  <span v-show="errors.has('mental defects infirmity details')" class="help is-danger">{{ errors.first('mental defects infirmity details') }}</span>      
                </div>              
              </div>

              <div class="bottom-border-block">
                <div class="form-group">
                  <label for="">Have you suffered of any accidents during the last three years?</label>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" name="accidents last three years" v-validate="'required'" v-model="policies[0].profiles[0].accidents_last_three_years" @click="updatePolicyProfile(0, 0, 'accidents_last_three_years', policies[0].profiles[0].accidents_last_three_years)" :value="true">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="radio">
                        <label>
                          <input type="radio" name="accidents last three years" v-validate="'required'" v-model="policies[0].profiles[0].accidents_last_three_years" @click="updatePolicyProfile(0, 0, 'accidents_last_three_years', policies[0].profiles[0].accidents_last_three_years)" :value="false">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <span v-show="errors.has('accidents last three years')" class="help is-danger">{{ errors.first('accidents last three years') }}</span>
                </div>             
              </div>

              <div class="bottom-border-block" v-if="policies[0].profiles[0].accidents_last_three_years">
                <div class="form-group">
                  <label>List them, please</label>                
                  <textarea type="text" class="form-control" v-validate="'required'" v-model="policies[0].profiles[0].accidents_last_three_years_details" @blur="updatePolicyProfile(0, 0, 'accidents_last_three_years_details', policies[0].profiles[0].accidents_last_three_years_details)"></textarea>
                  <span v-show="errors.has('accidents last three years details')" class="help is-danger">{{ errors.first('accidents last three years details') }}</span>      
                </div>              
              </div>

              <div class="bottom-border-block">
                <div class="form-group">
                  <label class="title">Next of kin details</label>
                </div>

                <div class="form-group">
                  <label for="kpa_pin">National ID number</label>
                  <div class="form-inline form-horizontal">
                      <input v-validate="'required'" ref="national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="next_of_kin_national_id" v-model="policies[0].profiles[0].next_of_kin_national_id" @blur="updatePolicyProfile(0, 0, 'next_of_kin_national_id', policies[0].profiles[0].next_of_kin_national_id)" maxlength="32" :disabled="loading">
                      <button type="button" class="btn btn-default" @click.prevent="getBiometrics()" :disabled="loading" autofocus>{{ loading? 'loading...' : 'verify' }}</button>
                      <span v-show="errors.has('National ID')" class="help is-danger">{{ errors.first('National ID') }}</span><br><br>
                      <div class="national-id-title">Some explanation why National ID is necessary to specify</div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <label for="">First Name</label>
                      <input type="text" class="form-control" v-validate="'required'" name="first name" v-model="policies[0].profiles[0].next_of_kin_first_name" @blur="updatePolicyProfile(0, 0, 'next_of_kin_first_name', policies[0].profiles[0].next_of_kin_first_name)">                     
                      <span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
                    </div>
                    
                    <div class="col-xs-6">
                      <label for="">Last Name</label>
                      <input type="text" class="form-control" v-validate="'required'" name="last name" v-model="policies[0].profiles[0].next_of_kin_last_name" @blur="updatePolicyProfile(0, 0, 'next_of_kin_last_name', policies[0].profiles[0].next_of_kin_last_name)">
                      <span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
                    </div>																			
                  </div>
                </div>

                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" name="next of kin phone number" v-validate="'required'" @click="updatePolicyProfile(0, 0, 'next_of_kin_phone_number', policies[0].profiles[0].next_of_kin_phone_number)" v-model="policies[0].profiles[0].next_of_kin_phone_number"> 
                  <span v-show="errors.has('next of kin phone number')" class="help is-danger">{{ errors.first('next of kin phone number') }}</span>                     
                </div>
                
                <div class="form-group">
                  <label for="next_of_kin_relationship">Relationship</label>
                  <input type="text" class="form-control" name="next of kin relationship" v-validate="'required'" @click="updatePolicyProfile(0, 0, 'next_of_kin_relationship', policies[0].profiles[0].next_of_kin_relationship)" v-model="policies[0].profiles[0].next_of_kin_relationship"> 
                  <span v-show="errors.has('next of kin relationship')" class="help is-danger">{{ errors.first('next of kin relationship') }}</span>                     
                </div>

                <div class="form-group">
                  <label for="next_of_kin_postal_address">Address</label>
                  <input type="text" class="form-control" name="next of kin postal address" v-validate="'required'" @click="updatePolicyProfile(0, 0, 'next_of_kin_postal_address', policies[0].profiles[0].next_of_kin_postal_address)" v-model="policies[0].profiles[0].next_of_kin_postal_address"> 
                  <span v-show="errors.has('next of kin postal address')" class="help is-danger">{{ errors.first('next of kin postal address') }}</span>                     
                </div>

                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" name="next of kin city" v-validate="'required'" @click="updatePolicyProfile(0, 0, 'next_of_kin_city', policies[0].profiles[0].next_of_kin_city)" v-model="policies[0].profiles[0].next_of_kin_city"> 
                      <span v-show="errors.has('next of kin city')" class="help is-danger">{{ errors.first('next of kin city') }}</span>                     
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="zip_code">Postal Code</label>
                      <input type="text" class="form-control" name="next of kin postal code" v-validate="'required'" @click="updatePolicyProfile(0, 0, 'next_of_kin_postal_code', policies[0].profiles[0].next_of_kin_postal_code)" v-model="policies[0].profiles[0].next_of_kin_postal_code"> 
                      <span v-show="errors.has('next of kin postal code')" class="help is-danger">{{ errors.first('next of kin postal code') }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="title">
              <a href="#" class="ghost-link" @click.prevent="back">Back</a>
              <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
            </div>
          </div>                 
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Personal_primary",

  data() {
    return {
      // policies: this.$lodash.cloneDeep(this.$store.state.policies),

      date: {
        time: ""
      },

      principalDatePicker: {
        type: "day",
        week: ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
        month: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"
        ],
        format: "DD-MM-YYYY",
        placeholder: "Date of birth?",
        inputStyle: {
          display: "inline-block",
          padding: "6px",
          "line-height": "22px",
          "font-size": "16px",
          border: "2px solid #fff",
          "box-shadow": "0 1px 3px 0 rgba(0, 0, 0, 0.2)",
          "border-radius": "2px",
          color: "#5F5F5F"
        },
        color: {
          header: "#ed1c24",
          headerText: "#fff"
        },
        buttons: {
          ok: "Ok",
          cancel: "Cancel"
        },
        overlayOpacity: 0.5, // 0.5 as default
        dismissible: true // as true as default
      }
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      policies: "policies",
    })
  },

  methods: {
    moment: function(date, format) {
      return this.$moment(date, format);
    },

    dateOfBirthChanged: function(pIndex, date) {
      this.updatePolicyProfile(0, pIndex, "date_of_birth", date);
    },

    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    getBiometrics() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store
            .dispatch(
              "getBiometrics",
              this.policies[0].profiles[0].next_of_kin_national_id
            )
            .then(response => {
              if (this.biometrics.FULL_NAMES) {
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_first_name",
                  this.biometrics.FULL_NAMES.split(" ")[0]
                );
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_middle_name",
                  this.biometrics.FULL_NAMES.split(" ").length > 2
                    ? this.biometrics.FULL_NAMES.split(" ")[1]
                    : null
                );
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_last_name",
                  this.biometrics.FULL_NAMES.split(" ").length > 2
                    ? this.biometrics.FULL_NAMES.split(" ")[2]
                    : this.biometrics.FULL_NAMES.split(" ")[1]
                );
              }

              if (this.biometrics.DATE_OF_BIRTH) {
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_date_of_birth",
                  this.biometrics.DATE_OF_BIRTH
                );
              }

              if (this.biometrics.GENDER) {
                this.updatePolicyProfile(
                  0,
                  0,
                  "next_of_kin_gender",
                  this.biometrics.GENDER
                );
              }

              if (
                this.biometrics.FULL_NAMES &&
                this.biometrics.DATE_OF_BIRTH &&
                this.biometrics.GENDER
              ) {
                this.$modal.show("biometrics-information");
              }

              if (
                !this.biometrics.FULL_NAMES &&
                !this.biometrics.DATE_OF_BIRTH &&
                !this.biometrics.GENDER
              ) {
                this.$modal.show("biometrics-status-verify-later");
              }
            });
        }
      });
    },

    submit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postPolicySync").then(response => {
            this.$router.push(
              "/policies/" +
                response.data.data.policies[0].id +
                "/profiles/" +
                response.data.data.policies[0].profiles[0].id +
                "/" +
                response.data.data.policies[0].profiles[0].sections.next_section
            );

            this.$store.commit("updatePolicyProfile", {
              policyIndex: 0,
              profileIndex: 0,
              field: "current_section",
              value: response.data.data.policies[0].profiles[0].sections.next_section
            });

            this.$store.dispatch("postPolicySync");
          });
        }
      });
    }
  }
};
</script>
<style scope>
.disable_option {
  color: #ccc;
}
</style>