<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{title}}</h1>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="row light">
					<div class="col-md-12">
						<p class="about-text">BimaExchange is an insurance marketplace that allows you to instantly compare insurance rates from 20 top insurers in Kenya, buy your insurance policy conveniently online and save up to 50% on your insurance. We deliver policy documents next business day – countrywide.</p>
						<div class="umbrella-absolute"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="dark">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="about-item">
							<div class="title">Mission Statement</div>
							<p class="about-text">
								To deliver the best ecommerce experience for consumers to compare, buy, and use personal insurance products, tools, and information that protect their assets and well-being. To apply technology, intelligence and a human touch to the challenges of personal insurance so that our customers can intervene early and often, while remaining connected to the critical information they need to proactively manage risk and save money and time.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="our-partners">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="dosis-title">
							Our Partners
						</div>
					</div>
				</div>
				<div class="row">
					<div class="partner-item">
						<div class="col-md-3">
							<div class="img-wrapper">
								<img src="img/providers/aon.png" alt="Aon">
							</div>
							
						</div>
						<div class="col-md-9">
							<div class="dosis-sub-title">AON Kenya</div>
							<p class="lite-text">Aon Kenya is a leading provider of risk management, insurance brokerage, and human capital resourses. There are part of Aon plc (NYSE: AON), a leading global provider of risk management, insurance and reinsurance brokerage, and human resources solutions and outsourcing services. With over 72,000 colleagues worldwide, Aon unites to empower results for clients in over 120 countries via innovative risk and people solutions.  We stand ready to draw on our international network and the knowledge of our local experts to give you the best advice, proven solutions and attentive service.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="partner-item">
						<div class="col-md-3">
							<div class="img-wrapper">
								<img src="img/providers/fargo-courier.png" alt="Fargo">
							</div>
						</div>
						<div class="col-md-9">
							<div class="dosis-sub-title">Fargo Courier</div>
							<p class="lite-text">Fargo Courier is a leading, independent courier company that continues to expand its footprint, often being the first distribution and delivery company to enter new locations in Kenya and across borders. From implementing quality control to launching a new state of the art hub, Fargo is driving growth in the transport and logistics’ industry.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
  name: 'About_us',
  data () {
    return {
      title: 'About Us'
    }
  }
}
</script>

<style scoped>

</style>
