<template>
    <div>
      <section class="breadcrumb">
        <div class="container">
          <div class="row">
            <ol class="breadcrumb">
              <li class="home-page"><a href="/"><img src="../../img/breadcrumb-home.png" alt="Home"></a></li>
              <li><a>{{title}}</a></li>
            </ol>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-responsive confirm no-bm">
                <tr>
                  <th>Insurance Type</th>
                  <th>Policy No.</th>
                  <th>Effective</th>
                  <th>Current Benefits</th>
                  <th>Action</th>
                </tr>

                <tr v-for="policy in policies" :key="policy.id" v-if="policy.profiles.length > 0">
                  <td>{{policy.profiles[0].insurance_type.name}}</td>
                  <td>{{policy.policy_number}}</td>
                  <td>{{policy.expiration_date}}</td>
                  <td>
                    <span v-for="selectedQuote in policy.profiles[0].selected_quotes" v-if="selectedQuote.product.cover_type.optional_benefit" :key="selectedQuote.id">
                      {{ selectedQuote.product.cover_type.name }}, 
                    </span>
                  </td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                      </button>

                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" @click.prevent="showBenefits(policy)">Add benefits to policy</a></li>
                        <li><a href="#">Suspend policy</a></li>
                        <li><a href="#">Cancel policy</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>

      <modal name="benefits" class="modal-benefits">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4 class="modal-title text-center">Please select benefits to add</h4>

              <form action="">
                <div class="row modal-benefits-row" v-for="offer in benefitsOffers">
                  <div class="col-sm-4 col-xs-8">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" :disabled="isChosen(offer.id)" :checked="isChosen(offer.id)">
                        <span class="cr"><i class="cr-icon fa fa-check"></i>
                      </span> <span class="label-text">{{offer.name}}</span></label>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-4">
                    <p>1500 KES</p>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    &ndash;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, libero.
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <div>
                <button type="button" class="btn ghost-link" @click="cancel()">CANCEL</button>
                <button type="button" class="btn btn-default btn-small" @click="chechkout()">CHECKOUT</button>
              </div>
            </div>
          </div>
        </div>
      </modal>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex'

    export default {
      name: "benefits",

      data () {
        return {
          title: 'Active Policies',
          benefitsOffers: [],
          offerIds: [],
        }
      },

      mounted () {
        this.$store.dispatch('getActivePolicies');
      },

      computed: {
        ...mapGetters({
          policies: 'policies',
        })
      },

      methods:{
        chechkout: function() {
          this.$store.dispatch('postAddBenefits', this.currentPolicy).then((response) => {
            this.$modal.hide("benefits");
          });
        },

        showBenefits:function(policy) {
          this.$modal.show('benefits');
          
          // this.$store.dispatch('getOptionalBenefitsOffers', policy.profiles[0].id).then((response) => {
          //   this.benefitsOffers = response.data.data;
          //   for(let offer in this.benefitsOffers){
          //     this.offerIds.push(this.benefitsOffers[offer].id);
          //   }            
          // });
        },

        changeBenefits: function(id) {
          /*if(this.benefits.indexOf(id) < 0) {
            this.benefits.push(id);
          }
          else {
            this.benefits.splice(this.benefits.indexOf(id), 1);
          }
          console.log(this.benefits);*/
        },

        cancel: function() {
          this.$modal.hide("benefits");
        },

        isChosen: function(id) {
          return this.offerIds.indexOf(id)>0;
        },

       /* offersExist: function (policy) {
          this.$store.dispatch('getOptionalBenefitsOffers', policy.profiles[0].id).then((response) => {
            return response.data.length;
          });
        },*/
      }
    }

</script>

<style scoped>

</style>
