<template>
    <div>
      <section class="breadcrumb">
        <div class="container">
          <div class="row">
            <ol class="breadcrumb">
              <li class="home-page"><a href="/"><img src="../../img/breadcrumb-home.png" alt="Home"></a></li>
              <li><a>{{title}}</a></li>
            </ol>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <table class="table confirm no-bm">
                <tr>
                  <th>Insurance Type</th>
                  <th>Policy No.</th>
                  <th>Effective</th>
                  <th>Current Benefits</th>
                  <th>Action</th>
                </tr>
                <template v-for="(policy, index) in policies" v-if="policy.profiles.length>0">
                  <tr v-for="cover_type in policy.profiles[0].insurance_type.cover_types">
                    <td>{{policy.profiles[0].insurance_type.name}}</td>
                    <td>{{policy.policy_number}}</td>
                    <td>{{policy.expiration_date}}</td>
                    <td>{{cover_type.name}}</td>
                    <td>
                      <button  @click.prevent="addBenefit(policy,cover_type.id)" class="btn btn-default btn-small" v-if="policy.profiles[0].cover_type.benefit">ADD Benefits</button>
                      <a  class="btn btn-default btn-small" v-else>No available benefits</a>
                    </td>
                  </tr>
                </template>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex'

    export default {
        name: "benefits",
      data () {
        return {
          title: 'Add Benefits to Your Policy',
        }
      },
      mounted () {
        this.$store.dispatch('getActivePolicies');
      },
      computed: {
        ...mapGetters({
          policies: 'policies',
        })
      },
      methods:{
        addBenefit: function(policy,id) {
          this.$store.commit('setOptionalBenefits', id);
          this.$store.dispatch('postAddBenefits',policy);

        }
      }
    }

</script>

<style scoped>

</style>
