<template>
  <div>
    <section class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{title}}</h1>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container tight">
        <div class="row form agent-form">
          <form action="" method="post">
            <div class="bottom-border-block">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="cover_start">When would you like your cover to start?</label>
                  <input type="date" class="form-control" v-validate="'required'" v-model="motorInsurance.start_date" :class="{'input': true, 'is-danger': errors.has('start date') }" name="start date">
                  <span v-show="errors.has('start date')" class="help is-danger">{{ errors.first('start date') }}</span>
                </div>
                <div class="form-group">
                  <label for="contact_phone">Contact phone</label>
                  <input type="text" class="form-control" v-validate="'required|numeric'" v-model="motorInsurance.contact_phone" :class="{'input': true, 'is-danger': errors.has('contact phone') }" name="contact phone">
                  <span v-show="errors.has('contact phone')" class="help is-danger">{{ errors.first('contact phone') }}</span>
                </div>
                <div class="form-group" v-if="(profile.insurance_type.alias == 'HOME')">
                  <label for="occupation">Your occupation</label>
                  <input type="text" class="form-control" v-validate="'required'" v-model="motorInsurance.occupation" :class="{'input': true, 'is-danger': errors.has('occupation') }" name="occupation">
                  <span v-show="errors.has('occupation')" class="help is-danger">{{ errors.first('occupation') }}</span>
                </div>

                <div class="title">Residental address</div>

                <div class="form-group">
                  <label for="country">County</label>
                  <v-select v-validate="'required'" v-model="motorInsurance.country" :options="countries" :class="{'input': true, 'is-danger': errors.has('country') }" name="country"></v-select>
                  <span v-show="errors.has('country')" class="help is-danger">{{ errors.first('country') }}</span>                  
                </div>
                <div class="form-group">
                  <label for="area">Estate / Area</label>
                  <input type="text" name="area" class="form-control" v-validate="'required'" v-model="motorInsurance.area" :class="{'input': true, 'is-danger': errors.has('area') }">
                  <span v-show="errors.has('area')" class="help is-danger">{{ errors.first('area') }}</span>
                </div>
                <div class="form-group">
                  <label for="road street">Road / Street</label>
                  <input type="text" name="road street" class="form-control" v-validate="'required'" v-model="motorInsurance.road_street" :class="{'input': true, 'is-danger': errors.has('road street') }">
                  <span v-show="errors.has('road street')" class="help is-danger">{{ errors.first('road street') }}</span>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <br>
                    <div class="form-group">
                      <label for="road_street1">Road / Street</label>
                      <input type="text" name="road_street1" class="form-control" v-model="motorInsurance.road_street1">
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <br>
                    <div class="form-group">
                      <label for="road_street2">Road / Street</label>
                      <input type="text" name="road_street2" class="form-control" v-model="motorInsurance.road_street2">
                    </div>
                  </div>                  
                </div>                
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="building">Building, Block name or number</label>
                  <input type="text" name="building" class="form-control" v-model="motorInsurance.building">
                </div>
                <div class="form-group">
                  <label for="house">Plot/House or Apartment number</label>
                  <input type="text" name="house" class="form-control" v-validate="'required|numeric'" v-model="motorInsurance.house" :class="{'input': true, 'is-danger': errors.has('house') }">
                  <span v-show="errors.has('house')" class="help is-danger">{{ errors.first('house') }}</span>
                </div>
              </div>
              
              <div class="col-md-12">                
                <br>
                <div class="form-group">
                  <label>
                    Is the mailing address the same ?
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="same_mailing_address" value="yes" v-model="same_mailing_address"  >
                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                    <span class="label-text">Yes</span>
                  </label>
                </div>
                <br>
                <div class="radio">
                  <label>
                    <input type="radio" name="same_mailing_address" value="no" v-model="same_mailing_address">
                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                    <span class="label-text">No</span>
                  </label>
                </div>                
              </div>            


              <div class="col-md-12" v-if="same_mailing_address == 'no'">
                <div class="row">
                  <div class="title">Mailing address</div>
                </div>
              </div>

              <div class="col-md-12" v-if="same_mailing_address == 'no'">
                <div class="form-group">
                  <label for="mailing country">County</label>
                  <v-select name="mailing country" v-validate="'required'" v-model="motorInsurance.mailing_address.country" :options="countries" :class="{'input': true, 'is-danger': errors.has('mailing country') }" ></v-select>
                  <span v-show="errors.has('mailing country')" class="help is-danger">{{ errors.first('mailing country') }}</span>                  
                </div>
                <div class="form-group">
                  <label for="mailing area">Estate / Area</label>
                  <input type="text" name="mailing area" class="form-control" v-validate="'required'" v-model="motorInsurance.mailing_address.area" :class="{'input': true, 'is-danger': errors.has('mailing area') }">
                  <span v-show="errors.has('mailing area')" class="help is-danger">{{ errors.first('mailing area') }}</span>                  
                </div>
                <div class="form-group">
                  <label for="mailing road_street">Road / Street</label>
                  <input type="text" name="mailing road_street" class="form-control" v-validate="'required'" v-model="motorInsurance.mailing_address.road_street" :class="{'input': true, 'is-danger': errors.has('mailing road_street') }" >
                  <span v-show="errors.has('mailing road_street')" class="help is-danger">{{ errors.first('mailing road_street') }}</span>                  
                </div>
                <div class="form-group">
                  <label for="m_building">Building, Block name or number</label>
                  <input type="text" name="m_building" class="form-control" v-model="motorInsurance.mailing_address.building">
                </div>
                <div class="form-group">
                  <label for="mailing house">Plot/House or Apartment number</label>
                  <input type="text" name="mailing house" class="form-control" v-validate="'required|numeric'" v-model="motorInsurance.mailing_address.house" :class="{'input': true, 'is-danger': errors.has('mailing house') }">
                  <span v-show="errors.has('mailing house')" class="help is-danger">{{ errors.first('mailing house') }}</span>                  
                </div>
              </div>

              <div class="col-md-12">
                <div class="row">
                  <div class="title">
                    <button class="btn btn-default large-btn" @click.prevent="validateBeforeSubmit">Continue</button>
                    <a href="#" class="btn ghost-link" @click.prevent="$router.go(-1)">Back</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>     
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'Additional_insurance_info',
  data () {
    return {  

      title: 'Additional Insurance Info',
      same_mailing_address: 'yes',
      countries: [  "Nairobi County", "Baringo County", "Bomet County", "Bungoma County", "Busia County", "Elgeyo Marakwet County", "Embu County", "Garissa County", "Homa Bay County", "Isiolo County", "Kajiado County", "Kakamega County", "Kericho County", "Kiambu County", "Kilifi County", "Kirinyaga County", "Kisii County", "Kisumu County", "Kitui County", "Kwale County", "Laikipia County", "Lamu County", "Machakos County", "Makueni County", "Mandera County", "Meru County", "Migori County", "Marsabit County", "Mombasa County", "Muranga County", "Nakuru County", "Nandi County", "Narok County", "Nyamira County", "Nyandarua County", "Nyeri County", "Samburu County", "Siaya County", "Taita Taveta County", "Tana River County", "Tharaka Nithi County", "Trans Nzoia County", "Turkana County", "Uasin Gishu County", "Vihiga County", "Wajir County", "West Pokot County"  ]
    }
  },
  computed: {
          ...mapGetters({
              profile: 'profile',
              motorInsurance: 'motorInsurance'              
          })
        },  
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
          if (result) {       
            this.$store.commit('setMotorInsurance', this.motorInsurance);                
            this.$router.push({path :'/motor-delivery'});            
          } else {
              setTimeout(() => {
                  const objDiv = document.querySelector('.is-danger:not([style*="display: none"])');
                  objDiv.scrollIntoView({block: "center"});
              },10);

          }
      });
    } 
  }
}
</script>