<template>
  <div>
    <section class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{title}}</h1>

            <div class="parallax-breadcrumbs hidden-sm hidden-xs">
              <a href="/become-an-agent" class="link">Become an Agent</a>
              <i class="glyphicon glyphicon-menu-right separator"></i>
              <span href="/agent-application-form">Agent Application Form</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section v-if="agentPageState == 'confirm'">
      <div class="container">
        <div class="row">
          <div class="title">Please check provided information</div>
        </div>
      </div>
    </section> -->
    
    <section v-if="agentPageState != 'confirm' && agentPageState != 'completed'">
      <div class="container tight">
        <div class="row form agent-form">
          <form action="" method="post">
            <div class="col-md-12">
              <div class="bottom-border-block">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">First name</label>
                      <input type="text" v-validate="'required'"  class="form-control"  :class="{'input': true, 'is-danger': errors.has('first name') }" name="first name" v-model="user.first_name">
                      <span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="middle_name">Middle name (optional)</label>
                      <input type="text" class="form-control" v-model="user.middle_name">                      
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="last-name">Last name</label>
                  <input type="text" v-validate="'required'"  class="form-control"  :class="{'input': true, 'is-danger': errors.has('last name') }" name="last name" v-model="user.last_name">
                  <span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
                </div>
              </div>

              <!-- <div class="bottom-border-block">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" v-validate="'required|email'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('email') }" name="email" v-model="user.email">
                      <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input type="text" v-validate="'required|numeric'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('phone') }" name="phone" v-model="user.mobile_number" id="phone">
                      <span v-show="errors.has('phone')" class="help is-danger">{{ errors.first('phone') }}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="company_name">Your company name(optional)</label>
                      <input type="text" class="form-control" v-model="user.company_name" id="company_name">                      
                    </div>
                    
                  </div>
                </div>

              </div> -->

              <!-- <div class="bottom-border-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group clearfix">
                      <label for="postal_address">Postal address</label>
                      <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('postal address') }" name="postal address" v-model="user.postal_address" id="postal_address">
                      <span v-show="errors.has('postal address')" class="help is-danger">{{ errors.first('postal address') }}</span>
                      <span class="description pull-right">Example: P O box 12345</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-7">
                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('city') }" name="city" v-model="user.city" id="city">
                      <span v-show="errors.has('city')" class="help is-danger">{{ errors.first('city') }}</span>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="zip_code">Postal code</label>
                      <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('postal code') }" name="postal code"  v-model="user.postal_code" id="postal_code">
                      <span v-show="errors.has('postal code')" class="help is-danger">{{ errors.first('postal code') }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="country">County</label>
                  
                  <select id="countries" v-validate="'not_in:Select your County'" class="form-control" :class="{'input': true, 'is-danger': errors.has('county') }" name="county" v-model="user.location_id">
                    <option disabled selected class="disable_option">Select your County</option>
                    <option v-for="location in locations" :value="location.id">{{ location.name }}</option>
                  </select>
                  <span v-show="errors.has('county')" class="help is-danger">{{ errors.first('county') }}</span>
                </div>
              </div> -->

              <!-- <div class="bottom-border-block">
                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" v-model="user.agent_status"  v-validate="'required'" name="agent_status" value="I am qualified agent currently registered by IRA.">
                      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                      <span class="label-text">I am qualified agent currently registered by IRA.</span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" v-model="user.agent_status" name="agent_status" value="I am qualified agent currently registered by AKI.">
                      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                      <span class="label-text">I am qualified agent currently registered by AKI.</span>
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" v-model="user.agent_status" name="agent_status" value="I am a motor vehicle dealer.">
                      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                      <span class="label-text">I am a motor vehicle dealer.</span>
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" v-model="user.agent_status" name="agent_status" value="I am a social media influencer.">
                      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                      <span class="label-text">I am a social media influencer.</span>
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" v-model="user.agent_status" name="agent_status" value="recently_bought">
                      <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                      <span class="label-text">Other</span>
                    </label>
                  </div>
                </div>
                <span class="help is-danger is-big" v-show="errors.has('agent_status')">{{ errors.first('agent_status') }}</span>
              </div> -->

              <!-- <div class="bottom-border-block" v-if="user.agent_status">
                <div class="row form">
                  <div class="col-md-12">

                    <div class="form-group" v-if="user.agent_status == 'other'">
                      <label for="nationalID">Describe your status</label>
                      <input id="other-qualification" type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('status') }" name="status" v-model="user.agent_status">
                      <span v-show="errors.has('status')" class="help is-danger">{{ errors.first('status') }}</span>
                    </div>

                    <div class="form-group">
                      <label for="nationalID">Enter National ID No</label>
                      <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('national id') }" name="national id" v-model="user.national_id_number">
                      <span v-show="errors.has('national id')" class="help is-danger">{{ errors.first('national id') }}</span>
                    </div>

                    <div class="form-group">
                      <label for="last-name">Enter KRA PIN No</label>
                      <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('KRA pin') }" name="KRA pin" v-model="user.KRA_pin_number">
                      <span v-show="errors.has('KRA pin')" class="help is-danger">{{ errors.first('KRA pin') }}</span>
                    </div>

                    <div class="form-group" v-if="user.agent_status == 'I am qualified agent currently registered by IRA.'">
                      <label for="last-name">Enter IRA Registration No</label>
                      <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('IRA registration') }" name="IRA registration" v-model="user.IRA_registration_number">
                      <span v-show="errors.has('IRA registration')" class="help is-danger">{{ errors.first('IRA registration') }}</span>
                    </div>

                    <div class="form-group" v-if="user.agent_status == 'I am qualified agent currently registered by AKI.'">
                      <label for="last-name">Enter AKI Certificate Serial No</label>
                      <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('AKI certificate') }" name="AKI certificate" v-model="user.AKI_certificate_serial">
                      <span v-show="errors.has('AKI certificate')" class="help is-danger">{{ errors.first('AKI certificate') }}</span>
                    </div>

                  </div>
                </div>
              </div> -->

              <!-- <div class="bottom-border-block">
                <div class="row form">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Are you registered as an agent with any underwriter?</label>
                    </div>
                    <div class="form-group">
                      <div class="radio">
                        <label>
                          <input type="radio" v-model="user.registered_agent" v-validate="'required'" name="underwriter" value="1">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">Yes</span>
                        </label>
                      </div>
                      <br/>
                      <div class="radio">
                        <label>
                          <input type="radio" v-model="user.registered_agent" name="underwriter" value="0">
                          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                          <span class="label-text">No</span>
                        </label>
                      </div>
                    </div>
                    <span class="help is-danger is-big" v-show="errors.has('underwriter')">{{ errors.first('underwriter') }}</span>
                  </div>
                </div>
              </div> -->

              <!-- <div class="bottom-border-block">
                <div  v-if="user.registered_agent == 1">
                  <div class="row" v-for="(underwriter, index) in underwriters">
                    <div class="col-md-7">
                      <div class="form-group">
                        <label for="underwriter_name">Underwriter name {{index+1}}</label>
                        <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('underwriter name '  + (index+1)) }" :name="'underwriter name '  + (index+1)" v-model="underwriter.provider_id">
                        <span class="help is-danger" v-show="errors.has('underwriter name ' + (index+1))">{{ errors.first('underwriter name ' + (index+1)) }}</span>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="agent_code">Your agent code {{index+1}}</label>
                        <input type="text" v-validate="'required'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('agent code ' + (index+1)) }" :name="'agent code ' + (index+1)" v-model="underwriter.agent_code">
                        <span class="help is-danger" v-show="errors.has('agent code ' + (index+1))">{{ errors.first('agent code ' + (index+1)) }}</span>
                      </div>
                    </div>
                  </div>
                  <h1>{{ agentPageState }}</h1>

                  <div class="row form">
                    <div class="col-md-12">
                      <div class="form-group">
                        <a class="circle-link" @click="addUnderWriter()">
                          <span class="icon-wrapper">
                            <i class="fa fa-plus"></i>
                          </span>
                          Add underwriter
                        </a>
                      </div>
                    </div>
                  </div>
                </div>                
              </div> -->

              <div class="bottom-border-block">
                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" v-validate="'required|min:8'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('password') }" name="password" v-model="user.password">
                      <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="confirm_password">Confirm password</label>
                      <input type="password" v-validate="'required|confirmed:password'"  class="form-control" :class="{'input': true, 'is-danger': errors.has('confirm password') }" name="confirm password" v-model="user.password_confirmation" id="confirm_password">
                      <span v-show="errors.has('confirm password')" class="help is-danger">{{ errors.first('confirm password') }}</span>
                    </div>
                  </div>
                </div> -->

                <div class="row form">
                  <div class="col-md-12 text-center">
                    <div class="form-group">
                      <input type="submit" class="btn btn-default large-btn" @click.prevent="validateBeforeSubmit">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>  
    <!-- confirm -->
    <confirm-agent-registration v-if="agentPageState == 'confirm'"></confirm-agent-registration>
    <!-- completed -->
    <agent-application-completed :agent_code="agent_code"  v-if="agentPageState == 'completed'"></agent-application-completed>
  </div>
</template>

<script>
  
  import ConfirmAgentRegistration from './Confirm_agent_registration.vue'
  import AgentApplicationCompleted from './Agent-application-completed.vue'  
  import {mapGetters} from 'vuex'

  export default {

    name: 'Agent_application_form',    
    computed: {
      ...mapGetters({
          user: 'user',
          agentPageState: 'agentPageState',          
      })
    },
    data () {
      return {
        title: 'Agent Application',
        locations: ["Nairobi County"],       
        c_password: '',
        agent_code: '1000'        
      }
    },
    mounted() {

    },    
    methods: {
      addUnderWriter: function() {
        this.user.underwriters.push({ underwriter_id:'', agent_code:''});
      },

      validateBeforeSubmit() {
          this.$validator.validateAll().then((result) => {
              if (result) {                                 
                this.$store.commit('setAgent', this.agent);                
                this.$store.commit('setAgentPageState', "confirm");
              } else {
                setTimeout(() => {
                    const objDiv = document.querySelector('.is-danger:not([style*="display: none"])');
                    objDiv.scrollIntoView({block: "center"});
                },10);
              }
          });
      }  
    },
    components: {
      ConfirmAgentRegistration,
      AgentApplicationCompleted
    }
  }
</script>
<style scope>
  .disable_option {
    color:#ccc;
  }
</style>