<template>
    <section class="agent-now">
        <div class="container tight">
            <div class="row form">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="../../img/colorful-hands.png" alt="">
                    </div>

                    <div class="dosis-title">High Fives! You’re an agent now</div>

                    <div class="default-site-text text-center">
                        Use your agent code below when completing proposal forms or let your customers use it when completing proposals forms on BimaExchange.
                    </div>
                    <br>

                    <div class="number text-center">Your agent code is: <span class="red">{{agent_code}}</span></div>

                    <br>

                    <div class="default-site-text">
                        Copy the unique link below and share it anywhere you want, social media, WhatsApp etc:
                    </div>

                    <div class="form-group referral_wrapper">
                        <input type="text" class="form-control" name="referral_code" v-model="unique_link" disabled>
                        <button type="button" class="btn btn-default copy_to_clipboard" v-clipboard:copy="unique_link">Copy</button>
                    </div>

                    <br>
                    <div class="default-site-text">
                        Share your link directly on social media:
                    </div>

                    <div class="social-circles-wrapper text-center">
              <span>
                <a href="#" class="red-circle-link red fa fa-facebook"></a>
                <a href="#" class="red-circle-link red fa fa-twitter"></a>
                <a href="#" class="red-circle-link red fa fa-linkedin"></a>
                <span class="default-site-text hidden-xs">or by email</span>
                <a href="mailto:bima@bimaexchange.com" class="red-circle-link red fa fa-envelope"></a>
              </span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row text-center">
                        <a href="#" class="btn btn-default large-btn" @click.prevent="goToDashboard">My dashboard</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: ['agent_code'],        
        data() {
            return {
                unique_link: 'https://bimaexchange.com/get-free-quotes?referralcode=55555'
            }
        },
        methods: {
            goToDashboard() {
                this.$store.commit('setAgentPageState', "");
                this.$router.push({path :'/user-dashboard'});
            }
        }
    }
</script>