<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{title}}</h1>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container semi-tight">
				<div class="row">
					<div class="col-md-12">
						<h1 class="section-title">Sell retail insurance the smart way</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="important-list">
							<li>
								<div class="title">Signup online</div>
								<p>It takes less than 2 minutes to complete the online application.</p>
							</li>
							<li>
								<div class="title">Start social media marketing</div>
								<p>We'll give you tools to market yourself on social media, by Email and in WhatsApp groups like a Pro.</p>
							</li>
							<li>
								<div class="title">Earn money</div>
								<p>BimaExchange will guide your customers through the technical jargon, deliver policy documents and handle their claims - you earn 100% of the insurance commission.</p>
							</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 text-center">
						<a href="/agents/register" class="btn btn-default large-btn">get started</a>
					</div>
				</div>
				<br>
			</div>
		</section>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: 'Become_an_agent',
  data () {
    return {
      title: 'Become an Agent'
    }
  },   
  computed: {
    ...mapGetters({
      loggedInUser: "loggedInUser"
    })
  },
  mounted(){ 
  	if(this.loggedInUser && this.loggedInUser.referral_code){
  		this.$router.push("/agents/agent/" + this.loggedInUser.id);
  	} 
  }
}
</script>

<style scoped>

</style>
