<template>
    <section class="confirm-table">
        <div class="container tight">
            <div class="row">
                <div class="col-md-12">
                    <table class="table confirm no-bm">
                        <tr>
                            <td colspan="2" width="50%">
                                <div class="count-new">First Name</div>
                                <div class="value">{{agent.first_name}}</div>
                            </td>
                            <td colspan="2">
                                <div class="count-new">Last Name</div>
                                <div class="value">{{agent.last_name}}</div>
                            </td>
                        </tr>
                        <tr  v-if="agent.middle_name">
                            <td colspan="4">
                                <div class="count-new">Middle Name</div>
                                <div class="value">{{agent.middle_name}}</div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="4">Contact inormation:</th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="count-new">Email</div>
                                <div class="value">{{agent.email}}</div>
                            </td>
                            <td colspan="2">
                                <div class="count-new">Phone</div>
                                <div class="value">{{agent.mobile_number}}</div>
                            </td>
                        </tr>
                        <tr v-if="agent.business_name">
                            <td colspan="4">
                                <div class="count-new">Your company name</div>
                                <div class="value">{{agent.business_name}}</div>
                            </td>

                        </tr>
                        <tr>
                            <th colspan="4">Mailing address:</th>
                        </tr>
                        <tr>
                            <td colspan="3" width="70%">
                                <div class="count-new">Postal address</div>
                                <div class="value">{{agent.postal_address}}</div>
                            </td>
                            <td>
                                <div class="count-new">Postal code</div>
                                <div class="value">{{agent.postal_code}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="count-new">City</div>
                                <div class="value">{{agent.city}}</div>
                            </td>
                            <td colspan="2">
                                <div class="count-new">Country</div>
                                <div class="value">{{agent.country}}</div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="4">Agent status:</th>
                        </tr>
                    </table>
                    <table class="table confirm no-bm">
                        <tr v-if="agent.agent_status">
                            <td colspan="4">
                                <div class="count-new">Status</div>
                                <div class="value">{{agent.agent_status}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="count-new">National ID</div>
                                <div class="value">{{agent.national_id_number}}</div>
                            </td>
                            <td>
                                <div class="count-new">KPA PIN</div>
                                <div class="value">{{agent.KRA_pin_number}}</div>
                            </td>
                            <td v-if="agent.IRA_registration_number && (agent.agent_status == 'I am qualified agent currently registered by IRA.')">
                                <div class="count-new">IRA</div>
                                <div class="value">{{agent.IRA_registration_number}}</div>
                            </td>
                            <td v-if="agent.AKI_certificate_serial  && (agent.agent_status == 'I am qualified agent currently registered by AKI.')">
                                <div class="count-new">AKI certificate</div>
                                <div class="value">{{agent.AKI_certificate_serial}}</div>
                            </td>
                        </tr>
                    </table>
                    <table class="table confirm nobm" v-if="agent.underwriters.length">
                        <tr v-for="underwriter in agent.underwriters">
                            <td width="70%">
                                <div class="count-new">Underwriter</div>
                                <div class="value">{{underwriter.provider_id}}</div>
                            </td>
                            <td>
                                <div class="count-new">Agent number</div>
                                <div class="value">{{underwriter.agent_code}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <a href="#" class="ghost-link" @click.prevent="back">Back</a>
                        <a href="#" class="btn btn-default large-btn" @click.prevent="submit">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {        
        computed: {
          ...mapGetters({
              agent: 'agent'              
          })
        },
        methods: {
            back() {                
                this.$store.commit('setAgentPageState', "");              
            },
            submit() {
                this.$store.commit('setAgentPageState', "completed");

                let obj = this.agent;
                obj.provider_id = [];
                obj.agent_code = [];

                for (var i =0; i<this.agent.underwriters.length; i++) {
                    obj.provider_id[i] = this.agent.underwriters[i].provider_id;
                    obj.agent_code[i] = this.agent.underwriters[i].agent_code;
                }        
        
                delete obj.underwriters;

                this.$http.post('api/agents/register', obj).then((response) => {
                        console.log('/agents/register response : ' + response.data);
                    }, (err) => {
                        console.log(err);
                    }
                );
            }            
        }
    }
</script>