<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Create Account</h1>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container tight">
				<div class="row">
					<div class="col-md-12">
						<form>
							<div class="bottom-border-block">
								<div class="form-group">
									<label for="">Are you Kenyan citizen?</label>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-xs-6">
											<div class="radio">
												<label>
													<input type="radio" name="kenyan_citizen" :value="true" v-model="user.kenyan_citizen" @click="updateUser('kenyan_citizen', user.kenyan_citizen)">
													<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
													<span class="label-text">Yes</span>
												</label>
											</div>
										</div>

										<div class="col-xs-6">
											<div class="radio">
												<label>
													<input type="radio" name="kenyan_citizen" :value="false" v-model="user.kenyan_citizen" @click="updateUser('kenyan_citizen', user.kenyan_citizen)">
													<span class="cr"><i class="cr-icon fa fa-circle"></i></span>
													<span class="label-text">No</span>
												</label>
											</div>
										</div>
									</div>
								</div> 

								<div class="form-group" v-if="user.kenyan_citizen">
                    <label for="kpa_pin">Enter your National ID number</label>
                    <div class="form-inline form-horizontal">
                        <input v-validate="'required|numeric'" ref="national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="national_id" v-model="user.national_id" @blur="updateUser('national_id', user.national_id)" maxlength="32" :disabled="loading">
                        <button type="submit" class="btn btn-default" @click.prevent="getBiodata" :disabled="loading" autofocus>{{ loading? 'loading...' : 'verify' }}</button>
                        <span v-show="errors.has('National ID')" class="help is-danger">{{ errors.first('National ID') }}</span><br><br>
                        <div class="national-id-title">Some explanation why National ID is necessary to specify</div>
                        <br>
                    </div>
                </div>

								<div class="form-group" v-if="!user.kenyan_citizen">
                    <label for="kpa_pin">Enter your Alien ID number</label>
                    <div class="form-inline form-horizontal">
                        <input v-validate="'required'" ref="alien_id" :class="{'input': true, 'is-danger': errors.has('Alien ID') }" type="text" name="Alien ID" id="alien_id" v-model="user.alien_id" @blur="updateUser('alien_id', user.alien_id)" maxlength="32" :disabled="loading">
                        <button type="submit" class="btn btn-default" @click.prevent="getBiodata" :disabled="loading" autofocus>{{ loading? 'loading...' : 'verify' }}</button>
                        <span v-show="errors.has('Alien ID')" class="help is-danger">{{ errors.first('Alien ID') }}</span><br><br>
                        <div class="alien-id-title">Some explanation why Alien ID is necessary to specify</div>
                        <br>
                    </div>
                </div>            
							</div>
							 <div class="bottom-border-block" v-if="!biodata.FULL_NAMES && biometrics_status == 'verify_later'" >
                    <div class="form-group file-upload">
                        <label for="">Upload a copy of your national ID</label>
                        <upload></upload>
                    </div>
                </div>

							<div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="">First name</label>
                          <input type="text" v-validate="required"  class="form-control"  :class="{'input': true, 'is-danger': errors.has('first name') }" name="first name" v-model="user.first_name" @blur="updateUser('first_name', user.first_name)">
                          <span v-show="errors.has('first name')" class="help is-danger">{{ errors.first('first name') }}</span>
                          <br>
                        </div>
                    </div>
                                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="middle_name">Middle name (optional)</label>
                            <input type="text" class="form-control" v-model="user.middle_name" @blur="updateUser('middle_name', user.middle_name)">                      
                        </div>
                    </div>
                </div>

                  <div class="form-group">
                      <label for="last-name">Last name</label>
                      <input type="text" v-validate="required"  class="form-control"  :class="{'input': true, 'is-danger': errors.has('last name') }" name="last name" v-model="user.last_name" @blur="updateUser('last_name', user.last_name)">
                      <span v-show="errors.has('last name')" class="help is-danger">{{ errors.first('last name') }}</span>
                  </div>
              </div>

							<div class="bottom-border-block" v-show="biometrics_status == 'verify_later'">
								<div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" @blur="updateUser('email', user.email)" v-validate="required"  class="form-control" :class="{'input': true, 'is-danger': errors.has('email') }" name="email" v-model="user.email">
                          <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>

                          <template v-if="reg_error">
                            <span v-if="reg_message.email" class="help is-danger">{{ reg_message.email[0] }}</span>
                          </template>
                          <br>
                      </div>                                        
                  </div>
									
									<div class="col-md-12">
										<div class="form-group">
											<label for="contact_phone">Contact phone</label>
											<input type="text" name="contact phone" v-validate="'required|numeric'" class="form-control" v-model="user.mobile_number" @blur="updateUser('mobile_number', user.mobile_number)">
											<span v-show="errors.has('contact phone')" class="help is-danger">{{ errors.first('contact phone') }}</span>
                      <br>
										</div>
									</div>
                </div>

                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" v-validate="required"  class="form-control" :class="{'input': true, 'is-danger': errors.has('password') }" name="password" v-model="user.password">
                            <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
                            <br>
                        </div>
                    </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="confirm_password">Confirm password</label>
                              <input type="password" v-validate="required"  class="form-control" :class="{'input': true, 'is-danger': errors.has('confirm password') }" name="confirm password" v-model="user.password_confirmation" id="confirm_password">
                              <span v-show="errors.has('confirm password')" class="help is-danger">{{ errors.first('confirm password') }}</span>

                              <template v-if="reg_error">
                                <!-- {{ reg_message.email?"yes":"no" }} -->
                                <span v-if="reg_message.password_confirmation" class="help is-danger">{{ reg_message.password_confirmation[0] }}</span>
                              </template>
                          </div>
                      </div>
                  </div>                                                            
              </div>	
						</form>	

						<div class="title" v-show="biometrics_status == 'verify_later'">

              <!-- <button class="btn btn-default" @click.prevent="register" :disabled="loading">{{ loading? 'loading...' : 'Create and continue' }}</button> -->
              <template v-if="reg_error">
                <div class="row">
                  <div class="col-md-6">
                    <a href="#" @click.prevent="$router.push({path :'/login'})"><span class="ghost-link">{{ reg_message.email? reg_message.email[0]+"click here login":"" }}<br>{{ reg_message.password_confirmation? reg_message.password_confirmation[0]: "" }}</span></a>
                  </div>       
                  <div class="col-md-6">
							      <button class="btn btn-default" @click.prevent="register" :disabled="loading">{{ loading? 'loading...' : 'Create and continue' }}</button>
                  </div>
                </div>
              </template>
              <template v-else>
							  <button class="btn btn-default" @click.prevent="register" :disabled="loading">{{ loading? 'loading...' : 'Create and continue' }}</button>
              </template>
						</div>
						
						<div class="row title" v-show="biometrics_status == 'verify_later'">
							<div class="col-xs-6">
								<a class="ghost-link" href="#">Back to quotes</a>
							</div>
							<div class="col-xs-6 text-right">
								<a href="#" class="ghost-link" @click.prevent="$router.push({path :'/login'})">Log in</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<modal name="biometrics-status-verify-later" height="auto" :scrollable="true" :adaptive="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">				
						<span>
							Ooops! we could not verify the National ID information provided. 
							Please call support number
							020 760 3888 for assistance or try again.
						</span>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="retry">Retry</button>	
							<button type="button" class="btn ghost-link" @click="verifyLater">Continue</button>	
						</div>
					</div>
				</div>
			</div>
		</modal>

		<modal name="biometrics-information" :scrollable="true" :adaptive="true" height="auto">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">				
						<h3>Is this you?</h3>
						<p>{{ biodata.FULL_NAMES }}</p>
						<p>{{ biodata.DATE_OF_BIRTH }}</p>
						<p>{{ biodata.GENDER == 'M'? 'Male' : 'Female' }}</p>
					</div>

					<div class="modal-footer">
						<div>
							<button type="button" class="btn ghost-link" @click="retry">No</button>	
							<button type="button" class="btn ghost-link" @click="verifyLater">Yes</button>	
						</div>
					</div>
				</div>
			</div>
		</modal>				
	</div>
</template>

<script>
import Vue from "vue";
import { mapGetters } from "vuex";

export default {
  name: "Create_account",

  computed: {
    ...mapGetters({
      user: "user",
      loading: "loading",
      biometrics_status: "biometricsStatus",
      biodata: "biodata",
      profiles: "profiles"
    })
  },

  data() {
    return {
      required: "",
      reg_error: false,
      reg_message: {}
    };
  },

  methods: {
    updateUser(field, value) {
      this.$store.commit("updateModel", {
        object: "user",
        field: field,
        value: value
      });
    },

    getBiodata() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store
            .dispatch("getBiodata", this.user.national_id)
            .then(response => {
              if (this.biodata.FULL_NAMES) {
                this.updateUser(
                  "first_name",
                  this.biodata.FULL_NAMES.split(" ")[0]
                );
                this.updateUser(
                  "middle_name",
                  this.biodata.FULL_NAMES.split(" ").length > 2
                    ? this.biodata.FULL_NAMES.split(" ")[1]
                    : null
                );
                this.updateUser(
                  "last_name",
                  this.biodata.FULL_NAMES.split(" ").length > 2
                    ? this.biodata.FULL_NAMES.split(" ")[2]
                    : this.biodata.FULL_NAMES.split(" ")[1]
                );
              }

              if (this.biodata.DATE_OF_BIRTH) {
                this.updateUser("date_of_birth", this.biodata.DATE_OF_BIRTH);
              }

              if (this.biodata.GENDER) {
                this.updateUser("gender", this.biodata.GENDER);
              }

              if (
                this.biodata.FULL_NAMES &&
                this.biodata.DATE_OF_BIRTH &&
                this.biodata.GENDER
              ) {
                this.$modal.show("biometrics-information");
              }

              if (
                !this.biodata.FULL_NAMES &&
                !this.biodata.DATE_OF_BIRTH &&
                !this.biodata.GENDER
              ) {
                this.$modal.show("biometrics-status-verify-later");
              }
            });
        }
      });
    },

    verifyLater() {
      this.$store.commit("setBiometricsStatus", "verify_later");
      this.required = "required";
      this.$modal.hide("biometrics-status-verify-later");
      this.$modal.hide("biometrics-information");
    },

    retry() {
      this.$modal.hide("biometrics-status-verify-later");
      this.$modal.hide("biometrics-information");
    },

    register() {
      this.$store.dispatch("register", this.user).then(response => {
        if (response.status !== 200) {
          this.reg_error = true;
          this.reg_message = response.data.error;
          this.$store.commit("setLoading", false);
        } else {
          this.$store.dispatch("getLoggedInUser").then(() => {
            
            this.$store.commit("updateProfiles", {
                profileIndex: 0,
                field: "national_id",
                value:this.user.national_id
              });

            this.$store
              .dispatch("postPolicySync", [
                {
                  profiles: this.profiles
                }
              ])
              .then(response => {
                

                this.$router.push(
                  "/policies/" +
                    response.data.data.policies[0].id +
                    "/profiles/" +
                    response.data.data.policies[0].profiles[0].id +
                    "/" +
                    response.data.data.policies[0].profiles[0].sections
                      .next_section
                );
              });
          });

        }
      });
    },

    backToQuotes() {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.error {
  color: red;
}
</style>