<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{title}}</h1>
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">FAQ</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Motor Insurance</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="question-item">
							<div class="title">
								When will I be contacted with insurance information?
							</div>
							<div class="text">
								For most of our products you can apply and buy insurance online without speaking to anyone. However specialists are always available on chat or over the phone to answer any of your questions. Upon purchase of your cover you will be assigned a personal Insurance Specialist who will contact you within 24 hours to introduce herself / himself. The Insurance Specialist will arrange for delivery of your policy documents or obtain additional information, if required. The IS will help you through the life of your policy and guide you through the insurance claims process should the unfortunate happen.
							</div>
						</div>

						<div class="question-item">
							<div class="title">
								How is my rate determined?
							</div>
							<div class="text">
								Your car insurance premium rates are regulated by The Insurance Regulatory Authority of Kenya. There are a variety of other important determiners such as your driving record, location, and age. Those who have accident-free experience behind the wheel and live in less congested areas can sometimes get the most affordable rates. Other factors insurers might use to calculate your premium include, but aren’t limited to:
								<ul>
									<li>Marital status</li>
									<li>Gender</li>
									<li>Make and model of your car(s)</li>
									<li>Kilometers you drive per year</li>
									<li>Insurance Score</li>
									<li>Insurance history</li>
									<li>Credit score</li>
								</ul>
							</div>
						</div>

						<div class="question-item">
							<div class="title">
								Is my car covered outside of Kenya?
							</div>
							<div class="text">
								No, usually, your coverage is valid within Kenya only. Check the policy details to confirm if your policy covers you outside of Kenya.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
  name: 'FAQ',
  data () {
    return {
      title: 'FAQ'
    }
  }
}
</script>

<style scoped>

</style>
