<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Get Free Quotes</h1>
					</div>
				</div>
			</div>
		</section>
		
		<section class="plan-selection">
			<div class="container tight">
				<insurance-types-input></insurance-types-input>

				<vehicle-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Vehicle Insurance')"></vehicle-quotes>
				<health-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Health Insurance')"></health-quotes>
			    <funeral-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Funeral Insurance')"></funeral-quotes>
				<personal-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Personal Accident Insurance')"></personal-quotes>
				<home-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Domestic Insurance')"></home-quotes>
				<golfers-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Golfers Insurance')"></golfers-quotes>
				<travel-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Travel Insurance')"></travel-quotes>
				<marine-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Marine Insurance')"></marine-quotes>
				<sme-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'SME Insurance')"></sme-quotes>
			</div>
		</section>	
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Get_free_quotes",

  computed: {
    ...mapGetters({
      loading: "loading",
      loggedInUser: "loggedInUser",
      profiles: "profiles"
    })
  },

  mounted() {
    this.$store.dispatch("getInsuranceTypes");
    // this.$store.commit('setProfileAgentCode', this.loggedInUser? this.loggedInUser.referral_code : this.$route.query.referralcode);
  }
};
</script>

<style scoped>

</style>
