<template>
  <div>
    <section class="slider">
      <div class="slider-wrapper">
        <div class="container">
          <div class='row'>
            <div class='col-md-12'>
              <div class="carousel slide" id="quote-carousel">
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                  <!-- Quote 1 -->
                  <div class="item" id="home-slider-slide-1" v-bind:class="{active: activeSlide == 0}">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="slide-title">When insurance<br>companies compete,<br>you win</div>
                        <div class="slide-subtitle">Get insurance cover for yourself and for your loved ones in minutes.<br>We’ve made it more accessible and affordable than you think.</div>
                      </div>
                    </div>
                  </div>

                  <!-- Quote 2 -->
                  <div class="item" id="home-slider-slide-2" v-bind:class="{active: activeSlide == 1}">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="slide-title">lorem ipsum<br>Lorem ipsum,<br>Lorem ipsum.</div>
                        <div class="slide-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, enim, perspiciatis.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                      </div>
                    </div>
                  </div>

                  <!-- Quote 3 -->
                  <div class="item" id="home-slider-slide-3" v-bind:class="{active: activeSlide == 2}">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="slide-title">lorem ipsum<br>Lorem ipsum,<br>Lorem ipsum.</div>
                        <div class="slide-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, enim, perspiciatis.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit. Ea quae eius optio enim aperiam provident officiis, placeat, quaerat <br> ducimus modi.</div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                  <li v-bind:class="{active: activeSlide == 0}" @click="activeSlide = 0"></li>
                  <li v-bind:class="{active: activeSlide == 1}" @click="activeSlide = 1"></li>
                  <li v-bind:class="{active: activeSlide == 2}" @click="activeSlide = 2"></li>
                </ol>

                <!-- Carousel Buttons Next/Prev -->
                <!--a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="main-site-title text-center white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="h4">Get Smart!</div>
            <p class="slogan">
              Save money and time &amp; get instant quotes from 20 top insurance companies in Kenya and<br>
              buy your insurance policy online, in minutes. We also offer easy payment terms.
            </p>
            <a href="/get-free-quotes" class="btn btn-default">get free qoutes</a>
          </div>
        </div>
      </div>
    </section>

    <section class="services">
      <div class="container-fluid clearfix">
        <div class="row">
          <div class="service-item">
            <a href="#">vehicle insurance</a>
          </div>
          <div class="service-item">
            <a href="#">health insurance</a>
          </div>
          <div class="service-item">
            <a href="#">domestic insurance</a>
          </div>
        </div>
      </div>
    </section>

    <section class="retail-services white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Start Carousel -->
            <div id="retail-services-carousel" class="carousel slide" data-ride="carousel" data-interval="0">
              <div class="row clearfix">
                <div class="col-md-4 col-sm-4 column">
                  <h2>Retail services</h2>
                  <div class="controls">
                    <ul class="nav">
                      <li data-target="#retail-services-carousel" data-slide-to="0" class="active">
                        <a href="#">
                          Vehicle Insurance
                        </a>
                      </li>
                      <li data-target="#retail-services-carousel" data-slide-to="1">
                        <a href="#">
                          Health Insurance
                        </a>
                      </li>
                      <li data-target="#retail-services-carousel" data-slide-to="2">
                        <a href="#">
                          Domestic Package
                        </a>
                      </li>

                      <li data-target="#retail-services-carousel" data-slide-to="3">
                        <a href="#">
                          Travel Insurance Package
                        </a>
                      </li>

                      <li data-target="#retail-services-carousel" data-slide-to="4">
                        <a href="#">
                          Educator Package
                        </a>
                      </li>

                      <li data-target="#retail-services-carousel" data-slide-to="5">
                        <a href="#">
                          Rest Easy (Funeral Cover)
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 column">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">

                    <div class="item active">
                      <div class="container-fluid">
                        <div class="row">
                          <h2>Lorem ipsum dolor sit.</h2>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-6">
                            <img class="img-responsive" src="../../img/services/1.png" alt="">
                            <p>Lorem ipsum dolor.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img class="img-responsive" src="../../img/services/2.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img class="img-responsive" src="../../img/services/3.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img class="img-responsive" src="../../img/services/4.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Item -->

                    <div class="item">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12">
                            <h2>Risk solutions for SMEs</h2>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/1.png" alt="">
                            <p>For Small Business</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/2.png" alt="">
                            <p>Crop Insurance</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/3.png" alt="">
                            <p>Contractor Insurance</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/4.png" alt="">
                            <p>Livestock Insurance</p>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Item -->
                    <div class="item">
                      <div class="container-fluid">
                        <div class="row">
                          <h2>Lorem ipsum dolor sit.</h2>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/1.png" alt="">
                            <p>Lorem ipsum dolor.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/2.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/3.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/4.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Item -->

                    <div class="item">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12">
                            <h2>Risk solutions for SMEs</h2>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/1.png" alt="">
                            <p>For Small Business</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/2.png" alt="">
                            <p>Crop Insurance</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/3.png" alt="">
                            <p>Contractor Insurance</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/4.png" alt="">
                            <p>Livestock Insurance</p>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Item -->

                    <div class="item">
                      <div class="container-fluid">
                        <div class="row">
                          <h2>Lorem ipsum dolor sit.</h2>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/1.png" alt="">
                            <p>Lorem ipsum dolor.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/2.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/3.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/4.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Item -->

                    <div class="item">
                      <div class="container-fluid">
                        <div class="row">
                          <h2>Lorem ipsum dolor sit.</h2>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/1.png" alt="">
                            <p>Lorem ipsum dolor.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/2.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/3.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                          <div class="col-md-3 col-sm-6">
                            <img src="../../img/services/4.png" alt="">
                            <p>Lorem ipsum.</p>
                          </div>
                        </div>
                      </div>
                    </div><!-- End Item -->

                  </div>
                  <!-- End Carousel Inner -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="join-us clearfix">

      <div class="become-an-agent pull-left">
        <div class="title">Become an Agent</div>
        <p>Earn 100% of insurance commission with<br>a help of BimaExchange.</p>
        <div>
          <a href="/become-an-agent" class="btn btn-default">learn more</a>
        </div>
      </div>

      <div class="claims-information white pull-right">
        <div class="title">Claims Information</div>
        <div class="controls">
          <ul class="nav">
            <li>If your vehicle is involved in an accident</li>
            <li>If you vehicle or parts are stolen</li>
            <li>If your windscreen/window glass is broken</li>
            <li>If your vehicle music system is stolen</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  name: "home",
  components: {
    Carousel,
    Slide
  },
  data() {
    return {
      title: "",
      activeSlide: 0
    };
  }
};
</script>

<style scoped>

</style>
