<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{title}}</h1>
					</div>
				</div>
			</div>
		</section>


		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-left">
							Let insurance companies compete for your business. <br>You can save up to 50% on your insurance and it’s as easy as three step <br>below:
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="numbered-list-item">
							<div class="head">
								<div class="title"><span class="number">1</span>Fill out a clear online form</div>
							</div>
							<div class="body">
								It takes just a couple of minutes. The process is simple but if you get stuck or need clarification, feel free to call or chat us up along the way, 24/7.
							</div>
							<div class="footer text-center">
								<a href="#" class="btn btn-default large-btn">get started</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="numbered-list-item">
							<div class="head">
								<div class="title"><span class="number">2</span>Compare policies and premium rates</div>
							</div>
							<div class="body">
								We’ll show you products that match your requirements from 20 top rated insures in the country. All the products are explained in detail. You'll be able to compare them side by side.
								<b>Save up to 50% on your insurance!</b>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="numbered-list-item">
							<div class="head">
								<div class="title"><span class="number">3</span>Make a choice and buy online</div>
							</div>
							<div class="body">
								Make a payment in full or use our flexible payment plans. We accept M-PESA, Airtel Money, Orange money and most credit and debit cards. Once you complete this process, sit back and relax – your policy document is on its way – we’ll deliver it to you in as little as 24 working hours.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
  name: 'How_it_works',
  data () {
    return {
      title: 'How it Works'
    }
  }
}
</script>

<style scoped>

</style>
