<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{title}}</h1>
					</div>
				</div>
			</div>
		</section>

		<section class="create-account">
			<div class="container tight">
				<div class="row form">
					<form action="" method="post">
						<!-- <div class="col-md-12"> -->
							<div class="col-md-12">
								<div class="form-group">
									
								</div>
							</div>
							<!-- <div class="col-xs-6"> -->
								<div class="form-group">
									
								</div>
							<!-- </div> -->
								<div class="form-group">
							<!-- <div class="col-xs-6"> -->
									
								</div>
							<!-- </div> -->

							<div class="col-md-12">							
								
								<div class="form-group">
									<label for="email">Email</label>
									<input type="text" class="form-control" v-model="credentials.email" id="email">
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" v-model="credentials.password" id="password">
								</div>							

								<div class="form-group">
									<button class="btn btn-default" @click.prevent="login" :disabled="loading">{{ !loading? 'Log in' : 'loading...' }}</button>
								</div>
								
							</div>


						<!-- </div> -->
					</form>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Login",

  data() {
    return {
      title: "Login",

      credentials: {
        email: "",
        password: ""
      }
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      loggedInUser: "loggedInUser"
    })
  },

  methods: {
    login() {
      let that = this;

      this.$store.dispatch("login", this.credentials).then(response => {
        localStorage.setItem("token", response.data.access_token);
        localStorage.setItem(
          "expires_at",
          parseInt(Math.floor(Date.now() / 1000)) +
            parseInt(response.data.expires_in)
				);
				
        this.$store.commit("setToken", response.data.access_token);

        this.$store.dispatch("getLoggedInUser");

        this.$router.push("/user-dashboard");
      });
    }
  }
};
</script>

<style scoped>

</style>
