<template>
	<div>
		<section class="breadcrumb">
			<div class="container">
				<div class="row">
					<ol class="breadcrumb">
						<li class="home-page"><a href="/"><img src="../../img/breadcrumb-home.png" alt="Home"></a></li>
						<li><a href="#">{{title}}</a></li>
					</ol>
				</div>
			</div>
		</section>

		<section class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="notifications-wrapper">
							<div class="count-new">
								You have {{new_notifications.length}} new notifications
							</div>
							<div class="notification-item-wrapper" v-for="item in new_notifications">
								<div class="item clearfix" v-bind:class="{'collapsed-text': item.collapsed}">
									<a href="#" class="delete" title="Delete message" @click.prevent="new_notifications.splice(index, 1)"></a>
									<div class="date pull-left">
										<div class="day">{{item.day}}</div>
										<span class="hidden-lg hidden-md">, </span>
										<div class="year">{{item.year}}</div>
									</div>
									<div class="message-wrapper pull-right">
										<div class="message"> 
											{{item.message}}
										</div>
										<a href="#" class="read-more" @click.prevent="item.collapsed=false"></a>
									</div>
								</div>
							</div>							

							<div class="separator"></div>

							<div class="notification-item-wrapper" v-for="notification in notifications">
								<div class="item clearfix" v-bind:class="{'collapsed-text': notification.collapsed}">
									<a href="#" class="delete" title="Delete message" @click.prevent="notifications.splice(index, 1)"></a>
									<div class="date pull-left">
										<div class="day">{{notification.day}}</div>
										<span class="hidden-lg hidden-md">, </span>
										<div class="year">{{notification.year}}</div>
									</div>
									<div class="message-wrapper pull-right">
										<div class="message">
											{{notification.message}}
										</div>
										<a href="#" class="read-more" @click.prevent="notification.collapsed=false"></a>
									</div>
								</div>
							</div>

							
						</div>
					</div>
	
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
  name: 'Notifications',
  data () {
    return {
    	title: 'Notifications',
    	new_notifications: [
    		{
    			collapsed: true,
    			day: 'august 19',
    			year: '2017',
    			message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusantium illo ex cumque aperiam ea similique qui minima distinctio consectetur minus quaerat id delectus velit repellat beatae hic libero, quasi fugiat, neque voluptas. Doloremque recusandae voluptates aliquam totam accusantium exercitationem adipisci, obcaecati provident. Magni fugiat excepturi praesentium totam facere dolores ipsum pariatur quam labore harum, tempore quis minus sint quod dignissimos accusantium mollitia dolor, maiores veniam. Quasi dolorum blanditiis a!'
    		},
    		{
    			collapsed: true,
    			day: 'august 19',
    			year: '2017',
    			message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusantium illo ex cumque aperiam ea similique qui minima distinctio consectetur minus quaerat id delectus velit repellat beatae hic libero, quasi fugiat, neque voluptas. Doloremque recusandae voluptates aliquam totam accusantium exercitationem adipisci, obcaecati provident. Magni fugiat excepturi praesentium totam facere dolores ipsum pariatur quam labore harum, tempore quis minus sint quod dignissimos accusantium mollitia dolor, maiores veniam. Quasi dolorum blanditiis a!'
    		}
    	],
    	notifications: [
    		{
    			collapsed: true,
    			day: 'august 19',
    			year: '2017',
    			message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusantium illo ex cumque aperiam ea similique qui minima distinctio consectetur minus quaerat id delectus velit repellat beatae hic libero, quasi fugiat, neque voluptas. Doloremque recusandae voluptates aliquam totam accusantium exercitationem adipisci, obcaecati provident. Magni fugiat excepturi praesentium totam facere dolores ipsum pariatur quam labore harum, tempore quis minus sint quod dignissimos accusantium mollitia dolor, maiores veniam. Quasi dolorum blanditiis a!'
    		},
    		{
    			collapsed: true,
    			day: 'august 19',
    			year: '2017',
    			message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusantium illo ex cumque aperiam ea similique qui minima distinctio consectetur minus quaerat id delectus velit repellat beatae hic libero, quasi fugiat, neque voluptas. Doloremque recusandae voluptates aliquam totam accusantium exercitationem adipisci, obcaecati provident. Magni fugiat excepturi praesentium totam facere dolores ipsum pariatur quam labore harum, tempore quis minus sint quod dignissimos accusantium mollitia dolor, maiores veniam. Quasi dolorum blanditiis a!'
    		},
    		{
    			collapsed: true,
    			day: 'august 19',
    			year: '2017',
    			message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusantium illo ex cumque aperiam ea similique qui minima distinctio consectetur minus quaerat id delectus velit repellat beatae hic libero, quasi fugiat, neque voluptas. Doloremque recusandae voluptates aliquam totam accusantium exercitationem adipisci, obcaecati provident. Magni fugiat excepturi praesentium totam facere dolores ipsum pariatur quam labore harum, tempore quis minus sint quod dignissimos accusantium mollitia dolor, maiores veniam. Quasi dolorum blanditiis a!'
    		},
    		{
    			collapsed: true,
    			day: 'august 19',
    			year: '2017',
    			message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusantium illo ex cumque aperiam ea similique qui minima distinctio consectetur minus quaerat id delectus velit repellat beatae hic libero, quasi fugiat, neque voluptas. Doloremque recusandae voluptates aliquam totam accusantium exercitationem adipisci, obcaecati provident. Magni fugiat excepturi praesentium totam facere dolores ipsum pariatur quam labore harum, tempore quis minus sint quod dignissimos accusantium mollitia dolor, maiores veniam. Quasi dolorum blanditiis a!'
    		},
    		{
    			collapsed: true,
    			day: 'august 19',
    			year: '2017',
    			message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusantium illo ex cumque aperiam ea similique qui minima distinctio consectetur minus quaerat id delectus velit repellat beatae hic libero, quasi fugiat, neque voluptas. Doloremque recusandae voluptates aliquam totam accusantium exercitationem adipisci, obcaecati provident. Magni fugiat excepturi praesentium totam facere dolores ipsum pariatur quam labore harum, tempore quis minus sint quod dignissimos accusantium mollitia dolor, maiores veniam. Quasi dolorum blanditiis a!'
    		},
    		{
    			collapsed: true,
    			day: 'august 19',
    			year: '2017',
    			message: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae accusantium illo ex cumque aperiam ea similique qui minima distinctio consectetur minus quaerat id delectus velit repellat beatae hic libero, quasi fugiat, neque voluptas. Doloremque recusandae voluptates aliquam totam accusantium exercitationem adipisci, obcaecati provident. Magni fugiat excepturi praesentium totam facere dolores ipsum pariatur quam labore harum, tempore quis minus sint quod dignissimos accusantium mollitia dolor, maiores veniam. Quasi dolorum blanditiis a!'
    		}
    	]   
    }
  }
}
</script>

<style scoped>

</style>
