<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{title}}</h1>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="provider-item">
							<div class="header">
								<div class="img-wrapper">
									<img src="img/providers/aar.png" alt="AAR" class="img-responsive">
								</div>
							</div>
							<div class="title">AAR insurance</div>
							<div class="body">
								AAR was started by its founders Bengt Beckmann and his wife Maryjka as Africa Air Rescue Company. From a small business with specialty in evacuation of medical and accident casualties, both by road and air, AAR is now the leading private healthcare firm in East Africa boasting of over 100, 000 in me...
							</div>
							<div class="link-wrapper text-center">
								<a href="#" class="ghost-link">read more</a>
							</div>

						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="provider-item">
							<div class="header">
								<div class="img-wrapper">
									<img src="img/providers/aig.png" alt="AIG" class="img-responsive">
								</div>
							</div>
							<div class="title">AIG insurance</div>
							<div class="body">
								AIG traded as Chartis in Kenya and other parts of the world – apart from the US – until November, 2012. This rebrand marked a new era for them, ushering in a new brand promise: “Bring on tomorrow”, which underscores their tremendous tenacity and ambition – to solve problems, to innovate...
							</div>
							<div class="link-wrapper text-center">
								<a href="#" class="ghost-link">read more</a>
							</div>

						</div>
					</div>

					<div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
						<div class="provider-item">
							<div class="header">
								<div class="img-wrapper">
									<img src="img/providers/aon.png" alt="AON" class="img-responsive">
								</div>
							</div>
							<div class="title">AON Kenya</div>
							<div class="body">
								Aon Kenya is a leading provider of risk management, insurance brokerage, and human capital resourses. We are part of Aon plc (NYSE: AON), a global giant in the insurance arena with more than 66,000 colleagues worldwide across 600 offices, in over 120 countries. We unite to provide our clients with...
							</div>
							<div class="link-wrapper text-center">
								<a href="#" class="ghost-link">read more</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
  name: 'Our_providers',
  data () {
    return {
      title: 'Our providers'
    }
  }
}
</script>

<style scoped>

</style>
