<template>
	<div>
		<section class="breadcrumb">
			<div class="container">
				<div class="row">
					<ol class="breadcrumb">
						<li class="home-page"><a href="/"><img src="../../img/breadcrumb-home.png" alt="Home"></a></li>
						<li><a>{{title}}</a></li>
					</ol>
				</div>
			</div>
		</section>

		<section class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row" v-if="!policies.length">
							<br>
							<br>
							<div class="text-center">
								<loader>                    
										<h4>
												getting pending applications...
										</h4>
										<br>
								</loader>
							</div>
						</div>

						<div class="table-responsive" v-if="policies.length" >
							<table class="table table-bordered">
								<thead> 
									<tr>
										<th>Insurance type</th>
										<th>Last Updated</th>
										<th>Status</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody class="table-hover table-striped">
									<tr v-for="(policy, index) in policies" :key="policy.id">
										<td>{{policy.profiles[0].insurance_type.name}}</td>
										<td>{{policy.profiles[0].updated_at}}</td>
										<td>{{policy.profiles[0].profile_status}}</td>
										<td>
											<a :href="policyRoute(policy)" class="btn btn-default btn-small">resume</a>
											<a href="" class="ghost-link" @click="policy.profiles.splice(index, 1)">delete</a>
										</td>
									</tr>									
								</tbody>
							</table>
						</div>
					</div>
	
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Pending_applications",

  data() {
    return {
      title: "Pending Applications"
      // policies: this.$lodash.cloneDeep(this.$store.state.policies)
    };
  },

  mounted() {
    this.$store.dispatch("getPendingPolicies").then(response => {
      response.data.data.forEach((policy, policyIndex) => {
        this.$store.commit("setPolicies", { policyIndex, policy });
      });
    });
  },

  computed: {
    ...mapGetters({
      policies: "policies"
    })
  },

  methods: {
    policyRoute: function(policy) {
      return (
        "/policies/" +
        policy.id +
        "/profiles/" +
        policy.profiles[0].id +
        "/" +
        policy.profiles[0].current_section
      );
    }
  }
};
</script>

<style scoped>

</style>
