<template>
	<div>
		
		<div v-if="policies.length && policies[0].profiles.length">

			<!-- Vehicle -->
			<vehicle-primary v-if="policies[0].profiles[0].insurance_type.name == 'Vehicle Insurance' && policies[0].profiles[0].current_section == 'primary'"></vehicle-primary>
			<vehicle-secondary v-if="policies[0].profiles[0].insurance_type.name == 'Vehicle Insurance' && policies[0].profiles[0].current_section == 'secondary'"></vehicle-secondary>

			<!-- Health -->
			<health-primary v-if="policies[0].profiles[0].insurance_type.name == 'Health Insurance' && policies[0].profiles[0].current_section == 'primary'"></health-primary>
			<health-secondary v-if="policies[0].profiles[0].insurance_type.name == 'Health Insurance' && policies[0].profiles[0].current_section == 'secondary'"></health-secondary>
			<health-tertiary v-if="policies[0].profiles[0].insurance_type.name == 'Health Insurance' && policies[0].profiles[0].current_section == 'tertiary'"></health-tertiary>

			<!-- Golfers -->
			<golfers-primary v-if="policies[0].profiles[0].insurance_type.alias == 'Golfers Insurance' && policies[0].profiles[0].current_section == 'primary'"></golfers-primary>
			<golfers-secondary v-if="policies[0].profiles[0].insurance_type.name == 'Golfers Insurance' && policies[0].profiles[0].current_section == 'secondary'"></golfers-secondary>

			<!-- Home -->
			<home-primary v-if="policies[0].profiles[0].insurance_type.name == 'Domestic Insurance' && policies[0].profiles[0].current_section == 'primary'"></home-primary>
			<home-secondary v-if="policies[0].profiles[0].insurance_type.name == 'Domestic Insurance' && policies[0].profiles[0].current_section == 'secondary'"></home-secondary>

			<!-- Funeral -->
			<funeral-primary v-if="policies[0].profiles[0].insurance_type.name == 'Funeral Insurance' && policies[0].profiles[0].current_section == 'primary'"></funeral-primary>
			<funeral-secondary v-if="policies[0].profiles[0].insurance_type.name == 'Funeral Insurance' && policies[0].profiles[0].current_section == 'secondary'"></funeral-secondary>

			<!-- Personal accident -->
			<personal-primary v-if="policies[0].profiles[0].insurance_type.name == 'Personal Accident Insurance' && policies[0].profiles[0].current_section == 'primary'"></personal-primary>
			<personal-secondary v-if="policies[0].profiles[0].insurance_type.name == 'Personal Accident Insurance' && policies[0].profiles[0].current_section == 'secondary'"></personal-secondary>

			<!-- Sme -->
			<sme-primary v-if="policies[0].profiles[0].insurance_type.name == 'SME Insurance' && policies[0].profiles[0].current_section == 'primary'"></sme-primary>
			<sme-secondary v-if="policies[0].profiles[0].insurance_type.name == 'SME Insurance' && policies[0].profiles[0].current_section == 'secondary'"></sme-secondary>

			<!-- shared -->
			<delivery v-if="policies[0].profiles[0].current_section == 'delivery'"></delivery>
			<checkout v-if="policies[0].profiles[0].current_section == 'checkout'"></checkout>
			<payment v-if="policies[0].profiles[0].current_section == 'payment'"></payment>
			
			<!-- marine -->			
			<marine-primary v-if="policies[0].profiles[0].insurance_type.name == 'Marine Insurance' && policies[0].profiles[0].current_section == 'primary'"></marine-primary>	
			<marine-secondary v-if="policies[0].profiles[0].insurance_type.name == 'Marine Insurance' && policies[0].profiles[0].current_section == 'secondary'"></marine-secondary>	
			
			<!-- travel -->			
			<travel-primary v-if="policies[0].profiles[0].insurance_type.name == 'Travel Insurance' && policies[0].profiles[0].current_section == 'primary'"></travel-primary>	
			<travel-secondary v-if="policies[0].profiles[0].insurance_type.name == 'Travel Insurance' && policies[0].profiles[0].current_section == 'secondary'"></travel-secondary>	
		</div>	
		<div class="row" v-if="loading">
				<br>
				<br>
				<div class="text-center">
						<loader>
								<h4>
										processing...
								</h4>
								</br>
						</loader>
				</div>
		</div>		
	</div>
</template>

<script>
	import {mapGetters} from 'vuex';

	export default {
		name: 'Policy_profile',

		props: ['policy_id', 'profile_id', 'profile_section'],

		mounted() {
			this.$store.dispatch('getPolicy', {id: this.policy_id}).then(response => {
				this.$store.commit('setPolicies', {
					policyIndex: 0,
					policy: response.data.data
				});

				this.$store.commit('updatePolicyProfile', {
					policyIndex: 0,
					profileIndex: 0,
					field: 'current_section',
					value: this.profile_section
				});

				this.$store.dispatch('postPolicySync');
			});
		},

		watch: {
            'profile_section': function (val, oldVal) {
				if (val != oldVal) {
					this.$store.commit('updatePolicyProfile', {
						policyIndex: 0,
						profileIndex: 0,
						field: 'current_section',
						value: val
					});

				    this.$store.dispatch('postPolicySync').then(response => {
						this.$store.commit('setPolicies', {
							policyIndex: 0,
							policy: response.data.data.policies[0]
						});

						// this.$store.commit('updatePolicyProfile', {
						// 	policyIndex: 0,
						// 	profileIndex: 0,
						// 	field: 'current_section',
						// 	value: this.profile_section
						// });

						// this.$store.dispatch('postPolicySync');
					});
				}
			}
		},

		computed: {
            ...mapGetters({
				loading: 'loading',
				policies: 'policies'
            })
		},

		methods: {
			toggleShowOptionalBenefitsDiv: function() {
				this.$store.commit('setShowOptionalBenefitsDiv', !this.showOptionalBenefitsDiv);
			}
		}
	}
</script>

<style scoped>

</style>
