<template>
	<div>
		<section class="breadcrumb">
			<div class="container">
				<div class="row">
					<ol class="breadcrumb">
						<li class="home-page"><a href="/"><img src="../../img/breadcrumb-home.png" alt="Home"></a></li>
						<li><a href="#">{{title}}</a></li>
					</ol>
				</div>
			</div>
		</section>

		<section class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
						<div class="profile-wrapper">
							<table class="table ghost-table">
								<tbody>
									<tr>
										<td>Email</td>
										<td>{{loggedInUser.email}}</td>
									</tr>
									<tr>
										<td>First name</td>
										<td>{{loggedInUser.first_name}}</td>
									</tr>
									<tr>
										<td>Middle name</td>
										<td>{{loggedInUser.middle_name}}</td>
									</tr>
									<tr>
										<td>Last name</td>
										<td>{{loggedInUser.last_name}}</td>
									</tr>
									<tr>
										<td>Gender</td>
										<td>{{loggedInUser.gender}}</td> <!-- Returns Null -->
									</tr>
									<tr>
										<td>Address</td>
										<td>P.O Box 12345-00100, Nairobi, Kenya</td> <!-- Returns Null -->
									</tr>
									<tr>
										<td>Phone</td>
										<td>{{loggedInUser.mobile_number}}</td>
									</tr>
									<tr>
										<td>Password</td>
										<td><a href="#" class="ghost-link">change password</a></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td></td>
										<td>
											<a href="#" class="circle-link">
												<span class="icon-wrapper">
													<i class="fa fa-pencil"></i>
												</span>
												Edit personal details
											</a>
										</td>
									</tr>
								</tfoot>
							</table>
							<div class="account-type-wrapper">
								<div class="account-type-title">Account type</div>
								<div class="account-type">Customer account</div>
								<div class="close-account">
									<a href="#" class="ghost-link">close this account</a>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</section>
	</div>
</template>

<script>

	import {mapGetters} from 'vuex'

	export default {
	  name: 'Profile',
	  data () {
	    return {
	      title: 'Your Profile'
	    }
	  },
	  computed: {
	    ...mapGetters({
			loggedInUser: 'loggedInUser',
	    })
	},
	}
</script>

<style scoped>

</style>
