<template>
	<div>		
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Get Free Quotes</h1>						
					</div>
				</div>
			</div>
		</section>		

		<section class="step2-quotes" v-if="id">
			<div class="container tight">
				<div class="row" v-if="providers.length">
					<div class="title">
						<strong>We have {{providers.length}} quotes for you</strong>
					</div>
				</div>

				<div class="row" v-if="providers.length">
					<div class="buttons-wrapper">
						<div class="col-md-12">
							<a href="#" class="circle-link" @click.prevent="toggleShowOptionalBenefitsDiv">
								<span class="icon-wrapper">
									<i class="fa fa-plus"></i>
								</span>
								<span class="link-text">Select benefits for your policy</span>
							</a>

							<a href="#" class="circle-link" @click.prevent="$modal.show('edit-quotes')">
								<span class="icon-wrapper">
									<i class="fa fa-pencil"></i>
								</span>
								<span class="link-text">Edit insurance details</span>
							</a>
						</div>
					</div>
				</div> 

				<optional-benefits v-if="providers.length && profiles.length"></optional-benefits>
			</div>
		</section>

		<br>
		<br>

		<div class="row" v-if="!providers.length">
			<br>
			<br>
			<div class="text-center">
					<loader>                    
							<h4>
									searching for the best deals for you...
							</h4>
							<br>
					</loader>
			</div>
		</div>						

		<quote v-for="provider in providers" :provider="provider" :key="provider.id"></quote>

		<share v-if="providers.length"></share>

		<modal name="edit-quotes" height="auto" :scrollable="true" :adaptive="true">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content" v-if="profiles.length">
					<div class="modal-body">
						<form action="" method="post">
							<vehicle-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Vehicle Insurance')"></vehicle-quotes>
							<health-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Health Insurance')"></health-quotes>
							<funeral-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Funeral Insurance')"></funeral-quotes>
							<personal-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Personal Accident Insurance')"></personal-quotes>
							<home-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Domestic Insurance')"></home-quotes>
							<golfers-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Golfers Insurance')"></golfers-quotes>
							<travel-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Travel Insurance')"></travel-quotes>
							<marine-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'Marine Insurance')"></marine-quotes>
							<sme-quotes btn-txt="get free quotes" v-if="(profiles[0].insurance_type.name  == 'SME Insurance')"></sme-quotes>
						</form>
					</div>
					<!-- <div class="modal-footer">
						<button type="button" class="btn ghost-link">Cancel</button>
						<button type="button" class="btn ghost-link">Apply</button>
					</div> -->
				</div>

			</div>
		</modal> 
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Quotes",

  props: ["id"],

  mounted() {
    if (this.profiles.insurance_type) {
      this.$store.dispatch("getQuotesProviders").then(response => {
        this.$store.commit(
          "setProviders",
          response.data.data.profiles[0].providers
        );
      });
    } else {
      this.$store.dispatch("getQuote", this.id).then(response => {
        this.$store.commit("setProfiles", response.data.data.profiles);

        this.$store.dispatch("getQuotesProviders").then(r => {
          this.$store.commit("setProviders", r.data.data.profiles[0].providers);
        });
      });
    }
  },

  computed: {
    ...mapGetters({
      profiles: "profiles",
      showOptionalBenefitsDiv: "showOptionalBenefitsDiv",
      providers: "providers"
    })
  },

  methods: {
    toggleShowOptionalBenefitsDiv: function() {
      this.$store.commit(
        "setShowOptionalBenefitsDiv",
        !this.showOptionalBenefitsDiv
      );
    }
  }
};
</script>

<style scoped>

</style>
