<template>
    <div>
      <section class="breadcrumb">
        <div class="container">
          <div class="row">
            <ol class="breadcrumb">
              <li class="home-page"><a href="/"><img src="../../img/breadcrumb-home.png" alt="Home"></a></li>
              <li><a>{{title}}</a></li>
            </ol>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-responsive confirm no-bm">
                <tr>
                  <th>Insurance Type</th>
                  <th>Policy No.</th>
                  <th>Effective</th>
                  <th>Current Benefits</th>
                  <th>Action</th>
                </tr>
                <tr v-for="(policy, index) in policies" v-if="policy.profiles.length>0">
                  <td>{{policy.profiles[0].insurance_type.name}}</td>
                  <td>{{policy.policy_number}}</td>
                  <td>{{policy.expiration_date}}</td>
                  <td>{{policy.profiles[0].profile_status == "CANCELED" ? 'Cancel requested': policy.profiles[0].profile_status}}
                    <span v-if="policy.profiles[0].profile_status == 'CANCELED'" class="btn btn-default btn-small btn-transparent">revoke</span>
                    <br>
                    <span v-if="policy.profiles[0].profile_status == 'SUSPENDED'" class="suspend_period">{{ policy.profiles[0].suspend_period }}</span>
                  </td>
                  <td>
                    <button v-if="policy.profiles[0].profile_status != 'SUSPENDED'" @click="suspendPolicy(index)" class="btn btn-default btn-small" >Suspend</button>
                    <button v-else class="btn btn-default btn-small disabled">Suspend</button>
                    <button v-if="policy.profiles[0].profile_status != 'CANCELED'"  @click="cancelPolicy(index)" class="btn btn-default btn-small btn-transparent" >Cancel</button>
                    <button v-else class="btn btn-default btn-small btn-transparent disabled">Cancel</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </section>
      <modal name="suspend" class="modal-benefits" @before-open="beforeOpen" >
        <div class="modal-dialog">
          <div class="modal-content" v-if="current_policy_index">
            <div class="modal-body">
              <h4 class="modal-title text-center">Suspend policy No. {{ policies[current_policy_index].policy_number }}</h4>
              <form action="">
                <div class="form-group">
                  <label for="reason">Please specify the reason for suspension</label>
                  <textarea name="reason" class="form-control" id="reason" v-model="suspendData.reason"></textarea>
                </div>
                <div class="form-group">
                  <label>Period of suspension</label>
                  <div class="form-group col-12">
                    <div class="form-group form-inline col-xs-6">
                      <label>From </label>
                      <date-picker :date="suspendData.from" :option="datePicker" placeholder="Date of birth"></date-picker>
                    </div>
                    <div class="form-group form-inline col-xs-6">
                      <label>To </label>
                      <date-picker :date="suspendData.to" :option="datePicker" placeholder="Date of birth"></date-picker>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <div>
                <button type="button" class="btn ghost-link" @click="cancelModal('suspend')">CANCEL</button>
                <button type="button" class="btn btn-default btn-small" @click="suspend(current_policy_index)">SUSPEND POLICY</button>
              </div>
            </div>
          </div>
        </div>
      </modal>
      <modal name="cancel" class="modal-benefits" @before-open="beforeOpen" >
        <div class="modal-dialog">
          <div class="modal-content" v-if="current_policy_index">
            <div class="modal-body">
              <h4 class="modal-title text-center">Cancel policy No. {{ policies[current_policy_index].policy_number }}</h4>
              <form action="">
                <div class="form-group">
                  <label for="cancel_reason">Please specify the reason for cancel</label>
                  <textarea name="cancel_reason" class="form-control" id="cancel_reason"></textarea>
                </div>
                <div class="form-group">
                  <label>Cancel will take affect</label>
                  <div class="form-group col-12">
                    <div class="form-group form-inline col-xs-6">
                      <label>From</label>
                      <date-picker :date="cancelData.from" :option="datePicker" placeholder="Date of birth"></date-picker>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <div>
                <button type="button" class="btn ghost-link" @click="cancelModal('cancel')">CANCEL</button>
                <button type="button" class="btn btn-default btn-small" @click="cancel(current_policy_index)">CANCEL POLICY</button>
              </div>
            </div>
          </div>
        </div>
      </modal>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex'

    export default {
        name: "suspend",
      data () {
        return {
          title: 'Suspend or cancel policy',
          benefitsOffers: [],
          offerIds: [],
          suspend_period: "",
          current_policy_index: 0 ,
          suspendData: {reason:"", from:{
              time: '',
            }, to:{
              time: '',
            }},
          cancelData: {reason:"", from:{
              time: '',
            }},
          datePicker: {
            type: 'day',
            week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
            month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            format: 'DD-MM-YYYY',
            placeholder: 'Date of birth?',
            inputStyle: {
              'display': 'inline-block',
              'padding': '6px',
              'line-height': '22px',
              'font-size': '16px',
              'border': '2px solid #fff',
              'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
              'border-radius': '2px',
              'color': '#5F5F5F'
            },
            color: {
              header: '#ed1c24',
              headerText: '#fff'
            },
            buttons: {
              ok: 'Ok',
              cancel: 'Cancel'
            },
            overlayOpacity: 0.5, // 0.5 as default
            dismissible: true // as true as default
          },
        }
      },
      mounted () {
        this.$store.dispatch('getActivePolicies');
      },
      computed: {
        ...mapGetters({
          policies: 'policies',
          policy: 'policy'
        })
      },
      methods:{
        beforeOpen (event) {
          this.current_policy_index = event.params.index;
        },
        suspendPolicy:function(index) {
          this.current_policy_index = index;
          this.$modal.show('suspend', {index: index});
        },
        cancelPolicy:function(index) {
          this.current_policy_index = index;
          this.$modal.show('cancel', {index: index});
        },
        cancelModal: function(modal_type) {
          this.$modal.hide(modal_type);
        },
        suspend: function(i) {
          this.$store.dispatch('suspendPolicy', { id: this.policies[i].profiles[0].id, data: this.suspendData}).then((response) => {
            this.policies[i].profiles[0].profile_status = response.data.status;
            this.policies[i].profiles[0].suspend_period = response.data.suspend_period;
            this.cancelModal('suspend');
          });
        },
        cancel: function(i) {
          this.$store.dispatch('cancelPolicy', { id: this.policies[i].profiles[0].id, data: this.cancelData}).then((response) => {
            this.policies[i].profiles[0].profile_status = response.data.status;
            this.cancelModal('cancel');
          });
        }

      }
    }

</script>

<style scoped>

</style>
