<template>
  <div class="camera">
    <template v-if="!loading">
      <!-- image and file input -->
      <input type="file" accept="image/*" capture="user" id="image_input" class="form-control" @change="processFiles"> 
      <input type="file" id="file_input" class="form-control" @change="processFiles">
      <input type="file" accept="video/*" capture="camera" id="recorder" @change="processFiles">

      <!-- upload buttons -->
      <a href="#" class="circle-link hidden-lg hidden-md">
        <span class="icon-wrapper" id="add_image_files_button" @click.prevent="startCameraUpload">
          <i class="fa fa-camera"></i>
        </span>
      </a>
        
      <a href="#" class="circle-link" id="add_files_button" @click.prevent="startFile">
        <span class="icon-wrapper">
          <i class="fa fa-upload"></i>
        </span>
      </a>

      <a href="#" class="circle-link" id="add_video_files_button" @click.prevent="startVideoUpload">
        <span class="icon-wrapper">
          <i class="fa fa-video-camera"></i>
        </span>
      </a>
    </template>

    <template v-if="upload_complete">
      <span class="account-type-title">File Successfully uploaded</span>
    </template>
    <template v-if="loading">
      <span class="account-type-title">Loading....</span>
    </template>

    <!-- snap -->
    <!-- <video id="player" controls autoplay width=320 height=240></video>
    <button id="capture" @click.prevent="capture">Capture</button>
    <canvas id="canvas" width=320 height=240></canvas> -->

  </div>
</template> 
<script>
import { mapGetters } from "vuex";
export default {
  props: ["fileName"],
  data() {
    return {
      upload_complete: false,
      // policies: this.$lodash.cloneDeep(this.$store.state.policies)
    };
  },
  computed: {
    ...mapGetters({
      upload: "upload",
      loading: "loading",
      policies: "policies",
      upload_variable: "uploadVariable"
    })
  },
  methods: {
    processFiles(e) {
      var files = e.target.files || e.dataTransfer.files;
      this.upload.policy_id = this.policies[0].id;
      this.upload.profile_id = this.policies[0].profiles[0].id;

      this.upload.file_name = this.upload_variable;

      this.$store.commit('setUploadVariable', null);

      if (files[0].type.match(/^image\//)) {
        this.upload.file = files[0];
      } else if (files[0].type.match(/^video\//)) {
        this.upload.file = files[0];
      } else {
        this.upload.file = files[0];
      }

      if (this.upload.file !== null) {
        this.$store.dispatch("postFiles", this.upload);
        this.upload_complete = true;
        // output.src = URL.createObjectURL(file);
      }
    },

    startCameraUpload() {
      document.getElementById("image_input").click();

      this.$store.commit('setUploadVariable', this.fileName)
      this.upload_complete = false;
    },

    startFile() {
      document.getElementById("file_input").click();
      this.$store.commit("setUploadVariable", this.fileName);
      this.upload_complete = false;
    },

    startVideoUpload() {
      document.getElementById("recorder").click();
      this.$store.commit("setUploadVariable", this.fileName);
      this.upload_complete = false;
    },

    setupVideoCapture() {
      const player = document.getElementById("player");
      const canvas = document.getElementById("canvas");
      const context = canvas.getContext("2d");
      const captureButton = document.getElementById("capture");

      const constraints = {
        video: true
      };

      captureButton.addEventListener("click", e => {
        // Draw the video frame to the canvas.
        e.preventDefault();
        context.drawImage(player, 0, 0, canvas.width, canvas.height);
      });

      // Attach the video stream to the video element and autoplay.
      navigator.mediaDevices.getUserMedia(constraints).then(stream => {
        player.srcObject = stream;
      });
    }
  },
  mounted() {}
};
</script>
