<template>
  <section class="dashboard">
    <div class="container">
      <div class="liaison_style">
        <div v-for="row in this.$lodash.chunk(this.items, 3)">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" v-for="item in row">
              <div class="item-wrapper">
                <div class="item">
                  <a v-bind:href="item.url">
                    <span class="img-wrapper">
                      <img :src="item.image" alt="Start new application">
                      <span class="unread" v-if="item.unread > 0">{{item.unread}}</span>
                    </span>
                    <span class="item-name">{{item.name}}</span>
                    <span class="item-count">{{item.count}}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "User_dashboard",
  data() {
    return {
      items: [
        {
          url: "/get-free-quotes?referralcode=",
          name: "start new application",
          image: require("../../img/dashboard/start-new-application.png"),
          unread: 0,
          count: ""
        },
        // {
        //   url:'/add-benefits',
        //   name: 'Add benefit to your policy',
        //   image: require('../../img/dashboard/add-benefit-to-policy.png'),
        //   unread: 0,
        //   count: ''
        // },
        {
          url: "/active-policies",
          name: "current policies",
          image: require("../../img/dashboard/current-policies.png"),
          unread: 0,
          count: "2 policies"
        },
        {
          url: "/pending-applications",
          name: "pending aplications",
          image: require("../../img/dashboard/pending-applications.png"),
          unread: 0,
          count: "5 pending"
        },
        {
          url: "/notifications",
          name: "notifications",
          image: require("../../img/dashboard/notifications.png"),
          unread: 12,
          count: "55 total"
        },
        {
          url:
             this.loggedInUser && this.loggedInUser.referral_code
              ? "/agents/agent/" + this.loggedInUser.id
              : "/become-an-agent",
          name: "partner area",
          image: require("../../img/dashboard/partner-area.png"),
          unread: 0,
          count: ""
        },
        {
          url: "/profile",
          name: "your profile",
          image: require("../../img/dashboard/your-profile.png"),
          unread: 0,
          count: ""
        },
        {
          name: "your claims",
          image: require("../../img/dashboard/your-claims.png"),
          unread: 0,
          count: "0 pending"
        },
        {
          url: "/vehicle-accident-report",
          name: "Vehicle Accident Report",
          image: require("../../img/dashboard/vehicle-accident-report.png")
        }
        // {
        //   name: 'suspend or cancel policy',
        //   image: require('../../img/dashboard/suspend-or-cancel-policy.png'),
        //   unread: 0,
        //   count: '2 suspended'
        // }
      ]
    };
  },
  computed: {
    ...mapGetters({
      loggedInUser: "loggedInUser"
    })
  },
};
</script>

<style scoped>
.liaison_style {
  margin-top: 7rem;
}
</style>
