<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Vehicle Accident Report</h1>
					</div>
				</div>
			</div>
		</section>

		<section v-show="!confirmTable">
			<div class="container tight">
				<div class="row">
					<div class="col-md-12">                        
						<form>
                            <div class="bottom-border-block vehicles-list" >
								<div class="form-group">
                                    <label for="kpa_pin">Enter the vehicle registration number</label>
                                    <div class="form-inline form-horizontal">
                                        <input v-validate="'required'" ref="vehicle_registration_number" :class="{'input': true, 'is-danger': errors.has('Vehicle Registration Number') }" type="text" name="Vehicle Registration Number" id="registration_number" v-model="vehicle_registration_number" maxlength="32" :disabled="loading">
                                        <button type="submit" class="btn btn-default" :disabled="loading" autofocus @click.prevent="getVehicle(vehicle_registration_number)">{{ loading? 'loading...' : 'verify' }}</button>
                                        <span v-show="errors.has('Vehicle Registration Number')" class="help is-danger">{{ errors.first('Vehicle Registration Number') }}</span><br><br>
                                    </div>
                                </div>
							</div>  

                            <div class="bottom-border-block vehicles-list" v-if="vehicle.vehicle_registration_number">
								<div class="form-group">
                                    <label for="kpa_pin">Enter driver's national ID number</label>
                                    <div class="form-inline form-horizontal">
                                        <input v-validate="'required'" ref="driver_national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="national_id" v-model="driver_national_id" maxlength="32" :disabled="loading">
                                        <button type="submit" class="btn btn-default" :disabled="loading" autofocus @click.prevent="getBiometrics(driver_national_id)">{{ loading? 'loading...' : 'verify' }}</button>
                                        <span v-show="errors.has('National ID')" class="help is-danger">{{ errors.first('National ID') }}</span><br><br>
                                        <div class="national-id-title">Some explanation why National ID is necessary to specify</div>
                                    </div>
                                </div>
							</div>                        

                            <div class="bottom-border-block vehicles-list" v-if="driver.FULL_NAMES">
                                <div class="form-group">
									<label for="">When did the accident/incident occur?</label>
								</div>
                                <div class="form-group"> 
						             <div>                                                        
                                        <flat-pickr v-model="accident_datetime" :config="config"></flat-pickr>
                                    </div>
                                </div>

                                <div class="form-group">
									<label for="">Where did the accident/incident occur?</label>
								</div>
                                <div class="form-group">             
                                    <gmap-autocomplete
                                        @place_changed="setPlace">
                                    </gmap-autocomplete>
                                    </div>
                                    <br>
                                    <Gmap-Map style="width:100%; height:300px;" :zoom="17" 
                                    :center="{
                                        lat: this.place? this.place.geometry.location.lat() : 0, 
                                        lng: this.place? this.place.geometry.location.lng() : 0
                                    }">
                                    <Gmap-Marker
                                        v-if="this.place"
                                        :draggable="true"
                                         @dragend="accidentPositionChanged"
                                        :position="{
                                        lat: this.place.geometry.location.lat(),
                                        lng: this.place.geometry.location.lng(),
                                        }"
                                        ></Gmap-Marker>
                                    </Gmap-Map>
                                    <br/>
                            </div>

                            <div class="bottom-border-block vehicles-list" v-if="place">
                                  <div class="form-group">
									       <label for="">Were/are there any injuries involved in this accident?</label>
								    </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="injuries_incurred" value="none" v-model="injuries_incurred">
                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                    <span class="label-text">None</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="injuries_incurred" value="minor" v-model="injuries_incurred">
                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                    <span class="label-text">Minor</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="injuries_incurred" value="serious" v-model="injuries_incurred">
                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                    <span class="label-text">Serious</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="injuries_incurred" value="fatal" v-model="injuries_incurred">
                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                    <span class="label-text">Fatal</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <br/>
                                 <br/>

                            <div class="form-group">
									       <label for="">Can your vehicle safely move under its own power?</label>
								    </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="move_vehicle" value="yes" v-model="move_vehicle">
                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                    <span class="label-text">Yes</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="move_vehicle" value="no" v-model="move_vehicle">
                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                    <span class="label-text">No</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="move_vehicle" value="Notsure" v-model="move_vehicle">
                                                    <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                                    <span class="label-text">Not Sure</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div> 
                                    </div> 
                                </div>
                               
                            <div class="bottom-border-block vehicles-list" v-if="move_vehicle">
                                 <div class="form-group file-upload">
                                        <label for="">Upload a copy of your Images here</label>
                                        <upload></upload>
                                 </div>
                                 <div class="title" >
                                        <button type="button" class="btn btn-default" @click.prevent="confirmTable = true;" :disabled="loading">{{ loading? 'loading...' : ' continue' }}</button>
                                    </div>
                 
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</section>
          
 <section class="confirm-table" v-show="confirmTable"> 
                                    <br>
                                    <div class="container tight">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table confirm no-bm">
                                                    
                                                    <tr> 
                                                        <td colspan="2" width="50%">
                                                            <div class="count-new">Insured</div>
                                                            <div class="value">Insured</div>
                                                        </td>
                                                        
                                                        <td colspan="1">
                                                            <div class="count-new">Driver National ID Number</div>
                                                            <div class="value">{{!driver? 'N/A':driver_national_id}}</div>
                                                        </td>
                                                        
                                                        <td colspan="1">
                                                            <div class="count-new">Driver's Name</div>
                                                            <div class="value">{{!driver? 'N/A':driver.FULL_NAMES}}</div>
                                                        </td>
                                                        
                                                    </tr>

                                            
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="count-new">Policy Number</div>
                                                            <div class="value">Policy Number</div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" width="50%">
                                                            <div class="count-new">Phone Number</div>
                                                            <div class="value">Phone Number</div>
                                                        </td>
                                                        
                                                        <td colspan="2" >
                                                            <div class="count-new">Email</div>
                                                            <div class="value">Email</div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" width="50%" >
                                                            <div class="count-new">Vehicle Registration Number</div>
                                                            <div class="value">{{!vehicle?'N/A':vehicle_registration_number }}</div>
                                                        </td>

                                                        <td colspan="2">
                                                            <div class="count-new">Images Attached</div>
                                                            <div class="value">Images Attached</div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" width="50%">
                                                            <div class="count-new">Make</div>
                                                            <div class="value">{{!vehicle?'N/A': vehicle.vehicle_make_other}}</div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div class="count-new">Model</div>
                                                            <div class="value">{{!vehicle? 'N/A':vehicle.vehicle_model_other}}</div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th colspan="4">Accident Details:</th>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="count-new">Date</div>
                                                            <div class="value">{{accident_datetime}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="count-new">Location</div>
                                                            <div class="value">{{!place? 'N/A' : place.formatted_address}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" width="50%">
                                                            <div class="count-new">Injuries</div>
                                                            <div class="value">{{injuries_incurred}}</div>
                                                        </td>
                                                        <td colspan="2">
                                                            <div class="count-new">Vehicle ability to move</div>
                                                            <div class="value">{{move_vehicle}}</div>
                                                        </td>
                                                    </tr>
                                                </table>

                                                
                                            </div>
                                            </div>
                                            <br/>
                                            <div>
                                            <a href="#" class="circle-link" @click.prevent="confirmTable = false;">
                                                        <span class="icon-wrapper">
                                                            <i class="fa fa-pencil"></i>
                                                        </span>
                                                        <span class="link-text">Edit Claim details</span>
                                                    </a>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="title">
                                                    <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading' : 'submit claim form' }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
       
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Vehicle_accident_report",

  data() {
    return {
      vehicle_registration_number: null,
      driver_national_id: null,
      accident_datetime: null,
      config: {
        format: "d-m-Y h:i:s",
        enableTime: true
      },
      injuries_incurred: [],
      move_vehicle: null,
      confirmTable: false
    };
  },

  computed: {
    ...mapGetters({
      driver: "driver",
      loading: "loading",
      vehicle: "vehicle",
      place: "place"
    })
  },

  methods: {
    getVehicle: function(vehicleRegistrationNumber) {
      this.$store
        .dispatch("getVehicle", vehicleRegistrationNumber)
        .then(response => {
          this.$store.commit("setVehicle", response);
        });
    },

    updateDriver(field, value) {
      this.$store.commit("updateModel", {
        object: "driver",
        field: field,
        value: value
      });
    },

    getBiometrics: function(nId) {
      this.$store.dispatch("getBiometrics", nId).then(response => {
        this.$store.commit("setDriver", response);
      });
    },
    setPlace: function(place) {
      this.$store.commit("setPlace", place);
      if (this.place) {
        this.place.geometry.location.lat();
        this.place.geometry.location.lng();
        this.place.formatted_address;
      }
    },
    accidentPositionChanged: function(position) {}

    /*confirmTable(){
            console.log('confirm-table')
        }*/
  }
};
</script>

<style lang="scss">
.v--modal {
  height: auto !important;
  background-color: transparent !important;
  box-shadow: none !important;
  top: 30px !important;
}
</style>
