<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Addtional Information</h1>
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
                            <i class="glyphicon glyphicon-menu-right separator"></i>
                            <a href="#" class="link">Quotes</a>
                            <i class="glyphicon glyphicon-menu-right separator"></i>
                            <a href="#" class="link">Members Information</a>
                            <i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Additional Information</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container tight">
				<div class="row">
					<div class="col-md-12">
						<form>
							<div class="bottom-border-block">
								<!-- <div class="form-group">
									<label for="cover_start">When would you like your cover to start?</label>
									<div>
										<date-picker :date="date" :option="option"></date-picker>
									</div>
								</div> -->
								<coverageStartDate></coverageStartDate>

								<div class="form-group">
									<label for="contact_phone">Contact phone</label>
									<input type="text" name="contact phone" v-validate="'required'" class="form-control" v-model="policies[0].profiles[0].mobile_number" @blur="updatePolicyProfile(0, 0, 'mobile_number', policies[0].profiles[0].mobile_number)">
									<span v-show="errors.has('contact phone')" class="help is-danger">{{ errors.first('contact phone') }}</span>
								</div>
							</div>
                            
							<mailing></mailing>
							
							<div class="title">
								<a href="#" class="ghost-link" @click.prevent="back">Back</a>
								<a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>			

	</div>
</template>

<script>
	import {mapGetters} from 'vuex'

	export default {
		name: 'Funeral_secondary',

		data () {
            return {  
				// policies: this.$lodash.cloneDeep(this.$store.state.policies),

                date: {
					time: '',
				},

				option: {
					type: 'day',
					week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
					month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
					format: 'DD-MM-YYYY',
					placeholder: 'when?',
					inputStyle: {
						'display': 'inline-block',
						'padding': '6px',
						'line-height': '22px',
						'font-size': '16px',
						'border': '2px solid #fff',
						'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
						'border-radius': '2px',
						'color': '#5F5F5F'
					},
					color: {
						header: '#ed1c24',
						headerText: '#fff'
					},
					buttons: {
						ok: 'Ok',
						cancel: 'Cancel'
					},
					overlayOpacity: 0.5, // 0.5 as default
					dismissible: true // as true as default
				},				
            }
        },

		computed: {
			...mapGetters({				             
				loading: 'loading',              
				locations: 'locations',              
				policies: 'policies',              
			})
		},

		watch: {
            'date.time': function (val, oldVal) {				
				this.$store.commit('updatePolicyProfile', {
					policyIndex: 0,
					profileIndex: 0,
					field: 'coverage_start_date',
					value: val,
				})
			}
		},

		mounted() {
            this.$store.dispatch('getLocations');
        },
			
		methods: {
			back: function() {
				this.$router.push(
					'/policies/'+
					this.policies[0].id+
					'/profiles/'+this.policies[0].profiles[0].id+'/'
					+this.policies[0].profiles[0].sections.previous_section
				)
			},
			
			updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
				this.$store.commit('updatePolicyProfile', {policyIndex, profileIndex, field, value});
			},
            
            submit: function() {
				this.$validator.validateAll().then((result) => {                    
                    if (result) {                                   
						this.$store.dispatch('postPolicySync').then((response) => {
							this.$router.push('/policies/'+response.data.policies[0].id+'/profiles/'+response.data.policies[0].profiles[0].id+'/'+response.data.policies[0].profiles[0].sections.next_section);
						});
                    }
                });
			}
		}
	}
</script>

<style lang="scss">
	.v--modal {
		height: auto !important;
		background-color: transparent !important;
		box-shadow: none !important;
		top: 30px !important;
	}
</style>
