<template>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="bottom-border-block">
                    <div class="form-group">
                        <label ref="vehicle_selected">Select a cover type</label>
                        <select v-model="profiles[0].cover_type" @change="updateProfiles('cover_type', profiles[0].cover_type)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('cover type') }" name="cover type">
                          
                        <option v-for="coverType in coverTypes" :value="transform(coverType)" :key="coverType.id">{{ coverType.name }}</option>

                        </select>
                        <span v-show="errors.has('cover type')" class="help is-danger">{{ errors.first('cover type') }}</span>
                    </div> 
                    
                    <!--
                        cover_type : 'Third party fire and theft' || 'Comprehensive' 
                    -->                
                    <div class="form-group" v-if="(profiles[0].cover_type != null && (profiles[0].cover_type.name == 'Comprehensive' || profiles[0].cover_type.name == 'Third party fire and theft' ))">             
                        <label for="vehicle_valuation">Vehicle's estimated value</label>

                        <input v-validate="'required'" v-model="sum_insured" class="form-control" placeholder="valuation" :disabled="loading" v-on:focus="selectAll" @input="updateProfiles('sum_insured_on_vehicle', sum_insured)" name="vehicle valuation">
                        								
                        <span v-show="errors.has('vehicle valuation')" class="help is-danger">{{ errors.first('vehicle valuation') }}</span>
                    </div>

                    <div class="form-group">
                        <label for="agent_code">Use of vehicle</label>
                        <select v-model="profiles[0].vehicle_use" @change="updateProfiles('vehicle_use', profiles[0].vehicle_use)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('vehicle use') }" name="vehicle use">                                                                            
                            <option v-for="vehicleUse in vehicleUses"  :value="transformVehicleUse(vehicleUse)" :key="vehicleUse.id">{{ vehicleUse.name }}</option>
                        </select>
                        <span v-show="errors.has('vehicle use')" class="help is-danger">{{ errors.first('vehicle use') }}</span>
                    </div> 
                        
                    <!-- 
                        vehicle_use : 'PSV (Non - Yellow Line) - Self Drive' || 'Institutional Vehicles'
                    -->                                
                    <div class="form-group" v-if="(profiles[0].vehicle_use != null && (profiles[0].vehicle_use.name == 'PSV (Non - Yellow Line) - Self Drive' || profiles[0].vehicle_use.name == 'Institutional Vehicles' ))">
                        <label for="vehicle_seating_capacity">Vehicle's seating capacity</label>
                        <input v-validate="'required'" placeholder="seats" v-model="profiles[0].vehicle_seating_capacity" class="form-control" @blur="updateProfiles('vehicle_seating_capacity', profiles[0].vehicle_seating_capacity)" :class="{'input': true, 'is-danger': errors.has('vehicle seating capacity') }" name="vehicle seating capacity">								
                        <span v-show="errors.has('vehicle seating capacity')" class="help is-danger">{{ errors.first('vehicle seating capacity') }}</span>
                    </div>
                    
                    <!-- 
                        vehicle_use : 'CV Own Goods' || 'General Cartage'
                    -->                
                    <div class="form-group" v-if="(profiles[0].vehicle_use != null && (profiles[0].vehicle_use.name == 'CV Own Goods' || profiles[0].vehicle_use.name == 'General Cartage' ))">
                        <label for="vehicle_tare_weight">Vehicle's tare weight</label>
                        <input v-validate="'required'" id="vehicle_tare_weight" v-model="profiles[0].tare_weight" class="form-control" @blur="updateProfiles('tare_weight', profiles[0].tare_weight)" placeholder="tare weight in tons" :class="{'input': true, 'is-danger': errors.has('vehicle tare weight') }" name="vehicle tare weight">								
                        <span v-show="errors.has('vehicle tare weight')" class="help is-danger">{{ errors.first('vehicle tare weight') }}</span>
                    </div>                                     

                    <div class="form-group">
                        <label for="vehicle_year_of_manufacture">Vehicle's year of manufacture </label>
                        <select v-model="profiles[0].year_of_manufacture" @change="updateProfiles('vehicle_year_of_manufacture',  profiles[0].year_of_manufacture)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('vehicle year of manufacture') }" name="vehicle year of manufacture">                                                                            
                            <option v-for="year in years" :value="year" :key="year">{{ year }}</option>
                        </select>
                        <span v-show="errors.has('vehicle year of manufacture')" class="help is-danger">{{ errors.first('vehicle year of manufacture') }}</span>
                    </div>

                    <br>
                    <div class="form-group text-center">                    
                        <button class="btn btn-default" @click.prevent="getQuotes" :disabled="loading">{{ !loading? 'get free quotes' : 'loading...' }}</button>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Vehicle_quotes",

  data() {
    return {
      sum_insured: 0
    };
  },
  computed: {
    ...mapGetters({
      coverTypes: "coverTypes",
      vehicleUses: "vehicleUses",
      years: "years",
      loading: "loading",
      profiles: "profiles"
    })
  },
  watch: {
    sum_insured(newValue) {
      const result = newValue
        .replace(/\D/g, "")
        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      this.$nextTick(() => (this.sum_insured = result));
    }
  },
  mounted() {
    this.$store.dispatch("getCoverTypes");
    this.$store.dispatch("getVehicleUses");
    this.$store.commit("setYears");
    this.updateProfiles("current_section", "quotes");

    this.$refs.vehicle_selected.focus();

    let center = $(window).height() / 2;
    let top = $(this.$refs.vehicle_selected).offset().top;

    if (top > center) {
      $(window).scrollTop(top - center);
    }
  },
  methods: {
    transformCoverType: function(coverType) {
      return { id: coverType.id, name: coverType.name };
    },

    transformVehicleUse: function(vehicleUse) {
      return { id: vehicleUse.id, name: vehicleUse.name };
    },

    transform:function(object){
      return {id: object.id, name: object.name};
    },

    selectAll(event) {
      setTimeout(function() {
        event.target.select();
      }, 0);
    },

    updateProfiles: function(field, value) {
      if (field === "sum_insured_on_vehicle") {
        let val = value.replace(",", "").replace(",", "");
        value = val;
      }

      for (
        let profileIndex = 0;
        profileIndex < this.profiles.length;
        profileIndex++
      ) {
        this.updateProfile(profileIndex, field, value);
      }
    },
    updateProfile: function(profileIndex, field, value) {
      this.$store.commit("updateProfiles", { profileIndex, field, value });
    },
    getQuotes: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postQuotesStore").then(response => {
            this.$store.commit("setProfiles", response.data.data.profiles);
            this.$router.push("/quotes/" + response.data.data.quote.id);
          });
        }
      });
    }
  }
};
</script>


<style scoped>

</style>
