<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{title}}</h1>
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Specify vehicle</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Additional Information</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container tight">
				<div class="row">
					<div class="col-md-12">
						<form>
							<div class="bottom-border-block">
								<!-- <div class="form-group">
									<label for="cover_start">When would you like your cover to start?</label>
									<div>
                    <flat-pickr v-model="policies[0].profiles[0].coverage_start_date" @input="updatePolicyProfile(0, 0, 'coverage_start_date', policies[0].profiles[0].coverage_start_date)" :config="config" v-validate="{required:true}" name="coverage start date" :class="{'input': true, 'is-danger': errors.has('coverage start date') }"></flat-pickr>

                    <span v-show="errors.has('coverage start date')" class="help is-danger">{{ errors.first('coverage start date') }}</span>
                  </div>

                    <br>
                    
                </div>	 -->

								 <coverageStartDate ref="widget-cal"></coverageStartDate>
							</div>
                          
						  <mailing ref="widget-form"></mailing>

							<div class="title">
								<a href="#" class="ghost-link" @click.prevent="back">Back</a>
								<a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading' : 'continue' }}</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>			

	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Vehicle_secondary",

  data() {
    return {
      title: "Addtional Information",

      config: {
        altFormat: "M	j, Y",
        dateFormat: "d-m-Y"
      }
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      policies: "policies"
    })
  },

  watch: {
    "date.time": function(val, oldVal) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex: 0,
        profileIndex: 0,
        field: "coverage_start_date",
        value: val
      });
    }
  },

  mounted() {
    this.$store.dispatch("getLocations");
      //Emit that validation is required on the bus
      this.$on('veeValidate', () => {
        this.$emit('veeValidate');
      });

  },

  methods: {
    back: function() {
      this.$router.push(
        '/policies/'+
        this.policies[0].id+
        '/profiles/'+this.policies[0].profiles[0].id+'/'
        +this.policies[0].profiles[0].sections.previous_section
      )
    },

    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    submit: function() {

      const promises = [];
      promises.push(this.$validator.validateAll());
      // ref `widget-form` can be not rendered, so we resolve `false` by default
      promises.push(this.$refs['widget-form'] ? this.$refs['widget-form'].$validator.validateAll() : Promise.resolve(false));
      
      promises.push(this.$refs['widget-cal'] ? this.$refs['widget-cal'].$validator.validateAll() : Promise.resolve(false));

      Promise.all(promises).then(validations => {
        // If one validation has failed, we stop here
        if (validations.some(validation => validation === false)) return;

        this.$store.dispatch("postPolicySync").then(response => {
              this.$router.push(
                "/policies/" +
                  response.data.data.policies[0].id +
                  "/profiles/" +
                  response.data.data.policies[0].profiles[0].id +
                  "/" +
                  response.data.data.policies[0].profiles[0].sections.next_section
              );
          });
      });
    }
  }
};
</script>

<style lang="scss">
.v--modal {
  height: auto !important;
  background-color: transparent !important;
  box-shadow: none !important;
  top: 30px !important;
}
</style>
