<template>
	<div>
		<section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Specify Vehicle</h1>
						
						
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Specify vehicle</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container tight">
				<div class="row">
					<div class="col-md-12">
						<div class="bottom-border-block">
							<form>
								<div class="form-group">
									<label for="national_id">Enter your National ID number</label>
									<div class="form-inline form-horizontal">
										<input :disabled="loading" ref="national_id" :class="{'input': true, 'is-danger': errors.has('National ID') }" type="text" name="National ID" id="national_id"  :value="('x'.repeat((policies[0].profiles[0].national_id).length - 4) + (policies[0].profiles[0].national_id).substr((policies[0].profiles[0].national_id).length - 4, (policies[0].profiles[0].national_id).length))" disabled>
									</div>
								</div>

								<div class="form-group">
									<label for="kpa_pin">Enter the vehicle registration number</label>
									<div class="form-inline form-horizontal">
										<input v-validate="'required'" :disabled="loading" @input="updatePolicyProfile(0, 0, 'registration_number', policies[0].profiles[0].registration_number = $event.target.value.toUpperCase().replace(' ', ''))" ref="registration_number" :class="{'input': true, 'is-danger': errors.has('Vehicle Registration Number') }" type="text" name="Vehicle Registration Number" id="registration_number" v-model="policies[0].profiles[0].registration_number" maxlength="32">
										<span v-show="errors.has('Vehicle Registration Number')" class="help is-danger">{{ errors.first('Vehicle Registration Number') }}</span><br><br>
									</div>
								</div>

								<div class="form-group" v-show="show_kra_pin_input">
									<label for="kpa_pin">Enter your KRA PIN Number</label>
									<div class="form-inline form-horizontal">
										<input v-validate="'required'" :disabled="loading" @input="updatePolicyProfile(0, 0, 'personal_identification_number', policies[0].profiles[0].personal_identification_number)" ref="personal_identification_number" :class="{'input': true, 'is-danger': errors.has('Personal Identification Number') }" type="text" name="Personal Identification Number" id="personal_identification_number" v-model="policies[0].profiles[0].personal_identification_number" maxlength="32">
										<span v-show="errors.has('Personal Identification Number')" class="help is-danger">{{ errors.first('Personal Identification Number') }}</span><br><br>
									</div>
								</div>
							</form>
						</div>

						<div class="title">
							<a href="#" class="ghost-link" @click.prevent="back">Back</a>
							<a href="#" class="btn btn-default large-btn" @click.prevent="getVehicle" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Vehicle_primary",

  data() {
    return {
      radio_button_status: null,
      log_show: false,
      log_button: true,
      custom_show: false,
      custom_button: true,
      transfer_show: false,
      // policies: this.$lodash.cloneDeep(this.$store.state.policies),
      show_kra_pin_input: false
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      policies: "policies",
      profiles: "profiles"
    })
  },

  methods: {
    getVehicle: function() {
      this.$store.dispatch("postPolicySync").then(r => {
        if (
          this.policies[0].profiles[0].personal_identification_number &&
          this.policies[0].profiles[0].registration_number
        ) {
          this.$store
            .dispatch("getVehicleByKRAPINAndNationalId", {
              KRAPIN: this.policies[0].profiles[0]
                .personal_identification_number,
              vehicleRegistrationNumber: this.policies[0].profiles[0]
                .registration_number
            })
            .then(res => {
              this.$router.push(
                "/policies/" +
                  r.data.data.policies[0].id +
                  "/profiles/" +
                  r.data.data.policies[0].profiles[0].id +
                  "/" +
                  r.data.data.policies[0].profiles[0].sections.next_section
              );

              this.$store.commit("updatePolicyProfile", {
                policyIndex: 0,
                profileIndex: 0,
                field: "current_section",
                value: r.data.data.policies[0].profiles[0].sections.next_section
              });

              this.$store.dispatch("postPolicySync");
            });
        } else {
          this.$store
            .dispatch(
              "getKRAPINByNationalID",
              this.policies[0].profiles[0].national_id
            )
            .then(response => {
              if (
                response.data == "" ||
                response.data.Details == "Record not found"
              ) {
                this.show_kra_pin_input = true;
              } else {
                this.updatePolicyProfile(
                  0,
                  0,
                  "personal_identification_number",
                  response.data[2]
                );

                this.$store.dispatch("postPolicySync").then(response => {
                  this.$store
                    .dispatch("getVehicleByKRAPINAndNationalId", {
                      KRAPIN: this.policies[0].profiles[0]
                        .personal_identification_number,
                      vehicleRegistrationNumber: this.policies[0].profiles[0]
                        .registration_number
                    })
                    .then(response => {
                      this.$router.push(
                        "/policies/" +
                          r.data.data.policies[0].id +
                          "/profiles/" +
                          r.data.data.policies[0].profiles[0].id +
                          "/" +
                          r.data.data.policies[0].profiles[0].sections
                            .next_section
                      );

                      this.$store.commit("updatePolicyProfile", {
                        policyIndex: 0,
                        profileIndex: 0,
                        field: "current_section",
                        value:
                          r.data.data.policies[0].profiles[0].sections
                            .next_section
                      });

                      this.$store.dispatch("postPolicySync");
                    });
                });
              }
            });
        }
      });
    },

    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    back: function() {
      
    },

    submit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postPolicySync").then(response => {
            this.$router.push(
              "/policies/" +
                response.data.data.policies[0].id +
                "/profiles/" +
                response.data.data.policies[0].profiles[0].id +
                "/" +
                response.data.data.policies[0].profiles[0].sections.next_section
            );

            this.$store.commit("updatePolicyProfile", {
              policyIndex: 0,
              profileIndex: 0,
              field: "current_section",
              value:
                response.data.data.policies[0].profiles[0].sections.next_section
            });

            this.$store.dispatch("postPolicySync");
          });
        }
      });
    }
  }
};
</script>

<style lang="scss">
.v--modal {
  height: auto !important;
  background-color: transparent !important;
  box-shadow: none !important;
  top: 30px !important;
}
</style>
