<template>
  <div>
    <section class="parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Shipment Details</h1>
						
						<div class="parallax-breadcrumbs hidden-sm hidden-xs">
							<a href="#" class="link">Get free quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Quotes</a>
							<i class="glyphicon glyphicon-menu-right separator"></i>
							<a href="#" class="link">Principal Details</a>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section>
			<div class="container tight">
				<div class="row">        
					<div class="col-md-12">
            <form>
              <div class="bottom-border-block">
                <div class="form-group">
                  <label for="kpa_pin">Enter your KRA PIN number</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'personal_identification_number', policies[0].profiles[0].personal_identification_number)" ref="kra_pin" :class="{'input': true, 'is-danger': errors.has('kra pin') }" type="text" name="kra pin" id="personal_identification_number" v-model="policies[0].profiles[0].personal_identification_number" maxlength="32">
                    <span v-show="errors.has('kra pin')" class="help is-danger">{{ errors.first('kra pin') }}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="">Detail Description of goods as per invoice</label>                
                  <textarea v-validate="'required'" class="form-control" name="goods as per invoice"  v-model="policies[0].profiles[0].goods_as_per_invoice" @blur="updatePolicyProfile(0, 0, 'goods_as_per_invoice', policies[0].profiles[0].goods_as_per_invoice)"></textarea>      
                  <span class="desctiption pull-right">Name of the goods, make, quantity</span>          
                  <span v-show="errors.has('goods as per invoice')" class="help is-danger">{{ errors.first('goods as per invoice') }}</span>
                </div> 

                <div class="form-group">
                  <label for="">Origin port</label>                
                  <input type="text"v-validate="'required'" class="form-control" name="origin port"  v-model="policies[0].profiles[0].origin_port" @blur="updatePolicyProfile(0, 0, 'origin_port', policies[0].profiles[0].origin_port)">                
                  <span v-show="errors.has('origin port')" class="help is-danger">{{ errors.first('origin port') }}</span>
                </div>  
                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="county">Origin county</label>
                      
                    <select id="county" @change="updatePolicyProfile(0, 0, 'origin_country_id', policies[0].profiles[0].origin_country_id)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('county') }" name="county" v-model="policies[0].profiles[0].origin_country_id">                                
                      <option v-for="location in locations" :value="location">{{ location.name }}</option>
                    </select>
                    <span v-show="errors.has('county')" class="help is-danger">{{ errors.first('county') }}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="">Destination Port</label>                
                  <input type="text"v-validate="'required'" class="form-control" name="destination port"  v-model="policies[0].profiles[0].destination_port" @blur="updatePolicyProfile(0, 0, 'destination_port', policies[0].profiles[0].destination_port)">                
                  <span v-show="errors.has('destination port')" class="help is-danger">{{ errors.first('destination port') }}</span>
                </div>  
                
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="county">Destination county</label>
                      
                    <select id="county" @change="updatePolicyProfile(0, 0, 'destination_country_id', policies[0].profiles[0].destination_country_id)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('county') }" name="county" v-model="policies[0].profiles[0].destination_country_id">                                
                      <option v-for="location in locations" :value="location">{{ location.name }}</option>
                    </select>
                    <span v-show="errors.has('county')" class="help is-danger">{{ errors.first('county') }}</span>
                  </div>
                </div>
                 
                <div class="form-group">
                  <label for="">Transshipment</label>                
                  <input type="text"v-validate="'required'" class="form-control" name="transshipment"  v-model="policies[0].profiles[0].transshipment" @blur="updatePolicyProfile(0, 0, 'transshipment', policies[0].profiles[0].transshipment)">                
                  <span v-show="errors.has('transshipment')" class="help is-danger">{{ errors.first('transshipment') }}</span>
                </div>  

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="cover_start">Expected Shipping Date</label>
                          <div>
                            <date-picker :date="date" :option="option"></date-picker>
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Commercial Invoice or Ref No.</label>                
                          <input type="text"v-validate="'required'" class="form-control" name="Commercial Invoice or Ref No."  v-model="policies[0].profiles[0].commercial_invoice_ref_no" @blur="updatePolicyProfile(0, 0, 'commercial_invoice_ref_no', policies[0].profiles[0].commercial_invoice_ref_no)">                
                          <span v-show="errors.has('Commercial Invoice or Ref No.')" class="help is-danger">{{ errors.first('Commercial Invoice or Ref No.') }}</span>                    
                        </div>
                    </div>
                </div>

                <div class="form-group file-upload">
									<label for="">Upload a copy of commential invoice</label>
									<a href="#" class="circle-link hidden-lg hidden-md">
										<span class="icon-wrapper">
											<i class="fa fa-camera"></i>
										</span>
									</a>
									<a href="#" class="circle-link">
										<span class="icon-wrapper">
											<i class="fa fa-upload"></i>
										</span>
									</a>
									<input type="file" class="">
									<span class="account-type-title">Successfully uploaded</span>
								</div>
              </div>


              <div class="title">
                <a href="#" class="ghost-link" @click.prevent="back">Back</a>
                <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading...' : 'continue' }}</a>
              </div>
            </form>
					</div>
				</div>
			</div>
    </section>    
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Marine_primary",

  data() {
    return {
      // policies: this.$lodash.cloneDeep(this.$store.state.policies),
      date: {
        time: ""
      },
      option: {
        type: "day",
        week: ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
        month: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"
        ],
        format: "DD-MM-YYYY",
        placeholder: "Select Date?",
        inputStyle: {
          display: "inline-block",
          padding: "6px",
          "line-height": "22px",
          "font-size": "16px",
          border: "2px solid #fff",
          "box-shadow": "0 1px 3px 0 rgba(0, 0, 0, 0.2)",
          "border-radius": "2px",
          color: "#5F5F5F"
        },
        color: {
          header: "#ed1c24",
          headerText: "#fff"
        },
        buttons: {
          ok: "Ok",
          cancel: "Cancel"
        },
        overlayOpacity: 0.5, // 0.5 as default
        dismissible: true // as true as default
      }
    };
  },

  computed: {
    ...mapGetters({
      loading: "loading",
      locations: "locations",
      policies: "policies",
    })
  },

  watch: {
    "date.time": function(val, oldVal) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex: 0,
        profileIndex: 0,
        field: "expected_shipping_date",
        value: val
      });
    }
  },

  mounted() {
    this.$store.dispatch("getLocations");
  },

  methods: {
    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },

    submit: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postPolicySync").then(response => {
            this.$router.push(
              "/policies/" +
                response.data.data.policies[0].id +
                "/profiles/" +
                response.data.data.policies[0].profiles[0].id +
                "/" +
                response.data.data.policies[0].profiles[0].sections.next_section
            );

            this.$store.commit("updatePolicyProfile", {
              policyIndex: 0,
              profileIndex: 0,
              field: "current_section",
              value: response.data.data.policies[0].profiles[0].sections.next_section
            });

            this.$store.dispatch("postPolicySync");
          });
        }
      });
    }
  }
};
</script>
<style scope>
.disable_option {
  color: #ccc;
}
</style>