<template>
    <div class="row">
        <div class="col-md-12">
            <form>               
                <div class="bottom-border-block">
                    <div class="form-group">
                        <label ref="marine_selected">Select a cargo category</label>
                        <select v-model="profiles[0].cargo_type" @change="updateProfiles('cargo_type', profiles[0].cargo_type)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('cargo type') }" name="cargo type">                                                                                
                            <option v-for="cargoType in cargoTypes"  :value="transformCargoType(cargoType)" :key="cargoType.id">{{ cargoType.name }}</option>
                        </select>
                        <span v-show="errors.has('cargo type')" class="help is-danger">{{ errors.first('cargo type') }}</span>
                    </div>
                    
                    <div class="form-group">
                        <label for="">Select a shipping mode</label>
                        <select v-model="profiles[0].transport_type" @change="updateProfiles('transport_type', profiles[0].transport_type)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('shipping mode') }" name="shipping mode">                                                                                
                            <option v-for="transportType in transportTypes"  :value="transformTransportType(transportType)" :key="transportType.id">{{ transportType.name }}</option>
                        </select>
                        <span v-show="errors.has('shipping mode')" class="help is-danger">{{ errors.first('shipping mode') }}</span>
                    </div>

                    <div class="form-group">
                        <label for="">Select a packaging type</label>
                        <select v-model="profiles[0].packaging_type" @change="updateProfiles('packaging_type', profiles[0].packaging_type)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('packaging type') }" name="packaging type">                                                                                
                            <option v-for="packagingType in packagingTypes"  :value="transformPackagingType(packagingType)" :key="packagingType.id">{{ packagingType.name }}</option>
                        </select>
                        <span v-show="errors.has('packaging type')" class="help is-danger">{{ errors.first('packaging type') }}</span>
                    </div>

                    <div class="form-group">             
                        <label for="">Sum insured, KES</label>
                        <input v-validate="'required'" v-model="profiles[0].sum_insured_on_marine" class="form-control" @blur="updateProfiles('sum_insured_on_marine', profiles[0].sum_insured_on_marine)" placeholder="valuation"  name="sum insured on marine">								
                        <span v-show="errors.has('sum insured on marine')" class="help is-danger">{{ errors.first('sum insured on marine') }}</span>
                    </div>
                </div>                
                
                <br>
                <div class="form-group text-center">                    
                    <button class="btn btn-default" @click.prevent="getQuotes" :disabled="loading">{{ !loading? 'get free quotes' : 'loading...' }}</button>
                </div>
            </form>
        </div>
    </div>                 
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Marine_quotes",

  props: ["btn-txt"],

  computed: {
    ...mapGetters({
      loading: "loading",
      profiles: "profiles",
      cargoTypes: "cargoTypes",
      transportTypes: "transportTypes",
      packagingTypes: "packagingTypes"
    })
  },

  mounted() {
    this.$store.dispatch("getCargoTypes");
    this.$store.dispatch("getTransportTypes");
    this.$store.dispatch("getPackagingTypes");

    this.$refs.marine_selected.focus();

    let center = $(window).height() / 2;
    let top = $(this.$refs.marine_selected).offset().top;

    if (top > center) {
      $(window).scrollTop(top - center);
    }
  },

  methods: {
    transformCargoType: function(cargoType) {
      return { id: cargoType.id, name: cargoType.name };
    },
    transformTransportType: function(transportType) {
      return { id: transportType.id, name: transportType.name };
    },
    transformPackagingType: function(packagingType) {
      return { id: packagingType.id, name: packagingType.name };
    },

    updateProfiles: function(field, value) {
      for (
        let profileIndex = 0;
        profileIndex < this.profiles.length;
        profileIndex++
      ) {
        this.updateProfile(profileIndex, field, value);
      }
    },

    updateProfile: function(profileIndex, field, value) {
      this.$store.commit("updateProfiles", { profileIndex, field, value });
    },

    getQuotes: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postQuotesStore").then(response => {
            this.$store.commit("setProfiles", response.data.data.profiles);
            this.$router.push("/quotes/" + response.data.data.quote.id);
          });
        }
      });
    }
  }
};
</script>

<style scoped>
.checkbox label {
  width: 100%;
}

.checkbox .label-text {
  width: 80%;
  line-height: 1.9em;
}
</style>
