<template>
  <div>
    <section class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Sme Details</h1>

            <div class="parallax-breadcrumbs hidden-sm hidden-xs">
              <a href="#" class="link">Get free quotes</a>
              <i class="glyphicon glyphicon-menu-right separator"></i>
              <a href="#" class="link">Quotes</a>
              <i class="glyphicon glyphicon-menu-right separator"></i>
              <a href="#" class="link">Company details</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container tight">
        <div class="row">
          <div class="col-md-12">
            <div class="bottom-border-block col-md-12">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="sme_company_name">Company name</label>
                  <input type="text" name="company" id="sme_company_name" data-vv-as="Company name" class="form-control" :class="{'input': true, 'is-danger': errors.has('company') }" v-validate="'required'" v-model="policies[0].profiles[0].company" @blur="updatePolicyProfile(0, 0, 'company', policies[0].profiles[0].company)" >
                  <span v-show="errors.has('company')" class="help is-danger">{{ errors.first('sme_company_name') }}</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="sme_kra_pin">KRA PIN</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'personal_identification_number', policies[0].profiles[0].personal_identification_number)" ref="personal_identification_number" :class="{'input': true, 'is-danger': errors.has('personal_identification_number') }" type="text" name="personal_identification_number" id="personal_identification_number" data-vv-as="KRA PIN" v-model="policies[0].profiles[0].personal_identification_number" maxlength="32">
                    <span v-show="errors.has('personal_identification_number')" class="help is-danger">{{ errors.first('personal_identification_number') }}</span><br><br>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mobile_number">Phone</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'mobile_number', policies[0].profiles[0].mobile_number)" ref="mobile_number" :class="{'input': true, 'is-danger': errors.has('mobile_number') }" type="text" name="mobile_number" id="mobile_number" data-vv-as="Phone" v-model="policies[0].profiles[0].mobile_number" maxlength="32">
                    <span v-show="errors.has('mobile_number')" class="help is-danger">{{ errors.first('mobile_number') }}</span><br><br>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'email', policies[0].profiles[0].email)" ref="email" :class="{'input': true, 'is-danger': errors.has('email') }" type="text" name="email" id="email" data-vv-as="Email" v-model="policies[0].profiles[0].email" maxlength="32">
                    <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span><br><br>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="contact_person">Contact person</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'contact_person', policies[0].profiles[0].contact_person)" ref="contact_person" :class="{'input': true, 'is-danger': errors.has('contact_person') }" type="text" name="contact_person" id="contact_person" data-vv-as="Contact person" v-model="policies[0].profiles[0].contact_person" maxlength="32">
                    <span v-show="errors.has('contact_person')" class="help is-danger">{{ errors.first('contact_person') }}</span><br><br>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Upload certificate of registration</label>
                    <a href="#" class="circle-link hidden-md">
										<span class="icon-wrapper">
											<i class="fa fa-camera"></i>
										</span>
                    </a>
                    <a href="#" class="circle-link">
										<span class="icon-wrapper">
											<i class="fa fa-upload"></i>
										</span>
                    </a>
                    <!--<input type="file" class="">
                    <span class="account-type-title">Successfully uploaded</span>-->
                </div>
              </div>
            </div>
            <div class="bottom-border-block col-md-12">
              <div class="title">Office address</div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="office_location_id">County</label>
                  <select  name="office_location_id" id="office_location_id" data-vv-as="Country" @change="updatePolicyProfile(0, 0, 'office_location_id', policies[0].profiles[0].office_location_id)" v-validate="'required'" class="form-control" :class="{'input': true, 'is-danger': errors.has('office_location_id') }" v-model="policies[0].profiles[0].office_location_id">
                    <option v-for="location in locations" :value="location">{{ location.name }}</option>
                  </select>
                  <span v-show="errors.has('office_location')" class="help is-danger">{{ errors.first('office_location') }}</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="estate_area">Estate / Area</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'estate_area', policies[0].profiles[0].estate_area)" ref="estate_area" :class="{'input': true, 'is-danger': errors.has('estate_area') }" type="text" name="estate_area" id="estate_area" data-vv-as="Estate / Area" v-model="policies[0].profiles[0].estate_area" maxlength="32">
                    <span v-show="errors.has('estate_area')" class="help is-danger">{{ errors.first('estate_area') }}</span><br><br>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="road_street">Road / Street</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'road_street', policies[0].profiles[0].road_street)" ref="road_street" :class="{'input': true, 'is-danger': errors.has('road_street') }" type="text" name="road_street" id="road_street" data-vv-as="Road / Street" v-model="policies[0].profiles[0].road_street" maxlength="32">
                    <span v-show="errors.has('road_street')" class="help is-danger">{{ errors.first('sme_road_street') }}</span><br><br>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="building_number">Building / Block No</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'building_number', policies[0].profiles[0].building_number)" ref="building_number" :class="{'input': true, 'is-danger': errors.has('building_number') }" type="text" name="building_number" id="building_number" data-vv-as="Building / Block No" v-model="policies[0].profiles[0].building_number" maxlength="32">
                    <span v-show="errors.has('building_number')" class="help is-danger">{{ errors.first('building_number') }}</span><br><br>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="building_name">Office</label>
                  <div class="form-inline form-horizontal">
                    <input v-validate="'required'" :disabled="loading" @blur="updatePolicyProfile(0, 0, 'building_name', policies[0].profiles[0].building_name)" ref="building_name" :class="{'input': true, 'is-danger': errors.has('building_name') }" type="text" name="building_name" id="building_name" data-vv-as="Office" v-model="policies[0].profiles[0].building_name" maxlength="32">
                    <span v-show="errors.has('building_name')" class="help is-danger">{{ errors.first('building_name') }}</span><br><br>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="title">
                <a href="#" class="ghost-link" @click.prevent="back">Back</a>
                <a href="#" class="btn btn-default large-btn" @click.prevent="submit" :disabled="loading">{{ loading? 'loading' : 'continue' }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Sme_primary",


    data () {
      return {
        // policies: this.$lodash.cloneDeep(this.$store.state.policies)
      }
    },

    computed: {
      ...mapGetters({
        loading: 'loading',
        locations: 'locations',
        policies: 'policies',
      })
    },


  mounted() {
    this.$store.dispatch("getLocations");
  },
methods: {
    updatePolicyProfile: function(policyIndex, profileIndex, field, value) {
      this.$store.commit("updatePolicyProfile", {
        policyIndex,
        profileIndex,
        field,
        value
      });
    },
  submit: function() {
    this.$validator.validateAll().then((result) => {
      if (result) {
        this.$store.dispatch('postPolicySync').then((response) => {
          this.$router.push('/policies/'+response.data.data.policies[0].id+'/profiles/'+response.data.data.policies[0].profiles[0].id+'/'+response.data.data.policies[0].profiles[0].sections.next_section);

          this.$store.commit('updatePolicyProfile', {
            policyIndex: 0,
            profileIndex: 0,
            field: 'current_section',
            value: response.data.data.policies[0].profiles[0].sections.next_section
          });

        this.$store.commit("updatePolicyProfile", {
          policyIndex: 0,
          profileIndex: 0,
          field: "current_section",
          value: response.data.policies[0].profiles[0].sections.next_section
        });

        this.$store.dispatch("postPolicySync");
      });
    }
  });
  }
}
};
</script>

