<template>
    <div class="row form">
        <div class="col-md-12">
            <form action="">
                <div class="bottom-border-block">
                    <label ref="sme_selected">
                        Specify insured sum for the items that you would like to insure
                    </label>
                </div>

                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_fire_perils.show = !profiles[0].sme_fire_perils.show">
                        <label class="accor-title">
                            Fire & Perils & All other office contents
                        </label>
                        <span class="checked_num" v-show="profiles[0].sme_fire_perils.checked > 0">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            {{profiles[0].sme_fire_perils.checked}}
                        </span>
                    </div>
                    <div class="form-group" v-show="profiles[0].sme_fire_perils.show" >
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="profiles[0].sme_fire_perils.office_furniture" @click="checkFirePerils(profiles[0].sme_fire_perils.office_furniture)" >
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span class="label-text">Office furniture, fixtures and fittings</span>
                            </label>
                        </div>
                        <div class="optional" v-if="profiles[0].sme_fire_perils.office_furniture == '1'">
                            <input v-validate="profiles[0].sme_fire_perils.office_furniture?'required':''"  v-model="profiles[0].sme_fire_perils.sum_office_furniture" @change="updateProfiles('sum_on_furniture_fixtures_fittings', profiles[0].sme_fire_perils.sum_office_furniture)" class="form-control" :class="{'input': true, 'is-danger': errors.has('sum_office_furniture') }"   name="sum_office_furniture" data-vv-as="Office furniture, fixtures and fittings" type="number">
                            <span v-show="errors.has('sum_office_furniture')" class="help is-danger">{{ errors.first('sum_office_furniture') }}</span>
                        </div>
                        
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="profiles[0].sme_fire_perils.stock_for_trade" @click="checkFirePerils(profiles[0].sme_fire_perils.stock_for_trade)">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span class="label-text">Stock for your trade</span>
                            </label>
                        </div>
                      
                        <div class="optional" v-if="profiles[0].sme_fire_perils.stock_for_trade == '1'">
                            <input v-validate="profiles[0].sme_fire_perils.stock_for_trade?'required':''" v-model="profiles[0].sme_fire_perils.sum_stock_for_trade" @change="updateProfiles('sum_on_stock_for_trade', profiles[0].sme_fire_perils.sum_stock_for_trade)" class="form-control"  :class="{'input': true, 'is-danger': errors.has('sum_stock_for_trade') }" name="sum_stock_for_trade" data-vv-as="Stock for your trade" type="number">
                            <span v-show="errors.has('sum_stock_for_trade')" class="help is-danger">{{ errors.first('sum_stock_for_trade') }}</span>
                        </div>
                        
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="profiles[0].sme_fire_perils.other_office" @click="checkFirePerils(profiles[0].sme_fire_perils.other_office)">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span class="label-text">Other office contents</span>
                            </label>
                        </div>
                        
                        <div class="optional" v-if="profiles[0].sme_fire_perils.other_office == '1'">
                            <input v-validate="profiles[0].sme_fire_perils.other_office?'required':''" v-model="profiles[0].sme_fire_perils.sum_other_office" @change="updateProfiles('sum_on_office_contents', profiles[0].sme_fire_perils.sum_other_office)" class="form-control" :class="{'input': true, 'is-danger': errors.has('sum_other_office') }"  name="sum_other_office" data-vv-as="Other office contents" type="number">
                            <span v-show="errors.has('sum_other_office')" class="help is-danger">{{ errors.first('sum_other_office') }}</span>
                        </div>
                    </div>
                </div>

                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_building.show = !profiles[0].sme_building.show">
                        <label class="accor-title">
                            Building
                        </label>
                    </div>
                   
                    <div class="form-group" v-show="profiles[0].sme_building.show" >
                        <label for="sum_insured_building">Sum you want to insure building for</label>
                        <input v-validate="'required'" v-model="profiles[0].sme_building.sum_insured_building"  class="form-control"   name="sum_insured_building" type="number">
                        <br>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_business_interruption.show = !profiles[0].sme_business_interruption.show">
                        <label class="accor-title">
                            Business Interruption
                        </label>
                        <span class="checked_num" v-show="profiles[0].sme_business_interruption.checked > 0">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            {{profiles[0].sme_business_interruption.checked}}
                        </span>
                    </div>
                   
                    <div class="form-group" v-show="profiles[0].sme_business_interruption.show" >
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="profiles[0].sme_business_interruption.gross_profit" @click="checkBusinessInterruption(profiles[0].sme_business_interruption.gross_profit)" >
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span class="label-text">Gross Profit / Revenue / Rental Income</span>
                            </label>
                        </div>
                   
                        <div class="optional" v-if="profiles[0].sme_business_interruption.gross_profit == '1'">
                            <input v-validate="profiles[0].sme_business_interruption.gross_profit?'required':''" v-model="profiles[0].sme_fire_perils.sum_gross_profit" @change="updateProfiles('sum_on_business_interruption_income', profiles[0].sme_fire_perils.sum_gross_profit)"  class="form-control" :class="{'input': true, 'is-danger': errors.has('sum_gross_profit') }" name="sum_staff_wages" data-vv-as="Staff wages" type="number"/>
                            <span v-show="errors.has('sum_gross_profit')" class="help is-danger">{{ errors.first('sum_gross_profit') }}</span> 
                        </div>
                       
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="profiles[0].sme_business_interruption.staff_wages" @click="checkBusinessInterruption(profiles[0].sme_business_interruption.staff_wages)" >
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span class="label-text">Staff wages</span>
                            </label>
                        </div>
                       
                        <div class="optional" v-if="profiles[0].sme_business_interruption.staff_wages == '1'">
                            <input v-validate="profiles[0].sme_business_interruption.staff_wages?'required':''" v-model="profiles[0].sme_fire_perils.sum_staff_wages" @change="updateProfiles('sum_on_business_interruption_wages', profiles[0].sme_fire_perils.sum_staff_wages)" class="form-control" :class="{'input': true, 'is-danger': errors.has('sum_staff_wages') }"   name="sum_staff_wages" data-vv-as="Staff wages" type="number">
                            <span v-show="errors.has('sum_staff_wages')" class="help is-danger">{{ errors.first('sum_staff_wages') }}</span>
                        </div>
                       
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="profiles[0].sme_business_interruption.auditors_fees" @click="checkBusinessInterruption(profiles[0].sme_business_interruption.auditors_fees)" >
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span class="label-text">Auditors Fees</span>
                            </label>
                        </div>
                        
                        <div class="optional" v-if="profiles[0].sme_business_interruption.auditors_fees == '1'">
                            <input v-validate="profiles[0].sme_business_interruption.auditors_fees?'required':''" v-model="profiles[0].sme_fire_perils.sum_auditors_fees" @change="updateProfiles('sum_on_business_interruption_auditors_fees', profiles[0].sme_fire_perils.sum_auditors_fees)" class="form-control" :class="{'input': true, 'is-danger': errors.has('sum_auditors_fees') }"  name="sum_auditors_fees" data-vv-as="Auditors Fees" type="number">
                            <span v-show="errors.has('sum_auditors_fees')" class="help is-danger">{{ errors.first('sum_auditors_fees') }}</span>
                        </div>
                    </div>
                </div>

                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_electronic_equipment.show = !profiles[0].sme_electronic_equipment.show">
                        <label class="accor-title">
                            Electronic Equipment
                        </label>
                        <span class="checked_num" v-show="profiles[0].sme_electronic_equipment.checked > 0">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            {{profiles[0].sme_electronic_equipment.checked}}
                        </span>
                    </div>
                    
                    <div class="form-group" v-show="profiles[0].sme_electronic_equipment.show" >
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="profiles[0].sme_electronic_equipment.office_computers" @click="checkElectronicEquipment(profiles[0].sme_electronic_equipment.office_computers)" >
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span class="label-text">Office computers and Accessories</span>
                            </label>
                        </div>
                    
                        <div class="optional" v-if="profiles[0].sme_electronic_equipment.office_computers == '1'">
                            <input v-validate="profiles[0].sme_electronic_equipment.office_computers?'required':''"  v-model="profiles[0].sme_fire_perils.sum_office_computers" @change="updateProfiles('sum_on_electronic_equipments', profiles[0].sme_fire_perils.sum_office_computers)" class="form-control"  :class="{'input': true, 'is-danger': errors.has('sum_office_computers') }" name="sum_office_computers" data-vv-as="Office computers and Accessories" type="number">
                            <span v-show="errors.has('sum_office_computers')" class="help is-danger">{{ errors.first('sum_office_computers') }}</span>
                        </div>
                      
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model="profiles[0].sme_electronic_equipment.portable_laptop" @click="checkElectronicEquipment(profiles[0].sme_electronic_equipment.portable_laptop)" >
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span class="label-text">Portable laptop (covered worldwide)</span>
                            </label>
                        </div>
                        
                        <div class="optional" v-if="profiles[0].sme_electronic_equipment.portable_laptop == '1'">
                            <input v-validate="profiles[0].sme_electronic_equipment.portable_laptop?'required':''" v-model="profiles[0].sme_fire_perils.sum_portable_laptop" @change="updateProfiles('sum_on_electronic_equipments_worldwide', profiles[0].sme_fire_perils.sum_portable_laptop)" class="form-control" :class="{'input': true, 'is-danger': errors.has('sum_portable_laptop') }"  name="sum_portable_laptop" data-vv-as="Portable laptop (covered worldwide)" type="number">
                            <span v-show="errors.has('sum_portable_laptop')" class="help is-danger">{{ errors.first('sum_portable_laptop') }}</span>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_portable_office_items.show = !profiles[0].sme_portable_office_items.show">
                        <label class="accor-title">
                            Portable office Items you carry around
                        </label>
                    </div>
                    
                    <div class="form-group" v-show="profiles[0].sme_portable_office_items.show" >
                        <label for="value_of_items_carried">Value of items commonly carried around</label>
                        <input v-validate="'required'" v-model="profiles[0].sme_portable_office_items.value_of_items_carried" @change="updateProfiles('sum_on_portable_items_worldwide', profiles[0].sme_portable_office_items.value_of_items_carried)" class="form-control"   name="value_of_items_carried" type="number">
                        <br>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_burglary.show = !profiles[0].sme_burglary.show">
                        <label class="accor-title">
                            Burglary
                        </label>
                    </div>
                 
                    <div v-show="profiles[0].sme_burglary.show">
                        <div class="form-group">
                            <label for="value_insured_event_barglary">Value to be insured in the event of a barglary</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_burglary.value_insured_event_barglary" @change="updateProfiles('sum_on_burglary_declared_value', profiles[0].sme_burglary.value_insured_event_barglary)" class="form-control"   name="value_insured_event_barglary" type="number">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="first_loss">First loss</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_burglary.first_loss" @change="updateProfiles('sum_on_burglary_first_loss', profiles[0].sme_burglary.first_loss)" class="form-control"   name="first_loss" type="number">
                            <br>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_money.show = !profiles[0].sme_money.show">
                        <label class="accor-title">
                            Money
                        </label>
                    </div>
                
                    <div v-show="profiles[0].sme_money.show">
                        <div class="form-group">
                            <label for="cash_in_transit">Cash in Transit</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_money.cash_in_transit" @change="updateProfiles('sum_on_money_in_transit', profiles[0].sme_money.cash_in_transit)" class="form-control"   name="cash_in_transit" type="number">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="cash_on_premise">Cash on premises during business hours</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_money.cash_on_premise" @change="updateProfiles('sum_on_money_in_premises_during_business_hours', profiles[0].sme_money.cash_on_premise)" class="form-control"   name="cash_on_premise" type="number">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="cash_in_safe">Cash in safe outside business hours</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_money.cash_in_safe" @change="updateProfiles('sum_on_money_in_safe_outside_business_hours', profiles[0].sme_money.cash_in_safe)" class="form-control"   name="cash_in_safe" type="number">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="damage_to_office">Damage to office safe</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_money.damage_to_office" @change="updateProfiles('sum_on_money_damage_to_safe', profiles[0].sme_money.damage_to_office)" class="form-control"   name="damage_to_office" type="number">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="cash_with_authorized">Cash with authorized employees</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_money.cash_with_authorized" @change="updateProfiles('sum_on_money_with_authorized_employees', profiles[0].sme_money.cash_with_authorized)" class="form-control"   name="cash_with_authorized" type="number">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="estimated_cash">Estimated cash carried in a year</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_money.estimated_cash" @change="updateProfiles('sum_on_money_estimated_annual_carry', profiles[0].sme_money.estimated_cash)" class="form-control"   name="estimated_cash" type="number">
                            <br>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_plate_glass.show = !profiles[0].sme_plate_glass.show">
                        <label class="accor-title">
                            Plate Glass
                        </label>
                    </div>
                
                    <div class="form-group" v-show="profiles[0].sme_plate_glass.show">
                        <label for="glass_items">Glass items</label>
                        <input v-validate="'required'" v-model="profiles[0].sme_plate_glass.glass_items" @change="updateProfiles('sum_on_glass', profiles[0].sme_plate_glass.glass_items)" class="form-control" name="glass_items" type="number">
                        <br>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_fidelity_guarantee.show = !profiles[0].sme_fidelity_guarantee.show">
                        <label class="accor-title">
                            Fidelity Guarantee
                        </label>
                    </div>
                
                    <div v-show="profiles[0].sme_fidelity_guarantee.show">
                        <div class="form-group">
                            <label for="fidelity_exposure">Fidelity exposure for any one employee</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_fidelity_guarantee.fidelity_exposure" @change="updateProfiles('sum_on_fidelity_guarantee_one_employee_limit', profiles[0].sme_fidelity_guarantee.fidelity_exposure)" class="form-control" name="fidelity_exposure" type="number">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="aggredgated_annual">Aggregated annual Carry Value</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_fidelity_guarantee.aggredgated_annual" @change="updateProfiles('sum_on_fidelity_guarantee_aggregate_limit', profiles[0].sme_fidelity_guarantee.aggredgated_annual)" class="form-control" name="aggredgated_annual" type="number">
                            <br>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_goods_in_transit.show = !profiles[0].sme_goods_in_transit.show">
                        <label class="accor-title">
                            Goods in Transit
                        </label>
                    </div>
                
                    <div v-show="profiles[0].sme_goods_in_transit.show">
                        <div class="form-group">
                            <label for="vehicle_load">Any one vehicle of load</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_goods_in_transit.vehicle_load" @change="updateProfiles('sum_on_goods_in_transit_one_vehicle_of_load', profiles[0].sme_goods_in_transit.vehicle_load)" class="form-control" name="vehicle_load" type="number">
                            <br>
                        </div>
                        
                        <div class="form-group">
                            <label for="estimated_annual_carry">Estimated Annual Carry Value</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_goods_in_transit.estimated_annual_carry" @change="updateProfiles('sum_on_goods_in_transit_annual_carry', profiles[0].sme_goods_in_transit.estimated_annual_carry)" class="form-control" name="estimated_annual_carry" type="number">
                            <br>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_public_liability.show = !profiles[0].sme_public_liability.show">
                        <label class="accor-title">
                            Public Liability (Claims Made Basis)
                        </label>
                    </div>
                
                    <div class="form-group" v-show="profiles[0].sme_public_liability.show">
                        <label for="limit_of_indemnity">Limit of Indemnity</label>
                        <input v-validate="'required'" v-model="profiles[0].sme_public_liability.limit_of_indemnity" @change="updateProfiles('sum_on_indemnity_limit', profiles[0].sme_public_liability.limit_of_indemnity)" class="form-control" name="limit_of_indemnity" type="number">
                        <br>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_wiba.show = !profiles[0].sme_wiba.show">
                        <label class="accor-title">WIBA (Occupational)</label>
                        <span class="checked_num" v-show="profiles[0].sme_wiba.checked > 0">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            {{profiles[0].sme_wiba.checked}}
                        </span>
                    </div>
                
                    <div v-show="profiles[0].sme_wiba.show">
                        <div class="form-group" style='text-align: center;'>
                            <label >Estimated annual Wages <br>(mustn't exceed 30M KES)</label>
                        </div>
                
                        <div class="form-group">
                            <label for="admin">Clerical, admin and management staff, KES</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_wiba.admin"  @change="updateProfiles('sum_on_wiba_clerical_admin_management_stuff', profiles[0].sme_wiba.admin)" class="form-control" name="admin" type="number" @blur="checkWIBA()">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="casual">All others including casual and temporary staff, KES</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_wiba.casual" @change="updateProfiles('sum_on_wiba_casual_temporary_others', profiles[0].sme_wiba.casual)" class="form-control" name="casual" type="number" @blur="checkWIBA()">
                            <br>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_group_personal.show = !profiles[0].sme_group_personal.show">
                        <label class="accor-title">Group Personal Accident (NON - OCCUPATIONAL)</label>
                        <span class="checked_num" v-show="profiles[0].sme_group_personal.checked > 0">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            {{profiles[0].sme_group_personal.checked}}
                        </span>
                    </div>
                
                    <div v-show="profiles[0].sme_group_personal.show">
                        <div class="form-group" style='text-align: center;'>
                            <label >Estimated Annual Earnings</label>
                        </div>
                
                        <div class="form-group">
                            <label for="admin">Clerical, admin and management staff, KES</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_group_personal.admin" @change="updateProfiles('sum_on_gpa_clerical_admin_management_stuff', profiles[0].sme_group_personal.admin)" class="form-control" name="admin" type="number" @blur="checkGroupPersonal()">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="casual">All others including casual and temporary staff, KES</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_group_personal.casual" @change="updateProfiles('sum_on_gpa_casual_temporary_others', profiles[0].sme_group_personal.casual)" class="form-control" name="casual" type="number" @blur="checkGroupPersonal()">
                            <br>
                        </div>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_employer_liability.show = !profiles[0].sme_employer_liability.show">
                        <label class="accor-title">Employer's Liability</label>
                        <span class="checked_num" v-show="profiles[0].sme_employer_liability.checked > 0">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            {{profiles[0].sme_employer_liability.checked}}
                        </span>
                    </div>
                
                    <div v-show="profiles[0].sme_employer_liability.show">
                        <div class="form-group" style='text-align: center;'>
                            <label >Estimated annual salaries mustn't exceed 30M KES</label>
                        </div>
                        <div class="form-group">
                            <label for="option_A">Estimated Annual Wages, KES - Option A</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_employer_liability.option_A" class="form-control" name="option_A" type="number">
                            <br>
                        </div>
                
                        <div class="form-group">
                            <label for="option_C">Estimated Annual Wages, KES - Option C</label>
                            <input v-validate="'required'" v-model="profiles[0].sme_employer_liability.option_C" class="form-control" name="option_C" type="number">
                            <span>Limits: 4M per employee; 25M per event, 50M in aggregate</span>
                        </div>
                        <br>
                    </div>
                </div>
                
                <div class="bottom-border-block">
                    <div class="form-group" @click.prevent="profiles[0].sme_machine_break.show = !profiles[0].sme_machine_break.show">
                        <label class="accor-title">
                            Machinery breakdown
                        </label>
                    </div>
                
                    <div class="form-group" v-show="profiles[0].sme_machine_break.show">
                        <label for="machinery_breakdown">Limit of Indemnity</label>
                        <input v-validate="'required'" v-model="profiles[0].sme_machine_break.machinery_breakdown" @change="updateProfiles('sum_on_machinary_breakdown', profiles[0].sme_machine_break.machinery_breakdown)" class="form-control" name="machinery_breakdown" type="number">
                        <br>
                    </div>
                </div>

                <br>

                <div class="form-group text-center">
                    <button class="btn btn-default" @click.prevent="getQuotes" :disabled="loading">{{ loading? 'loading...' : 'get free quotes' }}</button>
                </div>


            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Sme_quotes",

  data() {
    return {
      // profiles: this.$lodash.cloneDeep(this.$store.state.profiles)
    };
  },

  props: ["btn-txt"],

  computed: {
    ...mapGetters({
      loading: "loading",
      profiles: "profiles"
    })
  },
  mounted() {
    this.$refs.sme_selected.focus();

    let center = $(window).height() / 2;
    let top = $(this.$refs.sme_selected).offset().top;

    if (top > center) {
      $(window).scrollTop(top - center);
    }
  },
  methods: {
    checkGroupPersonal: function() {
      this.profiles[0].sme_group_personal.checked =
        (this.profiles[0].sme_group_personal.admin > 0 ? 1 : 0) +
        (this.profiles[0].sme_group_personal.casual > 0 ? 1 : 0);
    },
    checkWIBA: function() {
      this.profiles[0].sme_wiba.checked =
        (this.profiles[0].sme_wiba.admin > 0 ? 1 : 0) +
        (this.profiles[0].sme_wiba.casual > 0 ? 1 : 0);
    },
    checkFirePerils: function(val) {
      if (val) {
        this.profiles[0].sme_fire_perils.checked++;
      } else {
        this.profiles[0].sme_fire_perils.checked--;
      }
    },
    checkBusinessInterruption: function(val) {
      if (val) {
        this.profiles[0].sme_business_interruption.checked++;
      } else {
        this.profiles[0].sme_business_interruption.checked--;
      }
    },
    checkElectronicEquipment: function(val) {
      if (val) {
        this.profiles[0].sme_electronic_equipment.checked++;
      } else {
        this.profiles[0].sme_electronic_equipment.checked--;
      }
    },
    updateProfiles: function(field, value) {
      for (
        let profileIndex = 0;
        profileIndex < this.profiles.length;
        profileIndex++
      ) {
        this.updateProfile(profileIndex, field, value);
      }
    },

    updateProfile: function(profileIndex, field, value) {
      this.$store.commit("updateProfiles", { profileIndex, field, value });
    },

    getQuotes: function() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch("postQuotesStore").then(response => {
            this.$store.commit("setProfiles", response.data.data.profiles);
            this.$router.push("/quotes/" + response.data.data.quote.id);
          });
        }
      });
    }
  }
};
</script>

<style scoped>
.accor-title {
  font-size: 17px;
  font-weight: bold;
}

.label-text {
  width: fit-content !important;
}

.checked_num {
  color: red;
  line-height: 34px;
  margin-bottom: 5px;
  float: right;
}

.bottom-border-block {
  padding: 0px;
  border-width: 2px;
}

.form-group {
  margin-bottom: 0px !important;
}

.checkbox .cr {
  width: 20px !important;
  height: 20px !important;
}

.form-group,
.checkbox {
  clear: both;
}

.optional {
  margin-bottom: 20px;
}
</style>
