<template>
  <div id="app">
	<main-header></main-header>
	<router-view></router-view>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-menu">
						<ul>
							<li><a href="#">contact us</a></li>
							<li><a href="#">terms</a></li>
							<li><a href="#">privacy policy</a></li>
							<li><a href="#">jobs</a></li>
						</ul>

						<!-- <div class="copyright">
							2017 BimaExchange. All rights reserved. Backed by AON
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</footer>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "app",

  // data() {
  //   return {
  //     selNavPage: ""
  //   };
  // },

  // computed: {
  //   ...mapGetters({
  //     loggedInUser: "loggedInUser",
  //     token: "token"
  //   })
  // },

  mounted(){
    var token = localStorage.getItem('token');

    if(token){
      this.$store.dispatch("getLoggedInUser");
    }
    // this.$store.dispatch("getLoggedInUser").then(res => {
      // console.log(this.loggedInUser)
    // });
  }

  // methods: {
  //   navBtnClickHander: function(page) {
  //     this.selNavPage = page;
  //   },

  //   logout: function() {
  //     this.$store.dispatch("logout");
  //     localStorage.removeItem("logged_in_user");
  //   }
  // }
};
</script>

<style lang="scss">
@import "scss/style.scss";
</style>
